[2016-07-07 22:13] #183 closed

[2016-07-08 10:18] sebastiz commented on #87
I get this problem too with Mac El Capitane 10.11.3 and R Studio Version 0.98.1091 and DiagrammeR 0.8.2. It only affects plots from DiagrammeR. What should I do about it?

[2016-07-09 02:30] vnijs commented on #149
@rich-iannone Do you have a time-line to push 0.8.3 to CRAN?

[2016-07-15 12:31] gepeto42 commented on #119
I'm not 100% sure this is the same issue, but it is very similar.

If I make a R Markdown ioslides presentation with two Mermaid graphs, quite often, their "content" does not appear, but the outline does.

If I refresh the browser on the problematic slide, it then loads ok, but that makes it impossible to look at a presentation that contains multiple grpahs.

I have noticed that it does seem to co

[2016-07-15 20:54] rich-iannone commented on #149
@vnijs It took a bit longer than anticipated, but I just submitted 0.8.3 to CRAN.

[2016-07-15 22:21] vnijs commented on #149
Thanks @rich-iannone!

[2016-07-19 13:41] Emaasit opened #185 "Drawing Bayesian Factor Graphs"
Is there functionality for drawing Bayesian Factor Graphs like those shown in the attached figures. There's a latex package that does that here: https://github.com/jluttine/tikz-bayesnet
![](https://camo.githubusercontent.com/fbf4d440a074ade5e339688cc84f942a38f01f23/687474703a2f2f692e696d6775722e636f6d2f43425a714c2e706e67)

[2016-07-25 10:50] mabawsa opened #186 "Node size on a fixed position network"
I am trying to make the node size change depending on a fixed position (large network).
However, the node size always defaults to the width of the text. Additionally the plaintext option plots a black ellipse. Any ideas?
![example](https://cloud.githubusercontent.com/assets/7529270/17099075/fbb23abe-52a0-11e6-8d14-b703d36e71eb.png)

[code]

[2016-07-26 06:53] rich-iannone commented on #186
Apparently some of the visNetwork rendering is broken. However, this seems to work better:

[code]

<img width="382" alt="visnetwork_output" src="https://cloud.githubusercontent.com/assets/5612024/17128625/f4c53f90-52c2-11e6-948e-d7246a69748c.png">

Let me know if that's closer to what you'd like to plot.

[2016-07-28 23:29] #178 closed

[2016-07-28 23:30] #97 closed

[2016-07-28 23:31] #77 closed

[2016-07-28 23:31] #81 closed

[2016-08-08 05:03] mabawsa commented on #186
Thanks a lot. I would really need the names to be in the center of the circle for layout purposes as the network has 1200 nodes.
I will look into other tools.

[2016-08-08 05:03] #186 closed

[2016-08-16 15:10] GegznaV opened #187 "Incorrect international symbols: parameter `encoding = "UTF-8"` in `grViz` is needed"
I use international symbols in my DiagrammeR plots. Function `grViz` internally uses `readLines`. Unfortunately, there is no possibility to pass parameter `encoding`  to `readLines` via `grViz`. This leads to incorrect international symbols in my diagrams. I'd like to ask to **add parameter `encoding`** (or equivalent) **with default value set to ` "UTF-8"`** to function `grViz`.

_The illustratio

[2016-08-16 15:43] GegznaV commented on #187
I think, the same applies to function `mermaid` which also lacks parameter `encoding`.

[2016-08-16 15:50] GegznaV commented on #182
Are you searching for this?:

[code]

}

![rplot03](https://cloud.githubusercontent.com/assets/12725868/17705777/46bade38-63e2-11e6-984c-72b13ef127a1.jpeg)

[2016-08-17 00:18] rich-iannone commented on #187
@GegznaV Thanks for creating an issue for this and proposing the solution. It's now implemented internally. Any unicode symbols work now with no problem. Please test and let me know if there is still a problem with this.

[2016-08-17 00:18] rich-iannone commented on #187
Will try to implement with `mermaid` next.

[2016-08-17 17:59] rich-iannone commented on #187
@GegznaV Now implemented for `mermaid`. Thanks again for pointing this out.

[2016-08-17 17:59] #187 closed

[2016-08-17 18:01] rich-iannone commented on #182
@CW214 @GegznaV I was thinking of having this as an option in `render_graph()`. Perhaps I'll build that in very soon with some basic styling options.

[2016-08-17 18:04] rich-iannone commented on #156
I will build this option into `render_graph()` quite soon. Thanks for the feature request.

[2016-08-17 19:01] GegznaV commented on #187
Now encoding is correct using both `grViz` and `mermaid`.
Thank you for quick response :+1:

[2016-08-21 07:42] rich-iannone commented on #163
@happyshows this took awhile to address but I fixed up the some of the code (it's now a bit more dependable). Below is an example where a graph's nodes have a `fillcolor` node attribute that is modified by the `alpha:fillcolor` node attribute. Note that the node attribute with alpha values has to be named with the construction: `alpha:[existing color-based node_attr]`. Alpha values should be in th

[2016-08-21 18:06] Wario84 commented on #133
Hi,

I have tried to embed a ggvis plot in a pdf using knitr without success. I have failed to use the export_png() from ggvis, I read the installing vega on windows has problems. I was wondering if it is possible to use DiagrammeRsvg/DiagrammeR to export the ggvis object to PNG? My final goal is to embed it in a pdf doc using knitr.

Thanks a lot for any suggestion,

[2016-08-22 14:39] pm0kjp opened #188 "2-digit footnote doesn't work?"
Using 0.8.4 aka the CRAN version.

Using "crying baby decision tree" to illustrate some concepts.   When I have >9 nodes and want to label using @@ replacement, I get the following error.

[code]

To reproduce:  code block below gives error .  Remove only the last footnote and it works (albeit without the right label on one of my nodes).  LMK if I can help by giving more information or sharing the

[2016-08-23 15:17] rich-iannone commented on #188
@pm0kjp Thanks for raising this issue, the code was indeed not parsing anything in the double digits. This is now fixed in the GitHub version of DiagrammeR. Would you be able to install that and then retry your code?

To install DiagrammeR from GitHub:
[code]

Let me know if this still doesn't work after your testing. Thanks!

[2016-08-23 22:11] rich-iannone commented on #185
@Emaasit It's entirely possible to produce the above example graph with the package but there's no framework specific to Bayesian Factor graphs. It's seems like a good idea for you to begin an R package that can help with making these graphs. Now that Unicode support enabled in **DiagrammeR**, the math symbols won't pose a problem.

[2016-08-23 22:12] #173 closed

[2016-08-26 21:02] timelyportfolio commented on #91
I discovered this repo https://github.com/ichuang/svg_mathjax2 today, and it might just woork for LaTeX in `grViz`.  I have worked up some quick code in a forked branch.  Here is a quick example.

[code]

![image](https://cloud.githubusercontent.com/assets/837910/18020286/48a7bc90-6ba6-11e6-82ee-081889ead8a3.png)

[2016-08-26 21:05] rich-iannone commented on #91
@timelyportfolio This is fantastic! I've been looking for this exact functionality. I'm definitely going to work this into DiagrammeR. Thanks!

[2016-08-26 21:06] rich-iannone commented on #91
@timelyportfolio forgot to ask in my excitement: would you be able to make a PR for this?

[2016-08-26 21:08] timelyportfolio commented on #91
Let's test a little bit before PR time.  Happy to submit PR after a little testing.  Also, please be sure to see the deficiencies that I added in the discussion above.

[2016-08-26 21:12] rich-iannone commented on #91
@timelyportfolio yes, testing is always a good thing. Noted these deficiencies and it does seem like there might be more little issues.

[2016-08-31 17:56] CW214 commented on #182
That would be good thanks.

[2016-09-05 00:28] #188 closed

[2016-09-07 15:35] rich-iannone commented on #182
@CW214 The option to add in a graph title has been implemented. Here is an example:

[code]

The graph output:

![graph with title](https://cloud.githubusercontent.com/assets/5612024/18318260/e68fa3e0-74d5-11e6-8dbb-08300114de04.png)

I will perhaps add in some options for styling and placement of the text but this is pretty good for now.

[2016-09-07 15:35] #182 closed

[2016-09-11 13:07] #163 closed

[2016-09-12 13:19] happyshows commented on #163
Looks nice, thanks.

[2016-09-14 21:06] iwi opened #190 "Keep character nodes after combine_nodes()"
The last bit of the `combine_nodes()` function

[code]

if the _nodes_ are characters (e.g. "z", "a", "b") they become integers (e.g. "3", "1", "2").

As a consequence the following `add_edge_df()` after `add_node_df()` example fails:

[code]

Would you want to:
- add a condition for the `as.integer(df_new[, 1])` so in case one of the dataframes nodes are character then do `as.character(df_new[, 1

[2016-09-14 22:39] rich-iannone commented on #190
Hello,

The intent was to enforce the node ID to be integer only. Having this condition opens up a lot of possibilities for other aspects. However, this condition is not yet explicitly stated anywhere. For text labels and categories, the label and type attributes should be used.

Let me know what you think of this change.

Cheers,
Rich

Sent from my iPhone

[2016-09-15 06:21] iwi commented on #190
hi,

Yes, the more I think about it the more it makes sense to keep it simple (integer). I suppose it also helps with compatibility when exporting to/importing from different graph formats.

Maybe worth stating it on the graph creation documentation or maybe forcing the _nodes_ type to be integer.

Thank you,
--
Iu

[2016-09-15 06:42] rich-iannone commented on #190
Yes, a few good reasons were the compatibility/interchangeability with other formats and having more simplicity.

The goal is to restrict any setting of the node ID by the user (the IDs will essentially be auto-incrementing integers, and this occurs with some functions). The next step indeed is to change a few of the functions to remove the ability to manually set the ID values.

Cheers,
Rich

Sen

[2016-09-20 13:28] eborbath commented on #170
I was actually wondering about the same. Do you have a good suggestion for this? maybe I am missing something. I would like to make a simple moderated mediation graph.
Thanks for the package, it's really great!

[2016-09-23 20:39] daniclaar commented on #188
Hi,
I have just started using DiagrammeR, and am excited to try to use it for a couple of my current projects. Unfortunately, I'm having what appears to be the same problem as above, and I've tried your solution above, and it did not fix the problem.

I'm using R version 3.3.1 in RStudio Version 0.99.902 on OS X El Capitan 10.11.6. This code is within a RMarkdown file, but right now I'm just runni

[2016-09-24 06:36] #190 closed

[2016-09-28 00:17] #174 closed

[2016-09-30 00:35] vnijs commented on #182
Nice. Is something like this also possible for mermaid plots?

[2016-10-13 07:51] shrektan commented on #107
@benmarwick really? I think write like this `"abc(abc)abc"` should be ok. Try the code below:

[code]

[2016-10-27 07:26] #107 closed

[2016-10-27 07:26] #156 closed

[2016-10-28 12:27] guiastrennec opened #193 "Handling colors differently"
This is more a suggestion than an issue but instead of the `X11_hex.R` function , you could consider the following function, to assign an alpha to colors and convert them into hexadecimal. It runs quite quickly and handles multiple color input a once:

[code]

[2016-10-28 15:49] timelyportfolio commented on #91
Any follow up?

[2016-10-29 17:32] ellereve commented on #133
Is there any solution for including a DiagrammeR figure into Knitr for the less tech savvy?

[2016-10-29 17:45] ellereve commented on #133
@skanskan ever get it to work?

[2016-10-29 18:24] rich-iannone commented on #133
@ellereve for now, the only solution is to install webshot and phantomjs. I'll work on including documentation to help with this.

[2016-10-29 18:35] skanskan commented on #133
webshot?  I guess this won't allow any interactivity, just an static image

[2016-11-01 13:32] guiastrennec opened #194 "Font size in subscript"
Would it be possible to scale sub/superscripts proportionally to the `fontsize`?

[code]
![big_subscript](https://cloud.githubusercontent.com/assets/7304883/19891343/f532a664-a03f-11e6-81b8-a0a79a3613bf.png)

[2016-11-06 18:26] CianMurphy opened #195 "Crashes when rendering graph"
I have attached the objects I pass to create_graph. When I render it, I get the error appended to this file. It does resolve when I use a shorter label, eg 1 character. But this is not very useful. Ideally, I would have labels of upto around 100 characters with dataframes that may have more nodes and edges than this one too. Is this a RAM limit perhaps? My laptop has 8gb.

[DiagrammerQuery.txt](ht

[2016-11-07 14:05] guiastrennec opened #196 "Issue with rendering in shinyapps.io"
Hi,

I created a way to dynamically visualize differential equations systems thanks to DiagrammeR (CRAN v0.8.4), you can see it under the dQMD tab on this [shiny app](https://guiastrennec.shinyapps.io/modelviz_app/)

While the app was working perfectly on my mac but once uploaded to shinyapps.io, the color gradients were not properly rendered. I could see this issue with safari (rendered black nod

[2016-11-07 18:09] rich-iannone commented on #193
@guiastrennec Thanks for this! I will implement this soon.

[2016-11-07 18:11] rich-iannone commented on #194
@guiastrennec I will work on this soon. Thanks again.

[2016-11-07 18:17] rich-iannone commented on #196
@guiastrennec had a look at the example on **shinyapps** and I'm seeing the same thing in Safari. I'll dig into this and see if anything can be done to get the gradients working properly.

[2016-11-07 18:18] #185 closed

[2016-11-07 18:19] rich-iannone commented on #181
There seems to be a persistent issue where Chrome renders everything nicely but other browsers do not. I'll look into this.

[2016-11-07 18:19] #179 closed

[2016-11-07 22:10] guiastrennec commented on #196
Thank you very much for looking into this!

[2016-11-14 00:14] jsta opened #197 "Port-based edges for record nodes"
It seems that `grViz` can render the graph at http://graphviz.org/content/datastruct. However, I am having trouble producing similar port-based edges in the R interface through `create_edge_df` or `add_edge`.

Reproducible example:

[code]

Is this possible using `DiagrammeR`?

[2016-11-16 11:59] CianMurphy commented on #195
Hi Rich. Any progress on this?

[2016-11-25 04:38] steadyfish opened #198 "graphviz substitution doesn't work for more than 9 footnotes"
Hi,

I was trying out the graphviz substitution functionality you describe here - http://rich-iannone.github.io/DiagrammeR/graphviz_and_mermaid.html

but it seems it doesn't work for more than 9 footnotes. Possibly because of this regex -

`split_references <- gsub("\\[[0-9*]\\]:[ ]?", "", unlist(strsplit(x = spec_references,
      "\\n")))` in `replace_in_spec` function.

Example -
[code]

Error

[2016-12-07 07:03] janvydra opened #199 "DiagrammeR not rendering in RPresentation?"
Simple diagram renders correctly in RMarkdown file, but when included in RPresentation it gives error "Error in file(con, "rb") : cannot open the connection".
Is it possible to include DiagrammeR in RPresentation?

[code]

[2016-12-09 14:53] rich-iannone commented on #198
Could you try this again but after installing the GitHub version of DiagrammeR? I think this exact issue came up before but was addressed with a fix in just the dev version.

I'll be submitting this to CRAN soon, but for the meantime the GitHub version should make your code work.

[2016-12-20 01:49] vnijs opened #200 "set height/width for renderDiagrammeR?"
Is there a way to adjust the height for a graph when using `renderDiagrammeR`? I looked at the source code on GitHub and I see that `renderDiagrammeR` uses `DiagrammeROutput`. `DiagrammeROutput` has a height parameter set to 400px by default.

I tried creating a new function (see below). This worked but resulted in non-unique outputId values so I can't use it when there are multiple graphs. Ideall

[2016-12-20 02:09] vnijs commented on #200
Would setting `height = 'auto'` be an option for `DiagrammeR::DiagrammeROutput`?

[2016-12-20 02:11] rich-iannone commented on #200
It might be an option. Want me to set it as that and see if it works out? You could send me a PR also and I can quickly accept it.

[2016-12-20 02:42] vnijs commented on #200
Works great in my application. PR created. Thanks!

[2016-12-20 02:59] rich-iannone commented on #200
All done! If you have any more PRs like this in the future, don't hesitate to send them.

[2016-12-20 02:59] #200 closed

[2017-01-05 15:49] wamserma opened #202 "create_nodes() missing"
create_nodes() has been removed in v0.9.0 breaking a few dependent packages on CRAN.

Please re-introduce (and probably add a deprecation warning along with a transition guide).

offending commit:
https://github.com/rich-iannone/DiagrammeR/commit/9b952eaa2418af020d2cd629640b48760c50024e

fallout (as of 2017-01-05):
https://cran.r-project.org/web/checks/check_results_GeneralTree.html
https://cran.r

[2017-01-05 15:51] wamserma commented on #202
also: the README in the CRAN package and on master is outdated, referring to 0.8.4 being on CRAN instead of 0.9.0.

[2017-01-07 15:32] Enchufa2 opened #203 "Support for HTML-like labels"
GraphViz supports (and encourages) the use of [HTML-like labels](http://www.graphviz.org/doc/info/shapes.html#html) instead of record-based nodes. As far as I know, this is not yet supported in DiagrammeR, and it would be a very nice addition.

[2017-01-07 15:44] Enchufa2 opened #204 "Global attributes not working for DOT"
With DiagrammeR 0.9.0 (CRAN version):

[code]

![rplot1](https://cloud.githubusercontent.com/assets/4542928/21742885/471da20c-d4f8-11e6-9f7f-f3c4f2277a14.png)

As you can see, attributes `fontname` and `width` had no effect. But this works:

[code]

![rplot2](https://cloud.githubusercontent.com/assets/4542928/21742896/70ee1594-d4f8-11e6-93c1-d5cd1ff59fc9.png)

[2017-01-11 19:30] gothub opened #205 "add_node() no longer supports `node` parameter"
Commit e70825265333616c5d2a0f759a4b2ca96396737f removed the `node` parameter
from `add_node()`, which allowed defining the node id for a new node. WIth the 0.9
release, is there another way to use user defined node ids instead of the ids generated
automatically by the package

It was really convenient to be able to specify the id of a node, as I'm using this package to display
a DAG structure that

[2017-01-11 19:39] #102 closed

[2017-01-12 20:33] gluc opened #206 "global graph attributes don't work"
I tried to add various graph attributes, but they don't seem to work. For example, rankdir = "LR" doesn't work, neither in `render_graph`, nor in `generate_dot`. For example, see below the graph I'm trying to render. What's wrong with it?

[code]

[2017-01-12 22:03] nrw16 opened #207 "exporting mermaid chart directly to png"
I would like to export a chart created with `mermaid()` directly to a simple image file (ex: .png) from within an executed .R script without going through the graphical export menus of RStudio.

This has previously come up in the closed issue:
https://github.com/rich-iannone/DiagrammeR/issues/174 'export_graph does not work with mermaid'

In that issue, an error was produced while trying to use th

[2017-01-13 02:43] rich-iannone commented on #205
You can get the same sort of functionality back for your application by assigning the name to the `label` attribute. The label gets displayed by default when rendering the graph. It's also possible to, on a node-by-node basis, to specify which attributes values get displayed by using the `set_node_attr_to_display()` function.

If you could, provide a relevant code sample of your application and I

[2017-01-14 03:41] pssguy commented on #46
Annual+ request

[2017-01-14 20:17] rich-iannone commented on #204
Ah, I see the problem. Try using `set_global_graph_attrs()` for the first setting (this wipes out defaults and replaces with a single attribute, then, use `add_global_graph_attrs()` for the rest.

[2017-01-14 21:09] Enchufa2 commented on #204
Thanks, your suggestion works. But I have to say that this is a bit counterintuitive for me for various reasons:

- The manual page for `set_global_graph_attrs()` does not mention that its invocation wipes out the defaults.
- It does not mention the existence of `add_global_graph_attrs()` either.
- From a `set_something()` function, I would expect just that: modify it with the provided value if ex

[2017-01-14 21:13] Enchufa2 commented on #206
You are using `set_global_graph_attrs()`, right? Then this is related to #204.

[2017-01-14 21:16] Enchufa2 commented on #204
BTW, having two functions (set, add) for the same task may be problematic for adding attributes programmatically (in a loop or if you need to provide a callback for the task, for instance). This is the problem of #206 if I'm not mistaken.

[2017-01-14 21:23] rich-iannone commented on #204
I really appreciate these recommendations and I will implement them. Agree that it is currently confusing, not well-documented, and otherwise not ideal for programmatic setting of attributes. I'll close the issue after modifying the package.

[2017-01-17 19:48] gothub commented on #205
@rich-iannone This issue doesn't involve the label of a node, but rather the ability to specify
the node id when a node or link is added. My use case is that I have a DAG that I've build in R,
and each node in the DAG has a node id, in my case a UUID. When I build the DiagrammeR graph
I used to be able to assign each node in the DiagrammeR graph to have the corresponding value from my R DAG. V 0.9

[2017-01-19 07:00] rich-iannone commented on #205
@gothub

Here's an example that may help:

[code]

<img width="494" alt="screen shot 2017-01-18 at 10 53 38 pm" src="https://cloud.githubusercontent.com/assets/5612024/22096538/03784fde-ddd1-11e6-9b78-6f38c00b1942.png">

Here you can add an edge by specifying the label names (with the `use_labels = TRUE` option in the `add_edge()` function). You can select edges by getting the node ID values for t

[2017-01-19 07:01] #206 closed

[2017-01-19 07:18] rich-iannone commented on #202
@wamserma the README.md has been fixed (removed version number for CRAN package). Unfortunately, I cannot bring back the previous `create_nodes()` function or equivalent functionality. For your package, you could replace your use of `create_nodes()` with `create_node_df()` with only a few additional changes.

[2017-01-19 07:18] #202 closed

[2017-01-19 07:30] rich-iannone commented on #198
@steadyfish Finally found the issue, there was a missing closing curly brace just after defining the secondary nodes. Here's a working example:

[code]

[2017-01-19 07:30] #198 closed

[2017-01-19 07:48] rich-iannone commented on #203
I will look into this as an enhancement. Thanks!

[2017-01-19 08:00] rich-iannone commented on #199
@janvydra

Sorry for getting back to you late. It seems that RPresentations don't like to display anything from the Viewer pane, even with the `webshot` package available. Here is a workaround (if you're willing to use graph objects):

[code]

Here is a graph:

![A DiagrammeR graph](graph.png)
[code]

[2017-01-19 08:00] #199 closed

[2017-01-19 08:03] #133 closed

[2017-01-19 11:22] janvydra commented on #199
Thanks

[2017-01-23 16:38] #161 closed

[2017-01-23 16:38] #170 closed

[2017-01-23 16:38] #115 closed

[2017-01-23 17:13] rich-iannone commented on #207
@nrw16 you are right in that mermaid graphs aren't supported by `export_graph()`. It's something that I may add in the future however.

[2017-01-24 19:23] gothub commented on #205
@rich-iannone I guess I haven't made my use case clear. I'd like to specify the id of a node, not use the label as the id (my labels might not be unique). The ability to specify the id of a vertex of a graph is available in graphing packages in other languages (e.g. Java), and was available in DiagrammeR before v0.9.  I'm a bit surprised that other users aren't building graphs in this way. I'll co

[2017-01-31 10:49] jakubkuzilek opened #208 "http://rich-iannone.github.io/DiagrammeR/graph_creation.html"
The examples found on the page (http://rich-iannone.github.io/DiagrammeR/graph_creation.html) are not really working. For example, function create_nodes does not exist in the package (installed version 0.9.1 from Github).

[2017-02-02 21:13] jmgerson opened #209 "Renamed functions?"
`library(DiagrammeR)
library(lavaan)

semPaths(fit3, intercept = FALSE, whatLabel = "est",
         residuals = FALSE, exoCov = FALSE)

fit3 %>% parameterestimates %>% sample_n(5)

paths <- fit3 %>%
  parameterestimates %>%
  select(lhs, op, rhs, est)
latent <- paths %>%
  filter(op == "=~") %>%
  select(nodes = lhs) %>%
  distinct %>%
  mutate(shape = "circle")
latent

`%not_in%` <- Negate(`%in%`

[2017-02-02 21:21] rich-iannone commented on #209
Some functions have been renamed:

`combine_nodes` -> `combine_ndfs`
`combine_edges` -> `combine_edfs`

The website documentation has indeed fallen a bit behind (and I will address this). In the meantime, the in-package documentation is the best place for explanations and working examples.

[2017-02-02 21:21] #209 closed

[2017-02-02 21:22] jmgerson commented on #209
Brilliant! Thanks so much!

[2017-02-06 21:57] wamserma opened #210 "Documentation references inexistent functions"
e.g. https://rich-iannone.github.io/DiagrammeR/graphs.html#inspecting-the-graph mentions `get_nodes()`, but the closest I could find was `get_node_ids()`.

[2017-02-06 22:00] wamserma opened #211 "create_node_df() cannot initialize empty data frame"
`create_node_df(n = 0)` throws an error instead of returning an empty df such as `data.frame(id=integer(0),type=character(0),label=character(0))`

[2017-02-07 01:11] wamserma opened #212 "edge_present() should support labels and fail gracefully"
`edge_present(g,"foo"."bar")` should look up nodes by labels. This would be much better than the current

[code]
There is not much difference in using `mk_cond()` for paste0.

Also it should not fail with a stop when nodes are not present, but rather return `FALSE`. The stop-behaviour is not documented and counter-intuitive.

[2017-02-07 01:17] wamserma commented on #202
Well, I think I got the creation of the graph structure working again, but the rendered graphs are still quite different from what I had before. Please have a look at https://github.com/wamserma/R-wmisc/tree/fixDgR
Just run the code from the tests and compare with what `readRDS("automat-visual-1.rds")` produces. With the new version the node "go" is not rendered and so on. I'd like to get the upda

[2017-02-08 16:48] nicolassoarespinto opened #213 "Problem in create_graph()"
The documentation for `create_graph` states that is possible to create a graph using `create_graph(nodes_df = df)`  where `df` is a data.frame with only  one column, named `nodes`.

This doesnt work anymore in version  `0.9.0`, reproducible example below:

[code]

I get an error:

`Error in '[.data.frame'(nodes_df, , i) : undefined columns selected`

In version `0.8.5` would result in:

![graph_a_

[2017-02-10 10:31] wamserma opened #214 "create_graph()/add_node_df() does not warn on duplicate `id`s in `ndf`"
Reproduce:

[code]
Observe:
[code]
With duplicate `id` values only the last node is taken. It would be helpful if this trigger's a warning (and please, just a warning, not an error), especially for people transitioning old code where unique labels where used as IDs.

[2017-02-10 10:33] wamserma commented on #202
Ok, with the new `id`scheme one can no longer rbind node data frames. https://github.com/rich-iannone/DiagrammeR/issues/214

[2017-02-10 15:35] wamserma opened #215 "Setting of graph layout is ambiguous"
`render_graph()` has an argument `layout` that is only used for `vivagraph`. The layout for graphviz needs to be set with something like
[code]
Yet, the value of `layout` is available when `render_graph` calls `generate_dot()` (https://github.com/rich-iannone/DiagrammeR/blob/master/R/render_graph.R#L120). The layout should be passed and override any layout set in the graph object.

Furthermore `cr

[2017-02-10 15:49] wamserma commented on #202
And the different layout mentioned in https://github.com/rich-iannone/DiagrammeR/issues/202#issuecomment-277870532 was due to https://github.com/rich-iannone/DiagrammeR/issues/215
Workarounds implemented, please no more surprises.

[2017-02-10 22:19] therimalaya opened #216 "Mathjax Support"
Looking forward to have MathJax support. It will really boost the package.

[2017-02-11 03:52] rich-iannone commented on #91
@timelyportfolio would you be able to submit a PR for this? Looks pretty solid and it would be a great addition.

[2017-02-16 13:57] giko45 commented on #206
workaround

`ToDiagrammeRGraph(acme,direction = "climb") %>% set_global_graph_attrs("layout", "dot", "graph") %>% add_global_graph_attrs("rankdir", "LR","graph") %>% render_graph()
`

[2017-02-17 16:23] HJAllen commented on #133
I was able to successfully output a grviz chart as follows. Note the need for `capture.output` so that `pre-main prep time:` is not put to stdin.

[code]
with graph looking like:
![stnds qa](https://cloud.githubusercontent.com/assets/6650920/23073343/2538d604-f503-11e6-9064-a0cacdb056b9.png)

[2017-02-17 16:29] rich-iannone commented on #133
@HJAllen this is phenomenal! I've tried to no avail to eliminate that message. I'll take what's here and try to suppress this message as part of the function.

[2017-03-04 14:39] jrgant commented on #133
Great solution, @HJAllen! Used this with rsvg_pdf and have a nice, scalable diagram. Thank you!

[2017-03-04 16:41] skanskan commented on #133
Graphviz 2.38 is now three years old.
Is there any newer version or alternative software?

[2017-03-05 08:28] rich-iannone commented on #133
@skanskan I'm looking into using the latest release of the viz.js JavaScript library which provides Graphviz 2.40.1. There will have to be some testing but I hope to have this change implemented in less than 2 weeks.

[2017-03-06 11:25] puterleat commented on #133
Just on the issue above, I'm using the following function to insert digraphs into rmarkdown beamer presentations:

[code]

[2017-03-09 12:19] guiastrennec commented on #204
I just noticed that the behavior of `set_global_graph_attrs()` (i.e clear previous attributes) is already creating issues in v0.9.1:

In this first example I can use the `rankdir`attr as expected:
[code]
![screen shot 2017-03-09 at 13 16 40](https://cloud.githubusercontent.com/assets/7304883/23749901/c0da742e-04ca-11e7-9cf5-849c080ae8f0.png)

In this second example the attributes I had defined are

[2017-03-09 17:37] rich-iannone commented on #213
The best documentation is currently in the R help pages for each function. The GitHub version of the package for now is probably the way to go until I submit a new version to CRAN.

The data frames that are acceptable to `create_graph()` are now different with `0.9.0`. I'd suggest using the `create_node_df()` and `create_edge_df()` functions, or, generating graph nodes and edges using `add_node()`

[2017-03-09 17:38] rich-iannone commented on #216
@therimalaya I expect this to be the next priority. I apologize that it's taken so long to prioritize this work.

[2017-03-14 10:05] rubenarslan opened #218 "mermaid graph rendered without text and with small boxes within rmarkdown doc"
I'm rendering a graph within an rmarkdown doc.
Interactively, it's fine, but when I knit the document, the graph is displayed without any text, all the boxes are empty.
This happens when the tab on which the Diagram is displayed, is hidden. I assume `mermaid` does some calculations using visible width or something?
Is there a workaround for this?

## Reproducible example

(You have to remove the b

[2017-03-19 06:23] rich-iannone commented on #204
@guiastrennec I've just fixed the issue above. Please test and let me know if there are still issues with the title.

I will now work toward implementing @Enchufa2 's suggestions for simplifying the addition / deletion of these attributes.

[2017-03-19 08:40] rich-iannone commented on #215
Removed Vivagraph and any settings required for it. The `layout` argument for `render_graph()` has been removed.

[2017-03-19 08:44] rich-iannone commented on #195
@CianMurphy Use the `create_node_df()` and the `create_edge_df()` functions to generate these data frame before using `create_graph().

[2017-03-19 08:44] #195 closed

[2017-03-19 16:02] rich-iannone commented on #177
This is currently not planned.

[2017-03-19 16:02] #177 closed

[2017-03-19 17:39] guiastrennec commented on #204
@rich-iannone, the titles works perfectly for me with the latest fix. Thanks for that !

[2017-03-19 19:22] rich-iannone commented on #196
@guiastrennec if this is still a problem, maybe check this again with the newest build. The underlying Graphviz JS library has been updated. Just want to see if that results in less gradient problems.

[2017-03-19 23:49] #149 closed

[2017-03-20 10:38] guiastrennec commented on #196
@rich-iannone unfortunately I still get the same issue with the gradient in Safari under the newest build (but it still works under Chrome).

[2017-03-20 18:43] #110 closed

[2017-03-21 00:34] #181 closed

[2017-03-23 20:59] wlandau-lilly opened #219 "from_igraph() drops vertex character names"
See [this StackOverflow post](http://stackoverflow.com/questions/42985152/problems-converting-igraph-to-diagrammer-graph). I reproduced the issue for the current CRAN version (0.9.0) and commit a77fc20d13a3ad654148fe37a7ac3e5ae16bb5a1.

[code]

The [drake package](https://github.com/wlandau-lilly/drake) internally relies on `igraph` objects with meaningful vertex names, and `DiagrammeR` has such p

[2017-03-27 21:01] jiwpark00 opened #220 "Changing font size for gantt chart"
Hi,

I searched through and didn't find the answer so hopefully this isn't a redundant question.
I created gantt chart through DiagrammeR and want to change font sizes/styles.
It seems like font style is already implemented via htmlwidgets so is there a good way to override them?

Thank you.

[2017-03-28 17:36] guiastrennec opened #221 "Add option gradientangle"
Hi,

The option `gradientangle` for nodes filling is currently ignored by DiagrammeR would it be possible to add it to the list of supported node options?

Example:
[code]

[2017-03-28 17:47] guiastrennec opened #222 "Add title option in export_graph"
The `render_graph()` function now features a title option which is a great feature but it is not available in the `export_graph()` function.

[2017-03-28 17:49] rich-iannone commented on #221
@guiastrennec Just pushed the change that supports `gradientangle` as a node attribute.

[2017-03-28 17:49] #221 closed

[2017-03-28 17:55] guiastrennec commented on #221
Thank you for the super fast response to my issue :-) Works great !

[2017-03-28 18:13] rich-iannone commented on #221
@guiastrennec haha, yeah, I guess you can say I knew where the problem was!

[2017-04-09 22:22] viksit commented on #218
I'm facing the exact same problem.

[2017-04-10 08:32] rubenarslan commented on #218
I don't have time to try it out myself @viksit but one approach might be to delay the execution of the tabbification that rmarkdown does on-the-fly a little bit. You could use a custom class and a custom script for it (here's one of mine https://github.com/rubenarslan/paternal_age_fitness/blob/gh-pages/library/auto_tab_first_section.js ).

[2017-04-11 16:56] tbates opened #226 "DiagrammeR not opening browser window when call is buried inside another function"
I've got a graphing function which writes a graphviz file, then calls `DiagrammeR::DiagrammeR(diagram = file, type = "grViz")` on it. All working fine.

EXCEPT, if I call this function from within another function, my graphviz file writing code still runs, but the graph is not rendered in the browser. So, I assume something is preventing the `DiagrammeR` call from opening a browser window.

Any th

[2017-04-11 17:39] jonmcalder commented on #226
I don't think this is expected behaviour - I've tested locally and I'm able to successfully render a grViz graph either in the RStudio viewer pane or in a browser (depending on the setting of the 'viewer' option) when calling `DiagrammeR()` from within another function.

I think you'll need to post a reproducible example before the issue can be explored further.

[2017-04-11 20:01] tbates commented on #226
If you install.packages("umx") and run this code, setting a breakpoint in `DiagrammeR`, you should see that a file ("ace.gv") is written , DiagrammeR is being called, but no plotting happens.

[code]
Should have plotted as `umxACE` calls DiagrammeR, but doesn't.
The traceback stack is: umxACE->plot.MxModel.ACE -> xmu_dot_maker  -> DiagrammeR

If you're on mac, then `umx_set_plot_format("graphviz")

[2017-04-11 21:50] jonmcalder commented on #226
Ah ok. I may be wrong, but I think the issue here is simply that since this is non-interactive use, the DiagrammeR output needs to be explicitly returned somewhere in order for it to be rendered.

Running `plot(m1)` immediately after the code you provided produces the expected DiagrammeR result just fine.

If you want your above code to produce the DiagrammeR output as a side-effect, then I think

[2017-04-12 08:19] tbates commented on #226
Fantastic! I'd wondered how plot() was ever working and had noticed the plot call is last, but it never occurred to me that this was equivalent to calling print (duh..). Nor that print actually means "print, which entails interacting..." Nice!

[2017-04-12 08:19] #226 closed

[2017-04-26 19:12] NovasTaylor opened #227 "Classes not applying to flag nodes"
I'm having trouble with applying styles to flag nodes. Other node types appear to work fine. On my machine, the nodes id1 and id4 receive no styling at all.  I'm Windows10, and V0.9.0 DiagrammeR.
Cheers,
Tim
[code]

[2017-04-28 18:20] tclavelle opened #228 "exdata files do not match files referenced in README.md"
None of the example diagrams outlined in the repo's README.md file work and it appears that is because the required `.csv` files are missing from the `exdata` directory.

DiagrammeR version 0.9.0 (installed from CRAN) contains only the following in `exdata`:
[code]

The `README.md `, however, contains examples referencing (among others) the following:
[code]

[2017-05-06 15:31] NovasTaylor commented on #227
Possibly related: Classes also not applying to Rhombus nodes:   {nodeLabel}

[2017-05-10 23:02] rich-iannone commented on #228
Sorry for the confusion caused by this. It was a mistake when building version 0.9.0 for CRAN (`.Rbuildignore` was set to ignore these files, now fixed). For the next release, these files will be available.

I revised `README.md` to include a mention that a file loaded in for the examples is only available in the dev/GitHub version.

[2017-05-10 23:02] #228 closed

[2017-05-17 21:06] iainmwallace commented on #202
Awesome package -
Just an FYI, the create_nodes function is used a lot in the very beginner friendly documentation
http://rich-iannone.github.io/DiagrammeR/ndfs_edfs.html
http://rich-iannone.github.io/DiagrammeR/graph_creation.html

It would be great if the documentation could be updated to reflect the current approach to building a graph.

[2017-05-18 10:09] wamserma commented on #202
@iainmwallace There is already an issue open for that: https://github.com/rich-iannone/DiagrammeR/issues/208

[2017-06-29 22:57] JonathanChiang opened #229 "ubuntu dependency for XML"
sudo apt-get install libcurl4-openssl-dev libxml2-dev

issue with XML

install.packages("DiagrammeR)

requires more dependencies on linux

[2017-06-29 22:57] #229 closed

[2017-07-07 05:34] vikram-rawat opened #230 "Add Image to Mermaid Flow Diagramme"
Thanks for such a great package...

But Can any how we add images to mermaid flow diagrammes. Please...

I am unable to add custom images ( JPEG, PNG, other) in the Flow charts...

Is it possible?? could you do it... Please

[2017-07-08 03:45] vikram-rawat opened #231 "Multiple direction"
Thanks for such a nice initiative. I really appreciate it. And if everything goes well we would never ever have to switch to excel again.

I am more of a functional analyst and define process flow very often.

In mermaid you can not control the flow of sub graphs. It follows the same flow till the end.

But originally if the you want to define a sub process it should have a different direction so

[2017-07-10 09:54] ekstroem opened #232 "Update to D3 v4 to combine netword3D and mermaid in Rmarkdown"
This is essentially a repost of [this question on Stack Overflow](https://stackoverflow.com/questions/44981095/combining-netword3d-and-mermaid-in-rmarkdown-messes-up-rendering) which I also raised as an issue with the `htmlwidgets` package.

I would like to include two `htmlwidgets` in the same Rmarkdown document - a `mermaid` flowchart from the `DiagrammeR` package and a `network3D` graph. If I i

[2017-07-10 11:17] stephlocke opened #233 "create_graph errors with tibble nodes_df"
Using 0.9.0 from CRAN and latest pull from master branch, I get "syntax" errors when using tibbles for my node data.frame. It looks like it does some something pretty weird in the conversion of the provided df to the nodes outlined in the graph list object.

[code]

[2017-07-11 03:41] vikram-rawat opened #234 "Change Mermaid Defaults"
Mermaid Graphs are Small to begin with and in order to get a big image. you need to change the useMaxWidth  arguement.

I am unable to change it anyhow

mermaid.initialize({
  flowchart:{
     htmlLabels: false
     useMaxWidth: true
  }
});

Please help me how to change the configuration of mermaid charts.

[2017-07-11 04:00] vikram-rawat commented on #234
Mermaid has changed the defaults from it's plugin

startOnLoad: true,
--
  |   | cloneCssStyles: true,
  |   | flowchart: {
  |   | -        htmlLabels: false
  |   | +        htmlLabels: false,
  |   | +        useMaxWidth:false
  |   | },
  |   | });

https://github.com/piranna/gitbook-plugin-mermaid/commit/ee9838f79125e4599ed0c0f835758bdc45e5b5a2

Please help me out

[2017-07-11 04:01] vikram-rawat commented on #234
for more information look at this
https://github.com/knsv/mermaid/issues/204

[2017-07-11 16:14] rich-iannone commented on #232
@ekstroem This is a great idea and so I'll definitely prioritize this. Thanks for submitting this issue!

[2017-07-11 16:17] ekstroem commented on #232
Sounds great. Anything I can do to help (not really knowing D3 but quite well versed in R) ?

[2017-07-11 16:17] rich-iannone commented on #233
@stephlocke I definitely want tibble and data table objects to work, so I'll look into this and provide some fixes and accompanying tests. If you get this before I do, feel free to submit a PR. Thanks for submitting this!

[2017-07-11 16:19] rich-iannone commented on #230
@vikram-rawat I will look into this. It might be possible depending how far along Mermaid has gotten in its development. Thanks!

[2017-07-11 16:20] rich-iannone commented on #231
@vikram-rawat I'll see what could be done. Although, right now, you may have better luck with this if you go the Graphviz route.

[2017-07-11 16:22] rich-iannone commented on #234
@vikram-rawat Thanks! I'll have a look at this and see if I could update the defaults to make things display more nicely.

[2017-07-11 16:23] rich-iannone commented on #220
@jiwpark00 Sorry for the delay in getting back to you. I'll have a look and see if this is possible.

[2017-07-11 16:29] rich-iannone commented on #232
@ekstroem This is entirely optional but would be very helpful (and is a good skill to learn if you haven't tried it): fork the repo, update D3 (location is `inst/htmlwidgets/lib/d3`), build, and then test. If your R Markdown example works (and tests pass), submit as a pull request.

This is a lot of work so I do understand there might not be time for it... but even the part before the PR would be

[2017-07-12 11:18] rstub commented on #133
Is this solution GraphViz only, or should it also work for mermaid (sequence) diagrams? I get the error message

<pre>
## Error in context_eval(join(src), private$context): abort(0) at Error
##     at jsStackTrace (<anonymous>:5:22063)
##     at stackTrace (<anonymous>:5:22246)
##     at abort (<anonymous>:28:10646)
##     at nullFunc_iii (<anonymous>:5:662060)
##     at Array.a8 [as 0] (<anonymou

[2017-07-14 00:01] vnijs opened #235 "Import warning when building in DiagrammeR on R 3.4.1"
FYI When building a package that imports `DiagrammeR` I'm getting the warning below. To check if this was an issue in my own code I cloned the latest version of `DiagrammeR` from GitHub, built the package, and got the same warning message in R 3.4.1 on Mac (El-Capitan)

[code]

[2017-07-16 15:40] ekstroem commented on #232
Quick update. I updated the D3 files to v4 and had the following results: The `grViz` graphs were still showing normally, but `mermaid` graphs are empty - even if they are the only ones there.

If I run the test battery from `DiagrammeR` using `devtools::test()` then I get the following

I think the problem might be with ´mermaid` itself. Not sure if that has migrated to D3 v4 yet.

[2017-07-18 15:27] rstub commented on #133
Is this solution GraphViz only, or should it also work for mermaid (sequence) diagrams? I get the error message

<pre>
## Error in context_eval(join(src), private$context): abort(0) at Error
##     at jsStackTrace (<anonymous>:5:22063)
##     at stackTrace (<anonymous>:5:22246)
##     at abort (<anonymous>:28:10646)
##     at nullFunc_iii (<anonymous>:5:662060)
##     at Array.a8 [as 0] (<anonymou

[2017-07-19 20:09] sb3rg opened #236 "Support for Clusters?"
Are there plans for introducing rendering of clusters/subgraphs functionality as is present in DOT?  I feel like this is a native feature in DOT and it's curious that your documentation mentions nothing of generating nested graphs within nodes, especially with some of the newest changes to the API.  You used to have a create_subgraph function, now that's missing/not available.

[2017-07-21 07:23] vikram-rawat commented on #230
Thanks for at least listening to me... If It can do 3 things only these 3. It is good to be used in production at least along with shiny if ...

1. We can increase or decrease the size of diagrams produced by Mermaid.
2. We can Insert custom pictures in it.
3. We can control the direction of boxes and Arrows...

With just these 3 things a FLOW chart can be created which can be shown in a Professio

[2017-07-21 18:12] dmpe commented on #208
Hi @rich-iannone,
the
code in
[code]
should be
[code]
I guess

[2017-07-24 07:18] vikram-rawat commented on #234
Hi Rich Thanks for replying but please don't set it to low priority. What's the use of making any chart if you can't project it anywhere?

[2017-07-24 07:18] vikram-rawat commented on #234
Please

[2017-07-27 20:21] rich-iannone commented on #235
@vnijs I think I know what the problem is here and I'm pretty sure I can fix this.

[2017-07-28 02:46] nicholaelaw commented on #236
Do you mean [this](http://rich-iannone.github.io/DiagrammeR/graphviz_and_mermaid.html#examples)? (Scroll down a bit, to the 'R and RStudio information' graph).

[2017-07-28 03:13] rich-iannone commented on #236
@sb3rg @nicholaelaw It's in there! Should I close the issue?

[2017-07-28 03:22] #204 closed

[2017-07-28 06:15] nicholaelaw commented on #236
Sure. If there are no more questions, please close.

[2017-07-28 06:19] #236 closed

[2017-08-04 05:04] vikram-rawat commented on #234
There should be a way to download these graphs in full screen.

Please without this default updations Entire purpose is useless.

Kindly give us enough Big Chart that we can show somebody on a screen. Please change the defaults Please please, please...

It's urgent for me super urgent.

[2017-08-09 04:33] vikram-rawat commented on #231
Hi Rich

I understand it might be hard. I have posted the same on mermaid Github page as well. They are planning to add font-awesome support as well.

Please try to understand FlowDiagrammes are different then network charts.

Can we anyhow build two different mermaid plots and merge them as one.

Like one mermaid diagram connecting to another and so on... That could solve the problem temporarily.

[2017-08-10 16:36] karawoo opened #237 "Updates to scales package will cause warning in DiagrammeR installation"
The next release of the [scales](https://github.com/hadley/scales) package contains a function called `viridis_pal()`. This will cause a warning when DiagrammeR is installed, because DiagrammeR imports both `scales` and `viridis` (which also has a `virids_pal()` function). Just wanted to give a heads up that DiagrammeR may need to be more explicit about which functions it imports from these packag

[2017-08-10 18:56] rich-iannone commented on #237
Thanks for this early warning! Will fix this shortly.

[2017-08-12 23:16] emdelponte opened #238 "Icon node attribute for Graphviz"
I want to use an icon instead of text description for a node but the documentation was not clear on how to use it. Tried several different ways but nothing worked.  I would like to use the GitHub icon for the example below:

grViz("
digraph g1 {
graph [overlap = false, fontsize = 8]

node [shape = box, fontname = Helvetica,  width = 1.2]
Data; Analysis; Document; Report; GitHub

Data->Analysis
Dat

[2017-08-13 03:21] fintzij commented on #71
Hello,

Has the bug reported on Dec. 15, 2015 by @tinyheero  been resolved? I am getting the same behaviour when using '@gamma' as the variable.

Thanks

[2017-08-14 19:32] karawoo commented on #237
👍  Just so you know, we're planning to submit the next scales release on August 21.

[2017-08-14 20:43] rich-iannone commented on #237
@karawoo thanks for sharing the submission date. Currently working towards getting the package to build with no errors/warnings... it's taking a bit more time than I'd like but I think I should be able to submit to CRAN by the scales submission date.

[2017-08-14 20:44] rich-iannone commented on #237
...and, forgot to mention, the fix in question has been implemented in the dev version.

[2017-08-19 12:58] oscci commented on #207
Hello. Am enjoying using DiagrammeR and have created a nice flowchart with mermaid. It shows up on the viewer in R Studio, but, although the Export tab appears functional, it doesn't work for .png, .tiff or .jpg. It does work for .html. I'd like to use the mermaid graph in a paper that I am creating in RMarkdown that will end up as a Word document. Is there a way to get the diagram into a format f

[2017-08-21 21:49] nbarrowman commented on #203
Thanks for considering this enhancement. I'd also find it useful.
I'd like to thank you for DiagrammeR. It's wonderful!

[2017-08-22 16:19] achubaty opened #240 "v0.9.1 no longer compatible with R-oldrel (3.3.3)"
The latest `DiagrammeR` version depends on `grDevices >= 3.4.0`. Since this is a base package, you really should be defining the dependency against the R version instead (R >= 3.4.0) to prevent errors on earlier R versions.

For example, `DiagrammeR` fails to install on R-oldrel (3.3.3):

[code]

See also a recent [r-pkg-devel thread](https://stat.ethz.ch/pipermail/r-package-devel/2017q3/001753.ht

[2017-08-22 16:25] achubaty commented on #240
Furthermore, the fact that this package is no longer available for R 3.3.3 is problematic (and didn't CRAN complain to you about this?).

I'm not sure what specifically you use in `grDevices` 3.4.0, but can this be changed to be backward compatible with 3.3.3? Perhaps make that code conditional on the `grDevices` version available?

[2017-08-23 06:29] #237 closed

[2017-08-23 06:29] #235 closed

[2017-08-30 05:59] vikram-rawat opened #241 "Mermaid Classdiagrams are not working"
The example mentioned on the mermaid git page is not working properly in Diagrammer

classDiagram
    Class01 <|-- AveryLongClass : Cool
    Class03 *-- Class04
    Class05 o-- Class06
    Class07 .. Class08
    Class09 --> C2 : Where am i?
    Class09 --* C3
    Class09 --|> Class07
    Class07 : equals()
    Class07 : Object[] elementData
    Class01 : size()
    Class01 : int chimp
    Class01

[2017-08-30 07:11] vikram-rawat opened #242 "Rstudio Doesn't help in Gantt chart"
when we save an MMD file. Rstudio highlights the text only when are trying to build a flow diagramme but for a Gantt chart it doesn't highlight anything. Kindly look into it. Please

[2017-08-31 14:32] zeigerpuppy commented on #77
Is it possible to use this same trick to get rid of `sidePadding`?
There is too much space on the side of the plot produced

[2017-08-31 14:36] zeigerpuppy commented on #77
Ah, I'll answer my own question, yes it is possible, just use the following syntax:

[code]

[2017-09-01 08:37] plion opened #243 "URL attribute for nodes"
Hi,

I use your package for a year now to create graph in shiny apps. Users are are enthusiastic and ask me for enhancements like beeing able to click on a node to access specific url.

By looking at the graphviz doc and the generate_dot() function I found that adding **"URL"** to the **node_attributes** vector would solve my problem. I've done it and it worked.

 I'm not used enough to package de

[2017-09-02 16:24] instantkaffee opened #244 "Left dot label centering"
[code]
creates incorrect horizontal edge label centering

![so_left](https://user-images.githubusercontent.com/3050723/29997131-ba8d2220-900b-11e7-8a8f-19525c86ee32.png)

[2017-09-05 15:28] Enchufa2 commented on #240
This is causing problems to other depending packages. Moreover, DiagrammeR is using only two functions from `grDevices` (`colors` and `col2rgb`), and none of them have been recently changed (there is no mention to them in the R v3.4.0 release notes). So I think the v3.4.0 requirement should be dropped and this change should make it to CRAN ASAP.

[2017-09-05 15:38] Enchufa2 commented on #240
There is a function [here](https://stackoverflow.com/a/38687310/6788081) to check the minimum R version required by your dependencies. According to it,

[code]

So it should be safe to declare `Depends: R (>= 3.2.0)`.

[2017-09-05 15:42] rich-iannone commented on #240
Sorry for the delay in this. So, I will set R > 3.3 and remove the minimum version requirement for grDevices. This should restore backward compatibility for most people.

Thanks for the advice on this and I apologize for the delay and issues this unexpected change has caused. I will push again to CRAN shortly.

Let me know if there are other changes I should make.

[2017-09-05 15:43] rich-iannone commented on #240
@Enchufa2 just saw your comment. I will drop the R requirement to 3.2.0.

[2017-09-05 15:44] Enchufa2 commented on #240
Great, thanks!

[2017-09-05 15:46] rich-iannone commented on #240
Just made the change. Next thing is submit to CRAN right away.

[2017-09-05 15:51] Enchufa2 commented on #240
As a suggestion, and just to be safe in the future, TravisCI allows us to check the package against R oldrel, release and devel by adding the following to the .travis.yml file:

[code]

Example [here](https://github.com/r-simmer/simmer/blob/master/.travis.yml).

[2017-09-05 15:53] rich-iannone commented on #240
That's great, thanks! I will add this to the Travis YML file.

[2017-09-05 16:53] Enchufa2 commented on #244
See [here](http://www.graphviz.org/doc/info/attrs.html#a:labeljust): labeljust only applies to "GC" (graph, cluster), not edges.

[2017-09-05 16:59] Enchufa2 commented on #242
DiagrammeR does not control what RStudio highlights or not. You should redirect this feature request to RStudio instead.

[2017-09-05 17:57] rich-iannone commented on #242
Quite a while back, JJ Allaire had the RStudio dev team put some engineering effort into highlighting Mermaid and Graphviz dot graph specifications.

As the Gantt charting is a less developed feature, I don't think it's worth their time to address its code coloring.

[2017-09-05 17:57] #242 closed

[2017-09-06 05:06] rich-iannone commented on #240
The package has been submitted to CRAN. I'll close this issue once it is accepted.

[2017-09-06 21:41] rich-iannone commented on #240
The package (v0.9.2) is now on CRAN.

[2017-09-06 21:41] #240 closed

[2017-09-07 13:15] bschneidr commented on #233
I just ran into this issue as well.

When I use tibble inputs to create the graph, the result of calling `get_node_df()` is a data.frame with list columns.
In contrast, when I use data.frame inputs to create the graph, the result of calling `get_node_df()` is the (correct) data.frame result without list columns.

Here's a simple reprex to illustrate.
[code]
<details><summary>Session info</summary>

[2017-09-07 13:55] bschneidr commented on #213
It seems that the R documentation for each function is no longer up-to-date (on either the CRAN or GitHub versions). According to the documentation, the following code has all the minimum columns. However, as you can see in the reprex, it fails with a kind of opaque error. Could the documentation be updated to specify the new minimum columns and formats for `node_df` and `edge_df`?

[code]

<detai

[2017-09-07 15:00] rich-iannone commented on #213
Thanks for calling attention to this. It is the `type` column that is missing from the ndf. I will update the documentation and provide the updated specifications for these data frames.

I'll also relax the requirements a little. For instance, I will make tibbles and data tables work. Plus, I should not be so strict on the column order.

[2017-09-08 13:20] bschneidr commented on #213
Ahh, ok. That would be great! In the meantime, thanks for telling me what I was missing (the `type` column).

[2017-09-08 16:16] rich-iannone commented on #213
@bschneidr I've updated the internal documentation for `create_node_df()` and `create_edge_df()`. It now states which columns are necessary (and which column classes they should have).

I will get onto the second part (accepting tibble / data table objects as ndfs/edfs) very soon. Closing this issue now, however, as the second task is covered in another issue. Please re-open if there are still pro

[2017-09-08 16:16] #213 closed

[2017-09-09 00:48] rich-iannone commented on #212
@wamserma it took awhile but I managed to update this function (`edge_present()`) to accept node labels. There are no stopping conditions when node IDs or labels are not in the graph (results in `FALSE`). This is currently in the dev version of the package. I also rewrote `node_present()` to behave similarly.

Closing issue but do reopen if there are problems here.

[2017-09-09 00:48] #212 closed

[2017-09-14 09:16] vikram-rawat commented on #241
Mermaid has just updated some code. Now the class diagram are working perfectly on mermaid editor but they are still not working on Diagrammer.

Please update.

[2017-09-15 13:58] happyshows opened #245 "Poor performance in get_eccentricity"
dg = from_igraph(g)

[code]

[2017-09-15 22:41] rich-iannone commented on #245
@happyshows this is now fixed in the dev version. Check it out!

[2017-09-15 22:41] #245 closed

[2017-09-15 22:42] rich-iannone commented on #241
@vikram-rawat I'll take a look into this and see if I can update mermaid within this package. Thanks!

[2017-09-19 21:36] hennerw opened #246 "Documentation references render_graph( ... , output = "DOT") which is no longer supported"
The graph creation tutorial page, "Viewing a Graph Object" section is out of date: http://rich-iannone.github.io/DiagrammeR/graph_creation.html

"If you'd like to return the Graphviz DOT code (to, perhaps, share it or use it directly with the Graphviz command-line utility), just use output = "DOT" in the render_graph() function. Here's a simple example: ..."

The function is now generate_dot, but

[2017-09-20 01:24] sjackman opened #247 "Import GraphViz file [feature request]"
I see that there's the [generate_dot](https://www.rdocumentation.org/packages/DiagrammeR/versions/0.9.2/topics/generate_dot) function to output a GraphViz file. [import_graph](https://www.rdocumentation.org/packages/DiagrammeR/versions/0.9.2/topics/import_graph) doesn't seem to support reading GraphViz. Is there a way to read a GraphViz file?

[2017-09-20 01:46] sarahpolcz commented on #71
Same issue as @tinyheero and @fintzij  concerning subscripts for '@lambda'

Thank you

[2017-09-27 19:02] Yatros opened #248 "Export mermaid graphics as SVG files?"
Hello,

I know that exporting mermaid graphics as SVG files was an issue at some point: <https://github.com/rich-iannone/DiagrammeR/issues/174>

The thing now is that I cannot find if this feature was ever implemented and I am unable to export a Gannt graphic that I performed with the mermaid DiagrammeR function into SVG format.

Is there any way of exporting these type of objects into SVG format?

[2017-10-02 13:52] skanskan commented on #215
Then how can we force Diagrammer to use a certain layout?
For example I would like to have all nodes aligned along a straight line.
such as this:

![untitled](https://user-images.githubusercontent.com/4120283/31080685-b52c5d6a-a789-11e7-9913-05cee50f56f9.png)

[2017-10-03 19:03] wamserma commented on #212
Please ping when this has matured to CRAN. I have to keep the workaround (changed to quosures) until then to avoid issues with my package on CRAN.

[2017-10-03 20:28] wamserma commented on #215
@skanskan `layout` was only passed to Vivagraph (support has been removed). The layout needs to be adjusted by setting the graph attributes using a value that is supported by the chosen rendering tool. DiagrammeR itself does not render the graph, it hands off this task.
With other words: You might have to provide your own layout engine for graphviz and then put that name into the graph attributes.

[2017-10-04 10:43] skanskan commented on #215
Could you please tell me how to create this simple graph:
https://stackoverflow.com/questions/46524490/how-to-create-a-directed-network-graph-with-aligned-nodes-in-r
nobody has provided any solution with diagrammer.

library(DiagrammeR)
library(visNetwork)

[code]

[2017-10-04 11:24] wamserma commented on #215
@skanskan This is currently not possible with DiagrammeR. You may get something close if you find a way to assign ranks to the nodes that are then used in the dot output (see http://graphviz.org/pdf/dotguide.pdf).
Computing and assigning the ranks can be done in a custom wrapper of `render_graph()`, e.g. by calling `DiagrammeR::get_min_spanning_tree()` and properly traversing the result.
Alternati

[2017-10-09 14:11] ellereve opened #249 "Way to save as pdf?"
I want to use DiagrammeR in slides but for various reasons the slides need to be done in knitr, not markdown. Is there any way to save the images as pdfs? Using the R export allows for png/jpg/bmp, but then I have resizing issues and using pdf('') dev.off() doesn't work.

[2017-10-10 22:58] rich-iannone commented on #215
@skanskan would something like this work for you?

[code]

It makes this:

<img width="538" alt="screen shot 2017-10-10 at 3 56 52 pm" src="https://user-images.githubusercontent.com/5612024/31414620-ab0d3eee-add3-11e7-8f70-0a6793da4507.png">

Another option is to replace `value = "spline"` with `value = "ortho"`:

<img width="537" alt="screen shot 2017-10-10 at 3 58 00 pm" src="https://user-images

[2017-10-11 03:09] #244 closed

[2017-10-11 08:50] skanskan commented on #215
Yes, thank you very much.  In the meantime I did it with tikz, now I must decide what methodology is better. Regards.

[2017-10-15 14:48] skanskan opened #250 "Edge width ?"
Hoe can I link the edge width to the value of a variable?
create_edges() doesn't seem to have any option for that.

[2017-10-15 14:52] skanskan commented on #249
Maybe you need to use DiagrammeRsvg

[2017-10-17 12:16] rich-iannone commented on #250
Try this for creating a `width` node attribute based on scaling another variable:

[code]

If you have exactly what you need for the width in another variable, then you could copy that variable to the `width` attribute.

[code]

<img width="444" alt="screen shot 2017-10-17 at 9 16 16 am" src="https://user-images.githubusercontent.com/5612024/31664463-e23ff382-b31b-11e7-8cfe-c5f91029945a.png">

[2017-10-17 12:24] rich-iannone commented on #243
@plion Sorry for the delay in getting back to you... I got a chance to try out this parameter and indeed it works great! I modified the package a bit in the development version to allow creation of this attribute (I think I just missed it before).

FYI I'm also starting to develop helper functions (`node_aes()` and `edge_aes()`) that make it a bit easier to insert attribute values for nodes and ed

[2017-10-17 17:56] skanskan commented on #250
But I want to change the width of the edges, not the width of the nodes.

[2017-10-17 19:45] rich-iannone commented on #250
Ah, of course... I have another example that addresses the edge width:

[code]

That produces this graph:

<img width="437" alt="screen shot 2017-10-17 at 4 43 59 pm" src="https://user-images.githubusercontent.com/5612024/31685770-89cedec2-b35a-11e7-8a78-1e258b6c8895.png">

[2017-10-18 10:05] skanskan commented on #250
OK, thank you, I'll try with my data.
Is it also possible to add a label to each edge?

[2017-10-20 02:44] stemangiola opened #251 "Installation error"
Hello,

on

devtools::install_github("rich-iannone/DiagrammeR")

I get

Error in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]) :
  namespace ‘dplyr’ 0.5.0 is being loaded, but >= 0.7.2 is required
ERROR: lazy loading failed for package ‘DiagrammeR’
* removing ‘/wehisan/home/allstaff/m/mangiola.s/R/x86_64-pc-linux-gnu-library/3.3/DiagrammeR’
Installation failed: Comma

[2017-10-26 08:52] andpir55 opened #252 "Making a correlation arrow"
Hello,

I use diagrameR to make path diagrams, for which it is proving to be really helpful. However I have an issue I cannot figure out by myself.

I need to make a curve bidirectional arrow between two nodes in order to represent correlation, following the standard notation. But after searching for a long time, I don't see how I can do it.

Any advice?

Thank you.

[2017-10-26 20:04] skanskan opened #253 "Adding gaps or borders"
How can I add a white border around every node?
And around edge labels?
The first will let to force the arrows not to touch the node.
The second will serve to avoid overlappings with edges.
And how can I create a gap when two edges cross each other?
![ogovh](https://user-images.githubusercontent.com/4120283/32074372-769ec4c0-ba99-11e7-910e-fc391a22236c.png)

https://stackoverflow.com/questions/468

[2017-10-27 01:55] rpietro opened #254 "Can't get graphviz script to run in DiagrammeR"
@rich-iannone outstanding package. I am trying to translate the following graphviz script to Diagrammer (comes from the [CONSORT statement](http://www.consort-statement.org/consort-statement/flow-diagram) ), but I just simply can't get it to work:

[code]

I tried a number of things such as replacing double by single quotes, placing an equal sign between blank and excluded, turning the allocatedA

[2017-10-28 18:39] skanskan opened #255 "arrowhedad parameter"
Hello.
I would like to draw the heads of my arrows with a smaller aperture angle,
I've labelangle but it doesn't seem to make any difference.
I've seen there is a  arrowhead parameter, by default  normal
What other values has this parameter?
What other things can I try.
I've also tried decorate and I'm not able to see any effect.

[2017-10-28 19:19] janvydra commented on #205
I have the same problem and it is not solved by using labels instead of ID's. Labels are not necessarily unique and/or contain generated text - in my case number of cases in a given group for example. If I use labels to identify nodes, these labels cannot contain dynamically generated text.  So I must say that I really miss the possibility to assign ID's to nodes. Its similar to HTML where element

[2017-10-28 22:13] rich-iannone commented on #205
@janvydra

Could you send a small code example of where the pain point occurs? Perhaps we could resolve this through some discussion upon a closer look at your application.

[2017-10-29 08:33] janvydra commented on #205
Hello, thank you for the reply, I figured out how to solve it - now I use add_node_df which lets me add any attributes including my custom IDs and retrieve the nodes through get_node_ids("ID == 'whateverid'").

Maybe it would be useful if was possible to pass arbitrary attributes to add_node() (for example ID = "blbla", data = 33.5) so that one would not have to go through dataframes.

Thanks.
Jan

[2017-10-29 18:12] rich-iannone commented on #205
What you’re describing is possible currently in the dev version of the package. Functions that create nodes and/or edges have arguments specifically for adding in arbitrary data.

This is split between those attributes that are aesthetics-based and attributes that contain arbitrary data values. Use the `node_aes()`, `node_data()`, `edge_aes()`, and `edge_data()` functions work within their namesak

[2017-10-29 18:12] #205 closed

[2017-11-06 05:39] rich-iannone commented on #250
@skanskan yeah! Simple add the `label` attribute to the edf. Here's an example:

[code]

That produces this graph:

<img width="793" alt="graph_with_labels" src="https://user-images.githubusercontent.com/5612024/32426807-cd37d36e-c271-11e7-9c2e-7841b3cce1e1.png">

[2017-11-06 05:43] rich-iannone commented on #250
Another way, through extension of the previous example, is to copy an existing edge attribute's values to a new `label` edge attribute.

[code]

Giving you this:

<img width="790" alt="graph_labels_numeric_values" src="https://user-images.githubusercontent.com/5612024/32426921-4babe24e-c272-11e7-972b-4f05710e3705.png">

[2017-11-06 05:44] rich-iannone commented on #250
Going to close this for now @skanskan but feel free to re-open if there are follow up questions.

[2017-11-06 05:44] #250 closed

[2017-11-06 05:46] rich-iannone commented on #251
Strange that it didn't work. Could you update to the latest release of **dplyr** and then try again? Please let me know if that didn't solve the installation problem.

[2017-11-06 05:48] rich-iannone commented on #248
I don't think that **mermaid** makes it easy to export SVG like **Graphviz** does. So, it was never implemented. Would be good to have this in the future... I'll keep an eye on **mermaid**'s development for examples on how this could be implemented. Closing for now though.

[2017-11-06 05:48] #248 closed

[2017-11-06 05:50] rich-iannone commented on #254
@rpietro Sorry for getting back to you pretty late on this. I did note that there was a solution for your Stack Overflow posting on the same. I'll close for now but let me know if there are further questions.

[2017-11-06 05:52] rich-iannone commented on #243
@plion I'll close this for now. The dev version now recognizes the `URL` edge and node attributes and opens a browser to open a provided URL. Let me know if there is follow up by re-opening the issue.

[2017-11-06 05:52] #243 closed

[2017-11-06 05:57] stemangiola commented on #251
This is the only thing that solved it.

install.packages(c("dplyr", "downloader", "htmltools", "htmlwidgets", "igraph", "influenceR", "magrittr", "purrr", "RColorBrewer", "readr", "rlang", "rstudioapi", "rgexf", "scales", "stringr", "tibble", "tidyr", "viridis", "visNetwork"))
install.packages("data.tree")

[2017-11-06 10:01] skanskan commented on #250
At the end I'm using Diagrammer to create my graphs, I can export them to svg or vectorial pdf.  But it has some disadvantages: It doesn't position the nodes well, and it doesn't position the labels well (quite often they olverlap with the edges or they mix with other).
Regards.

[2017-11-10 21:57] #210 closed

[2017-11-10 21:58] #215 closed

[2017-11-11 07:33] rich-iannone commented on #249
@ellereve Sorry for the delay on this. This code definitely works to make a .pdf from a graph object:

[code]

The file looks like this:

<img width="910" alt="screen_shot_of_pdf" src="https://user-images.githubusercontent.com/5612024/32687370-7e81031a-c66f-11e7-8f3b-7349d4f4eb88.png">

[2017-11-11 07:35] #246 closed

[2017-11-11 12:23] rpietro commented on #254
@rich-iannone that solution gets the script to work with graphviz, but not graphviz within Diagrammer. So, the issue is still there.

[2017-11-23 07:30] byzheng opened #256 "DiagrammerR is not working properly with bookdown"
In the latest DiagrammerR and bookdown, the html-style label is not working properly.

In my test.gv file, I use html style label:
[code]

The output looks perfect in the Rstudio viewer.
![image](https://user-images.githubusercontent.com/1657381/33162114-754edb24-d073-11e7-8630-964b30d217dc.png)

But the font is changed for html style label when I compiled in bookdown:

![image](https://user-image

[2017-11-23 07:42] byzheng commented on #256
After look the elements in the html code:

The problem comes from `font-size: inherit;`, but don't know how to fix it.

![image](https://user-images.githubusercontent.com/1657381/33162518-937159d6-d075-11e7-9ae4-c3bf84082eec.png)

[2017-11-24 10:22] heichi opened #257 "Create Subgraph/cluster with version 0.9.2"
Hello,
are cluster/subgraph supported in version 0.9.2 of DiagrameR?

Thanks

[2017-11-28 21:28] steveputman opened #258 "label_col in add_nodes_from_table results in vector of entire label column for each node's label"
In trying to use label_col in add_nodes_from_table, I get a bizarre nodes_df -- any idea what I'm doing wrong?

[code]

[2017-11-28 21:48] steveputman commented on #258
Sorry; I think this is a duplicate of #233; was focused on add_nodes_from_table() and not the fact I was feeding a tibble to create_graph().

[2017-11-28 22:12] rich-iannone commented on #258
@steveputman Thanks for posting the issue on this (ran into it before). Now fixed with a recent commit. Please re-install dev build and try again. I was also able to run this:

[code]

[code]

[2017-11-28 22:14] steveputman commented on #258
Thanks! Great package.

On Tue, Nov 28, 2017 at 4:12 PM, Richard Iannone <notifications@github.com>
wrote:

[2017-11-28 22:14] rich-iannone commented on #258
@steveputman thanks for the good words! Closing.

[2017-11-28 22:14] #258 closed

[2017-11-28 22:19] rich-iannone commented on #255
@skanskan try the statement given below, it shows all the available types of arrowheads. Unfortunately, there are only a few arrowhead types and they are not very customizable. Graphviz has the option to use compounds arrowhead types (not formally supported in this package yet) but they won't really serve your needs.

[code]

[2017-11-28 22:19] #255 closed

[2017-11-28 22:24] rich-iannone commented on #253
There is currently no way to do this since there is only the possibility of a single border. Peripheries might be an idea, but all peripheries are coloured the same as the node border color. Edge crossings also can't be done like in the drawing (would need to have a secondary line with a different penwidth that's drawn below).

[2017-11-28 22:24] #253 closed

[2017-12-14 19:50] komalsrathi opened #259 "Variable values in DiagrammeR"
Hi,

I am trying to create a flowchart like this:

[code]

This generates a graph like this:

![rplot](https://user-images.githubusercontent.com/7000615/34011437-00a1e502-e0de-11e7-9835-fe5859379963.png)

However, instead of manually filling in the values in the boxes, I want to fill in values from a dataframe where the column names correspond to each of the boxes:

[code]

Can you please show me

[2017-12-14 20:56] rich-iannone commented on #233
@stephlocke @bschneidr this is now fixed in the dev build! Apologies for this taking so long to address. You can now use `data.frame` and/or `tbl_df` in a `create_graph()` call.

[2017-12-14 20:56] #233 closed

[2017-12-14 21:55] TomONeillQMUL opened #260 "subgraph"
I'm trying to join nodes to a cluster subgraph of nodes with lhead but it does not work. Here is the code I'm producing:

grViz("
digraph G {

      graph [compund = true]

      edge [color = grey,
      arrowhead = vee]

      node [shape = oval,
      label = 'Esthwaite Water',
      style = filled,
      color = aliceblue]
      a

      node [shape = oval,
      label = 'Western Shore',

[2017-12-14 22:06] TomONeillQMUL commented on #260
I've just managed to solve it, by introducing graph[compound=true] inside the subgraph {} also the main graph[] command is wrong as is not compund but compound.

[2017-12-15 16:14] komalsrathi commented on #260
Hi @TomONeillQMUL I have a similar question and hopefully you will be able to help me here:

I have created this graph and I want to cluster the top half and the bottom half but it is not working. My code:

[code]

This produces the following figure:

![rplot](https://user-images.githubusercontent.com/7000615/34050230-2eeeb192-e188-11e7-98c6-37b5634e5945.png)

However, what I am trying to achieve

[2017-12-20 17:39] Enchufa2 commented on #236
And is this possible programmatically? I mean, using `create_graph` from nodes&edges data frames.

[2017-12-21 15:11] Enchufa2 commented on #257
It seems so (see #260). However, I don't know whether these graphs can be created using `create_graph` (I've already asked in #236).

[2017-12-30 17:41] vnijs commented on #248
FYI The [mermaid editor](https://mermaidjs.github.io/mermaid-live-editor/) now has an option to download SVG. Not sure how this is done but it sure would be a nice feature.

[2018-01-02 05:32] FinScience opened #262 "Incorrect graph rendering"
Hi,
I was using DiagrammeR for my project. In some cases the graph that is rendered is fine while in other cases they are not. It would be awesome if you could please have a look at it. Sharing the details below.

The string that I have created is as follows

[code]
[code]

![image](https://user-images.githubusercontent.com/11004504/34474955-425858f0-efac-11e7-94af-3b5b455daed0.png)

Am I doing an

[2018-01-04 22:29] twang2218 opened #263 "Could you uniform the git tag format?"
Normally the git tag will be the form of `va.b.c`, I found there is an inconsistency in this project.

From version `0.1` to `0.5`, the git tag is in form of `a.b`. And from `0.6` there is a mix, most of them are `va.b.c`, however, `0.8.2` and `0.9.2` are in the form of `a.b.c`.

Which cost me some trouble to find the right version of the source code to view. I was looking for `v0.9.2`, and the la

[2018-01-05 03:37] twang2218 opened #264 "'add_edges_from_table()' cannot handle the node name with space in it."
I have struggled about this problem for several days. When I provided an edge table with 400 edges to `add_edges_from_table()`, I got only about 100 edges back if I call `get_edge_df()`, many edges are missing. I tried to manually add the missing edges by `add_edge()`, there is no problem. But whenever I use `add_edges_from_table()` there always many edges are missing.

After many try and fail, I

[2018-01-05 15:07] alc28 commented on #207
I ran into the same problem as oscci yesterday. My clunky workaround was to grab a screenshot of the rendered chart in the rstudio viewer. What is the best practice at this stage of development?

[2018-01-06 00:29] rich-iannone commented on #264
@twang2218 Sorry about this causing you some wasted time. I took that statement out awhile back in the dev version. Are you able to install from GitHub and try again? After that, these statements worked:

[code]
<img width="678" alt="graph_diagram" src="https://user-images.githubusercontent.com/5612024/34634076-7ea1dd1e-f235-11e7-8462-da3876137d9f.png">

[2018-01-06 02:09] twang2218 commented on #264
Thank you for quick response. I installed the Github version, and changed the following part of the demo code:

[code]

This time, it's working now.

However, one behavior is changed in `add_nodes_from_table()`. Previously, the `label_col = "name"` will apply the value of `name` column to `label` column, and keep `name` column. But after I installed the Github master branch, the `name` column is r

[2018-01-07 23:20] #264 closed

[2018-01-07 23:43] rich-iannone commented on #263
This changes have now been made.

[2018-01-07 23:43] #263 closed

[2018-01-08 19:36] flyaflya commented on #257
Thx @rich-iannone for the great package; I think the importance of programmatically generating DAG's and similar graphs from dataframes cannot be understated.

In regards to this issue, I am wondering if there is any guidance on @Enchufa2 's comment/inquiry.    Can the "subgraph cluster_X" capabilities be replicated using `create_graph`?  I would like to use a node dataframe to mimic basic plate m

[2018-01-13 02:53] rich-iannone commented on #257
@flyaflya if I recall correctly, there is some capability to bundle/coalesce nodes together (I think by using the `cluster` node attribute), but I need to revisit the state of this.

Could you provide a concrete example of what you’d like to achieve from inputs to output? Should the functionality not be available, I’d be more than happy to include it into the package as a new feature.

[2018-01-13 10:01] Enchufa2 commented on #257
I see:

[code]

Not a very helpful message, BTW.

[2018-01-13 21:55] flyaflya commented on #257
@rich-iannone, thanks for the follow-up.  As a simple example, I would like to reproduce the output of this code:
[code]
which produces this picture:
![image](https://user-images.githubusercontent.com/17184441/34910384-ebaadf94-f881-11e7-84bb-c5f37560f43b.png)

The code I would like to use is something like this:
[code]

, but I get the same error as @Enchufa2 (i.e. `Error: `replacement` must be a

[2018-01-18 17:52] wangyueshazi opened #265 "unable to adjust the position of external labels"
I have a directed graph with grViz function.

Some of the circles are very small due to my need. So I put the labels of such circles outside the circles using the option 'xlabel'. But I found that I could not control the position of such external labels. For example, I want all the external labels to be on the right of the circles. But it turned out that some of them were on the left and some of t

[2018-01-19 16:28] wangyueshazi opened #266 "Substitution not working well with Shiny"
I found the substitution function is not working well with the Shiny. Shiny can not find the substitution object. Please see the following example.

`# The ui part
library(shiny)
library(DiagrammeR)

shinyUI(fluidPage(

  titlePanel("Diagramme Example"),

  sidebarLayout(
    sidebarPanel(
       helpText("Example")
    ),

    mainPanel(
       grVizOutput('Pic')
    )
  )
))`

` # the server par

[2018-01-19 18:15] markusdumke commented on #109
Why did you remove GraphML support?

[2018-01-19 18:52] shrektan commented on #266
It works fine on my computer using the following code.

Please update your shiny and DiagrammeR packages then try again.

If still fails, please paste your `sessionInfo()` here.

### code

[code]

[2018-01-20 04:05] #251 closed

[2018-01-20 04:09] rich-iannone commented on #265
Could you please provide the example code if possible? Also, a screenshot would be helpful as well. Then I can help you modify the code to get the best visual result.

Agreed about `xlabel`, it doesn’t really allow for predictable positioning of the label text.

[2018-01-22 15:42] wangyueshazi commented on #266
Thanks so much for you reply, @shrektan .

I tried your codes on my RStudio and it failed again.

The RStudio and packages "shiny" and "DiagrammeR" are all up to date. Please see my session info below.

[code]

Thanks!

[2018-01-22 16:05] wangyueshazi commented on #265
Thanks so much for your reply, @rich-iannone .

Please see my codes below. All the yellow dots have long labels and I want all of them to be outside and on the right of the circles.

[code]

Thanks!

[2018-01-25 02:23] vnijs opened #267 "tooltip on edge-labels with mermaid?"
Any idea if it is possible to add tooltips to edge labels with mermaid? It works fine with nodes (see example below) but it would be really useful for edge labels as well. The example below is based on rpart where the levels used in the split are abbreviated (by rpart) to letters to save space. This would be excellent information to add as a tooltip

![image](https://user-images.githubusercontent.

[2018-01-27 20:06] lnalborczyk commented on #66
Hi, as today, is there an easy way to export a mermaid diagram to svg or pdf (or others) from R ? I can not find a definite answer in the related issues... Thanks !

[2018-01-27 20:14] PKullberg opened #268 "Assigning same rank for a clustered subgraph and other nodes"
Hi,

I'm trying to build a graph in Rnotebook using DiagrammeR. I would like to assign same rank to a clustered subrgraph and few other nodes. However, when I set 'rank = same' for  the nodes in the subgraph and any other nodes, the subgraph loses its  surrounding rectangle. I'm new to DOT language and DiagrammeR and  I can't figure out whether I'm doing something wrong here, or this is a bug, or

[2018-01-28 12:30] lnalborczyk commented on #66
For your information, I just found that the `plotly` package has a convenient function to export `htmlwidgets` to (for instance) pdf or png files.

You can export a mermaid graph `g` with `plotly::export(g, file = "mermaid.png").`

[2018-01-29 14:00] shrektan commented on #266
@wangyueshazi Sorry I can't help you. It works both on my Mac and Windows machine. Maybe you could try `trackback()` to see what has triggered the error...

[2018-01-29 16:31] wangyueshazi commented on #266
@shrektan Thanks!

[2018-01-29 23:33] rich-iannone commented on #266
@wangyueshazi could you please provide the code you ran (once more) and the error message you received? Thanks!

[2018-01-29 23:36] rich-iannone commented on #252
@andpir55 try using this example to make a bidirectional arrow:

[code]

Unfortunately, there is no way to dependably force curved arrows.

[2018-01-30 17:49] wangyueshazi commented on #266
@rich-iannone Please see the codes below. It is exactly the same as shrektan's.

[code]

The error shows
object 'A' not found

Thanks!

[2018-02-09 01:29] pgok15 opened #269 "Issue with using DiagrammeR in Rmarkdown"
When trying to use grViz in rmarkdown I run into the error message "Error: object 'cividis' is not exported by 'namespace:viridisLite' " This happens when I write my own code or use the example markdown code on the DiagrammeR website.

[2018-02-09 01:30] rich-iannone commented on #269
@pgok15 could you provide an example of the code you used?

[2018-02-09 01:35] pgok15 commented on #269
@rich-iannone Here's what I have for the example markdown code:
---
title: "Untitled"
author: "pgok"
date: "February 8, 2018"
output: html_document
---

[code]

And here is was I was initially using:
---
title: "Untitled"
author: "pgok"
date: "February 8, 2018"
output: slidy_presentation
---

[code]

[code]

[2018-02-09 01:53] pgok15 commented on #269
@rich-iannone I think I managed to fix the issue. I removed DiagrammeR and viridisLite, then reinstalled viridisLite (with dep = T in the install command) and reinstalled DiagrammeR. It seems to work now. Thanks for looking at this.

[2018-02-09 02:03] rich-iannone commented on #269
@pgok15 very glad you were able to resolve the issue! I will close the issue now.

[2018-02-09 02:03] #269 closed

[2018-02-16 11:18] martinjhnhadley opened #271 "Hyperlinks in DiagrammeR charts"
I'm struggling to find a way to embed a hyperlink into a DiagrammeR output. I've tried using the following approaches without success:

- mermaid
- grViz
- create_graph

I created a SO question here: https://stackoverflow.com/q/48792355/1659890

For completeness, I've pasted the content of the question below. I hope you don't mind me using your Issues log in this way, please do close if you find i

[2018-02-16 18:55] manalirupji commented on #114
Can we incorporate mermaid functionality of the DiagrammeR package with shinyR?

[2018-02-18 20:37] weijiazzz opened #272 "Using function ouput in grViz"
First of all, thank you for the great package.

I have an issue here, how can I label my nodes using function output like sum(), mean() etc. I am trying to generate a flow chart that can reflect meaningful values from my data.

Thank you for all suggestions.

[2018-02-19 14:24] manalirupji commented on #121
How can one pass and reactive input (selected by the user) to the diagrammeR? For example, I want to create a flowchart for an multi step process based on user input. Some of the reactive objects need to be included in the flowchart

 d <- paste(
        paste0("graph ", input$orientation),
        "A[#Samples input$n]-->B[B]",
        "B-->C[C]",
        "C-->D[D]",
        "A-->D",
        "B-->

[2018-02-19 15:25] achubaty commented on #121
@manalirupji without a reproducible example, I can only guess at what you are trying to achieve. What aspect of the output do you want to be reactive/user-selectable?

My example above shows how to pass a reactive input (that's the `input$orientation` part).

Your `paste*` command needs to use valid syntax. You have specified a node `#Samples input$n`, which is invalid: variables (reactives) shoul

[2018-02-19 15:34] manalirupji commented on #121
Thanks, I apologize for the poor documentation in the question. Please see below a snippet of what I would like to achieve,

library(DiagrammeR)

# Shiny app
server <- function(input, output) {

  output$diagram <- renderDiagrammeR({
      d <- paste(
        paste0("graph ", "TB"),
        "A[Input Data <br/> No. of Genes:] --> B[Filtering Parameters]",
        "B --> C{A Rhombus}",
        "C --

[2018-02-19 22:07] achubaty commented on #121
The solution is the same as in my example above:

[code]

[2018-02-20 15:41] manalirupji commented on #121
Thanks so much for your help! it works well!

[2018-02-21 14:32] Enchufa2 opened #273 "Error: `UQ()` can only be used within a quasiquoted argument"
`rlang` 0.2.0 is on CRAN, and `rlang::UQ` cannot be called directly anymore, which breaks `DiagrammeR`. All these calls must be substituted.

[2018-02-21 22:06] hadley opened #274 "Set repository url to website"

[2018-02-22 17:10] rich-iannone commented on #274
@hadley I put the link to the website back up. Planning to redirect to a pkgdown site once the vignettes are prepared and incorporated into that.

[2018-02-22 17:10] #274 closed

[2018-02-22 18:43] rich-iannone commented on #273
@Enchufa2 I'm preparing DiagrammeR for a CRAN release and will be informing maintainers of dependent packages whether the candidate release raises issues R CMD check. Hoping to perform the revdep checks today and issue emails to the maintainers. Then there will be a 2 week window for the maintainers to resolve issues, after which I'll submit the package to CRAN.

In the meantime, the GitHub versio

[2018-02-24 19:24] Enchufa2 commented on #273
I think that you should submit the new version ASAP: those packages depending on DiagrammeR **are already failing** on CRAN, so there's no need to wait 2 weeks.

In fact, I've already received a message from CRAN on a package of mine that states:

That's two weeks from now. So, please submit ASAP or we'll see our packages dropped from CRAN.

[2018-02-24 19:56] rich-iannone commented on #273
@Enchufa2 Thanks for the advice. I've submitted the package to CRAN. I'll write a note here when it is available.

[2018-02-25 12:14] Enchufa2 commented on #273
Thanks, @rich-iannone.

[2018-02-26 10:50] Enchufa2 commented on #273
One question regarding the new version. What is the new way of setting the attributes? I found that `set_global_graph_attrs` is no longer available, but there is no guidelines about it in the NEWS file. Thanks in advance.

[2018-02-26 13:27] Enchufa2 opened #275 "Set verbose level"
If you are using DiagrammeR interactively, INFO messages are fine. But in general, it would be nice to have a way of setting DiagrammeR's verbose level. For example, another package using DiagrammeR should be able to turn off INFO messages (instead of having to execute everything inside a `suppressMessages`).

[2018-02-27 16:13] rich-iannone commented on #275
@enchufa2 This is a very good idea. What I could do (after v1.0.0 releases on CRAN) is to have a variable in the graph object where verbose messages can be set with `TRUE` or `FALSE`. This setting can be made available in any function that creates a new graph, and, an additional function will allow for modifying the setting.

Does this sound like a good plan?

[2018-02-27 16:19] Enchufa2 commented on #275
That sounds very good, thanks!

[2018-03-01 11:07] Enchufa2 commented on #273
Any news of what's happening on CRAN?

[2018-03-01 18:59] rich-iannone commented on #273
I've mentioned to CRAN that I'm in communication with maintainers that are affected by the new release of DiagrammeR. CRAN indicated that the package would be published so long as such support is offered. I'm waiting for a response to that.

[2018-03-01 19:03] rich-iannone commented on #273
@Enchufa2 It is now on CRAN (https://cran.r-project.org/web/packages/DiagrammeR/).

[2018-03-01 20:10] elbamos opened #276 "`grViz` runs fine in RStudio preview, but fails when knit"
My graph, which is quite simple, displays properly when I click the little green arrow in RStudio. But when I knit to an `html_document`, I get this in its place:

[code]

The graph code is quite simple. I'd prefer not to include the whole thing, but here's the start:

[code]

[2018-03-02 12:09] #273 closed

[2018-03-02 20:25] jeremiedb opened #277 "Removal of set_global_graph_attrs"
Removing ` set_global_graph_attrs` resulted in a breakage of the MXNet library which was using that function. This has been patched with `add_global_graph_attrs`, though the nodes are now of fixed size rather than wrapping the text content. I assume this can be fixed by changing some other graph attributes?

Although MXNet library isn't on CRAN, could there be a way to be made aware of potential b

[2018-03-08 07:24] twang2218 opened #278 "Error: "there is no package called 'rsvg'" on Solaris"
Today, I received an email from CRAN team about my package [pmap](https://github.com/twang2218/pmap) which depends on `DiagrammeR` package, the mail said:

And the logs of the failed part of my package is following:

[code]

It seems caused by the `DiagrammeR::export_graph()` calling the suggested package `rsvg` without using the conditional pattern recommended at CRAN manual [1.1.3.1](https://cra

[2018-03-08 18:10] jasonhenderson commented on #271
Did you figure something out here? Seems like this is pretty useful.

[2018-03-09 07:44] jaspervanm opened #279 "Export graph in certain layout"
Hello,

I've used DiagrammeR to create a flowchart for a clinical trial.
It looks nice when I do `render_graph("tree")`, and export it via RStudio.

I would like to use `export_graph()` to export the graph automatically to png.
It works, but I cannot set the "layout" element and thus the graph is rendered differently.

**Is there a way to specify the graph layout while exporting with `export_graph

[2018-03-09 10:00] martinjhnhadley commented on #271
Unfortunately not, I’d happily take recommendations but also aware that I might just need to write this natively rather than via the htmlwidget.

[2018-03-11 22:20] lucazav opened #280 "How to stabilize a network rendered as visNetwork"
Hi,

first of all, this package is really great! 🥇
When I render a graph having lot of nodes with

`render_graph(gr, output = "visNetwork")`

some nodes don't stop to move. Is there a way to stop them?

Thank you.

[2018-03-11 22:29] lucazav opened #281 "How to programmatically export a visNetwork graph in html?"
Hi,

I successfully exported a graph rendered with visNetwork in html thanks to the "Viewer > Export > Save as Web page..." feature of RStudio.
Is there a way to programmatically generate a similar html file?

Thank you.

[2018-03-12 13:35] Granini077 opened #282 "could not find function "set_global_graph_attrs""
Hey Guys,

after updating DiagrammeR to Version 1.0.0 I have a problem to create a process map with the processmapR package, wich is trying to use one of your functions:

[code]

In Version 0.9.2 I can find this missing function. The newer version doesn't contains it anymore...
Just to be shure you are informed :)

[2018-03-14 10:03] senickel commented on #207
Thanks @oscci! This is helped a lot.

The only issue is that I could not edit the size of the image but I created the following work around which does not lead to the exact height defined (slightly bigger) but good enough for me. (on Win7)

[code]

[2018-03-15 00:46] askrht commented on #218
I have the same problem in flexdashboard. Mermaid diagram on the second slide that you click on the page is always rendered without text. Only the diagram which is rendered first shows text. Here are the steps to reproduce.

Install allowing packages:

[code]

Here's the code for flexdashboard.Rmd.

---
title: "Untitled"
output:
  flexdashboard::flex_dashboard
---

[code]

# Chart A

[code]

# Cha

[2018-03-15 00:49] askrht commented on #218
Is there a work around?

[2018-03-20 07:36] fmannhardt commented on #282
For other people stumbling over this issue. It has been solved in processmapR:
https://github.com/gertjanssenswillen/processmapR/issues/11

[2018-03-22 15:16] phirsch opened #283 "Update mermaid version"
Is there any chance that mermaid could be updated to support the current version (currently 7.0.0, released Jan 29, 2017)? I am particularly interested in the activation/deactivation support for sequence diagrams available in the new version.
I have briefly looked into doing this myself, but it seems that the original distribution files have been modified in a way that does not seem obvious to me.

[2018-03-23 21:32] topspinj opened #284 "Are create_nodes() and create_edges() deprecated?"
The [docs](http://rich-iannone.github.io/DiagrammeR/graphs.html) use create_nodes() and create_edges() but based on the code, these functions seem to be deprecated.

[2018-03-29 05:45] amey-desai commented on #218
I am facing teh same issue with LearnR. PLease icrease teh priority.

[2018-04-01 07:31] rich-iannone commented on #282
Thanks for raising the issue @Granini077 . Looks to be solved now though.

closes #282

[2018-04-01 07:31] #282 closed

[2018-04-03 20:55] benmarwick opened #285 "How to change the font family in mermaid diagram"
I can get a nice mermaid diagram, but I'd like to use a sans serif font. How can I change it? I guess that I need to use `fontFamily` somewhere, but everywhere I've tried breaks the code. What am I missing?

[code]
![image](https://user-images.githubusercontent.com/1262179/38275398-9c27e6f2-3746-11e8-92e8-a205421b4649.png)

[2018-04-07 08:21] psychelzh opened #286 "`image` attribute of `dot` does not work"
I learned it is possible to add an image to a node from [the documentation](https://graphviz.gitlab.io/_pages/doc/info/attrs.html#d:image) of `dot` languge.

Unlike with the shapefile attribute, the image is treated as node content rather than the entire node. In particular, an image can be contained in a node of any shape, not just a rectangle.

[Here](https://graphviz.gitlab.io/_pages/Gallery/di

[2018-04-09 20:17] bgall opened #287 "object ‘cividis’ is not exported by 'namespace:viridisLite'"
Didn't see this in the issues, so reporting here. Receiving the error in the title. Looks like there is some issue with a dependency. Others have noted this here https://github.com/radiant-rstats/radiant.model/issues/3 and here https://github.com/rstudio/leaflet/issues/494

Here is a reproducible example:
[code]

[2018-04-10 23:36] pgok15 commented on #252
I have a related question that probably has the same answer (but may help with the above question). Is there a way to dependably force straight arrows? I ask because I've had a similar issue, only I seem to be able to get either the curved arrows I want or the straight arrows, but not both.

This produces a straight edge graph (but the correlation edges overlap variable nodes)
[code]
while this pr

[2018-04-14 23:34] sharonxu opened #288 "Set x position only in create_node_df"
I would like to set the x position without specifying the y position in create_node_df.

For example, this does not set the x position:
[code]

[2018-04-18 11:16] wfeijenOI opened #289 "colorize_node_attrs based on vector of hexadecimal color names returns error."
According to definition:
#' @param palette can either be: (1) a palette name from
#' the RColorBrewer package (e.g., \code{Greens},
#' \code{OrRd}, \code{RdYlGn}), (2) \code{viridis}, which
#' indicates use of the \code{viridis} color scale from
#' the package of the same name, or (3) a vector of
#' hexadecimal color names.

Used code:
newGraph <-    oldGraph %>%
          colorize_node_attrs(

[2018-04-23 16:58] zaindevel commented on #287
Error: object ‘cividis’ is not exported by 'namespace:viridisLite'
getting this error while running xgb.plot.multi.trees. Any help?

[2018-04-23 17:11] bgall commented on #287
I found reinstalling viridis and viridisLite fixed things. I had only installed it as a dependency automatically but just do a install.packages("foo") to reinstall. Restart R and life should be good.

[2018-05-03 11:33] emilmahler opened #290 "Feature request: Make nodes selectable in Shiny (raising input$ functionality)"
It would be a massive addition if you could select a node (e.g. in a mermaid diagram), which would cause a subsequent action. The action could be triggered via the standard Shiny input$value approach. This would make DiagrammeR figures interactive, just as ggplotly figures are.

[2018-05-03 15:04] skanskan opened #291 "`object 'set_global_graph_attrs' not found`"
Some functions don't work anymore.

`set_global_graph_attrs(graph, "layout", "dot", "graph")`
`set_global_graph_attrs(graph, "splines","spline", "graph")`
`add_global_graph_attrs(graph, "rankdir", "TB", "graph")  `

All the above lines cast this error:
`object 'set_global_graph_attrs' not found`

[2018-05-03 15:04] overmar opened #292 "set_global_graph_attrs"
set_global_graph_attrs is no longer available in the package, what function should be used for the same functionality?

[2018-05-07 11:08] skanskan commented on #291
I think I've found a solution.

replacing "set_global_graph_attrs" with "**add**_global_graph_attrs"

[2018-05-09 11:44] #291 closed

[2018-05-14 19:36] Jrmie commented on #292
I use add_global_graph_attrs()

[2018-05-16 22:10] ivanalaman opened #293 "Add text anywhere with grViz"
Dears,

I wanted to put a text 'Blabla' for example below box t4. How this is possible?

[2018-05-16 22:11] ivanalaman commented on #293
Ops, following the code.
grViz("

digraph {

 node [shape = circle]
 t1 [label = <t<SUB>1</SUB>>];
 t2 [label = <t<SUB>2</SUB>>];
 t3 [label = <t<SUB>3</SUB>>];
 t7 [label = <t<SUB>7</SUB>>]

 node [shape = box]
 t4[label = <t<SUB>4</SUB>>];
 t5[label = <t<SUB>5</SUB>>];
 t6[label = <t<SUB>6</SUB>>];
 t8[label = <t<SUB>8</SUB>>];
 t9[label = <t<SUB>9</SUB>>]

 # add edge
 t1 -> t2 [label='split 1'

[2018-06-05 03:42] egouldo commented on #206
Supplying the value `graph_attrs` to `attr_type`, instead of the documented `graph`, seems to fix this issue. Suspect this is the case with `node` and `edge` types, but haven't tested. Here's a minimal reproducible example:

[code]
The above fails with `error: Layout not done`. Below succeeds with expected output:
[code]

[code]

[2018-06-05 13:33] stevepowell99 commented on #257
also, sounds like DiagrammeR *should* support nested subgraphs too? (but obviously this won't work if ordinary subgraphs don't work)

[2018-06-15 08:56] vikram-rawat opened #294 "mermaid has added support for fontawesome"
Somehow it's working on mermaid live editor but not on diagrammer. I think mermaid library hasn't been updated.

[2018-06-17 06:04] maelle commented on #148
This function isn't exported any more, right?

[2018-06-17 06:14] maelle opened #295 "Illustrating nodes with emoji/image/icon?"
Thanks for a great package!

I'm trying to illustrate the nodes with emoji/image/icon (any would do) and encounter a few issues. I'm writing a .gv that I then render using the package. Maybe I'm trying to do things that aren't supported (yet) by the package, or maybe they are but by using R syntax directly, not a .gv file?

* I wasn't able to add images. From the examples I saw online I should use

[2018-06-17 06:17] maelle commented on #294
related to #283

[2018-06-18 18:36] rich-iannone commented on #295
Going to add updates here, every now and then, and I believe I made some progress to a usable method for getting images back into nodes. It'll again involve use of the **DiagrammeRsvg** pkg (functionality which was spun off into a secondary package due to its dependencies on V8) to extract the SVG from the render process and insert images from an `image` attribute.

I've been playing around with t

[2018-06-18 18:57] maelle commented on #295
🎉👏

[2018-06-20 14:31] #292 closed

[2018-06-20 14:32] #287 closed

[2018-06-22 13:48] jebyrnes opened #296 "Provide link from create_node_df to node_aes"
In the help file for `create_node_df` (and I'm guessing for edges) there is a `...` for node attributes. Please link that to the helpfile for `node_aes` so that users don't spend a ton of time searching for what helpfile attributes are in. Makes our lives easier! And we can make more awesome graphs faster!

[2018-06-22 18:43] rich-iannone commented on #296
This is a great idea, I'll do it!

[2018-06-23 18:39] jebyrnes commented on #296
Awesome - should probably do the same for set_node_attrs, etc.

[2018-06-29 18:57] #219 closed

[2018-07-02 14:53] kaktux opened #297 "Install DiagrammeR on Ubuntu 18.04 - xml and rgexf error"
Hi,

i am new to R (and RStudio) and trying to install DiagrammerR the "normal" way (via Rstudio) got me an error - xml and rgexf couldn't be installed.
I use Kubuntu 18.04 and the RStudio Server

To solve it i had to install the ubuntu package
r-cran-xml
via terminal. xml is a dependency of rgexf - so this error disappeared afterwards

After this DiagrammeR could be installed in RStudio.

Just in

[2018-07-06 14:29] overmar commented on #291
The primary side effect of this is that now any node that was resizing to fit the label is now of a fixed size. So far I haven't figured out a good way to change it back (node wrapping text) bc changing fixedsize = F, or fixedsize = shape do not render the same graphs.

[2018-07-27 07:13] stevepowell99 opened #298 "samehead doesn't work with create_graph?"
Seems that graphs created with `create_graph` don't support `samehead` (Edges with the same samehead value should be aimed at the same point on the head) http://graphviz.org/doc/info/attrs.html#d:samehead.
`create_graph`  is very useful, but is there a list somewhere of which attributes are supported by it and which are not?

[2018-08-07 12:36] yuanwxu opened #299 "colorize_node_attrs not working when palette is vector of hex color names"
The help file of colorize_node_attrs says that the palette can be a vector of hexadecimal color names. However I got the following error:
[code]
The source code suggest to me that this option doesn't seem to have been implemented.

[2018-08-07 12:40] #299 closed

[2018-08-08 14:53] stevepowell99 commented on #8
hi, wondering if animation is still on the roadmap? something like `render_animated_graph_from_graph_series`?

[2018-08-09 10:10] stevepowell99 commented on #8
In the meantime, here is a hack to animate a graph series (ugly, no nice transitions) within Shiny: https://gist.github.com/stevepowell99/0e32008b6d96e2085dbe3c2be21874ba

[2018-08-09 16:22] rich-iannone commented on #8
@stevepowell99 Animation is still a thing that would be a great feature. And, yeah! the graph series would be the ideal data structure for holding keyframes/states of the animation. When I was experimenting with animation (a long time ago) I believe I used d3. Perhaps a better way is to use SVG animations.

Thanks for sharing that gist. I will have a look! Let's keep this conversation going (the i

[2018-08-09 20:50] WilliamLemens commented on #262
I believe `end` is a reserved word for mermaid and you're throwing off the graph by including it. Also your referring to `powerchart` as `((powerchart))` after its declaration is breaking stuff. Once you've created the nodes, you can just refer to them by name to use them. For example, the code you listed works for me when corrected to the following:

[code]

[2018-08-12 14:06] Matherion opened #300 ""title-like" argument for longer text displayed below graph"
Thank you for this great package. Being able to visualise, well, pretty much all structured information, is hugely helpful in many situations. So thank you very much for making these functionalities so easily available in R!

I have a feature request. It's possible the need is the consequence of my lack of knowledge, and I can actually realize this in some other way, but I haven't been able to fig

[2018-08-15 22:29] fkgruber opened #301 "export_graph kills R session"
Hi
I'm having a problem with export_graph. I tried running the example in the help and I got:

[code]
and I got:
 objc[11132]: Class GNotificationCenterDelegate is implemented in both /Users/fred/Documents/gitRepos/homebrew/opt/glib/lib/libgio-2.0.0.dylib and /usr/local/opt/glib/lib/libgio-2.0.0.dylib. One of the two will be used. Which one is undefined.
Assertion failed: (!scaled_font->cache_froz

[2018-08-17 21:05] nilescbn opened #302 ""Error in as_base_type(x, as.list) : object 'rlang_get_attrs' not found" with render_graph"
Hello,

I've be long wanting to learn the DiagrammeR package and finally got around to it this morning. Thank you for your work. The package will be quite useful.

Attempting to use `render_graph()`, I'm getting the following error:

`"Error in as_base_type(x, as.list) : object 'rlang_get_attrs' not found"`

This first happened with a graph I created with `create_graph()`. Yet the error also happe

[2018-08-17 22:12] nilescbn commented on #302
I appreciate the quick reply.

I forgot to mention it but I did try that. I tried installing GitHub version again, this time restarting everything and uninstalling the package first. No luck, same behavior.

But I got it working now. The first example from the `render_graph()` help file now produces the graph in RStudio's Viewer.

In case this is helpful to anyone else, it could have been a `rlang

[2018-08-17 22:33] rich-iannone commented on #302
You're quite welcome. Thanks for reporting back on your **rlang** install and the effect of the dev version on **DiagrammeR**. I'll keep an eye on **rlang** changes and will fix this package if there are breaking changes!

[2018-08-17 22:33] #302 closed

[2018-08-17 22:37] rich-iannone commented on #280
@lucazav Sorry for taking so long to get to this issue. What I need to do is incorporate an option to have a frozen network, and, modify some of the physics options to better stabilize networks. I hope to get to this pretty soon!

[2018-08-18 09:32] stevepowell99 commented on #8
you mean to do a whole animation in a single svg file? Or to use css or something just to smooth transitions between frames? Both sound like a lot of work? Perhaps the simplest aid would just be to enable some kind of slight fade between frames just to make the whole sequence seem less jerky.

[2018-08-22 10:28] tvarju commented on #257
@Enchufa2 I tracked down this bug to line 499 of the file `generate_dot.R`.
It is clearly a syntax error, that is always raised, when `'cluster' %in% colnames(nodes_df)` in line 468 of the same file evaluates to `TRUE`

I can not fix it, since I do not really get what should happen here.

@rich-iannone This bug was there in the first version of the file. Even the indentation gives away, that somet

[2018-08-22 11:44] Enchufa2 commented on #257
@tvarju Good catch! But it's not a simple syntax error. That code is supposed to strip out nodes from the `node_block` and put them inside a `cluster` subgraph, but AFAICT the whole implementation is flawed in several ways (apart from the obvious syntax error).

[2018-08-22 17:17] zebryjiang opened #303 "Issue with DiagrammeR in Rmarkdown (output to PPT)"
Hi,
I was trying to use DiagrammeR package to insert a flow chart in RMarkdown.
The code works fine when output to a html file, but when output to a ppt or word document, the following error msg pops up

I checked one of your documentation, and saw that you mentioned there was some special requirements for outputting to a word document, but did not find any info on how.
Could you please provide so

[2018-08-22 17:53] Lulliter commented on #133
This may work:

[code]

Explanation in https://bookdown.org/yihui/bookdown/html-widgets.html:
_When knitr detects an HTML widget object in a code chunk, it either renders the widget normally when the current output format is HTML, or saves the widget as an HTML page and calls webshot to capture the screen of the HTML page when the output format is not HTML._

[2018-08-22 20:19] zebryjiang opened #304 "Line breaking"
Anyone has some ideas on how to add a new line?
Tried <br> and \n, both not working in my case.
`
grViz("
digraph a_nice_graph {

# node definitions with substituted label text
node [fontname = Helvetica]
a [label = '@@1' shape = plaintex witth = 10 hight = 3]
b [label = '@@2' shape = oval]
c [label = '@@3' shape = plantex]
d [label = '@@4' shape = plantex]
e [label = '@@5' shape = oval]
f [label

[2018-08-23 03:31] yutannihilation opened #305 "The website is outdated"
I love the cool website, but currently the documents on it seems outdated and confusing.

For example, this code on http://rich-iannone.github.io/DiagrammeR/graph_creation.html won't work because `create_nodes()` no longer exists. I simply cannot find how to do the same thing with the current version...

[code]

I feel introducing the breaking changes is OK itself, but, as the version reaches v1.0

[2018-08-23 04:44] zebryjiang commented on #305
I got what you mean, and I observed the same.
But I think the author is still replying in Github, at least 7 days ago.

[2018-08-23 04:48] rich-iannone commented on #305
Alright! I think I left this task for too long. And I do apologize for this. Well, I’m not waiting any longer on this. I’m writing vignettes. Doing it now. That website will be replace with a pkgdown site.

I promise to have examples on there that will actually run. It’s badly needed. If you like to help, could you have a look at the vignettes that will be pushed to the vignettes directory? I’ll t

[2018-08-23 04:57] yutannihilation commented on #305
Thanks for your quick reply and sharing the good news! A pkgdown site sounds great. Then, feel free to close this issue.

Sure, I'm looking forward to reading the vignette :)

[2018-08-23 04:58] rich-iannone commented on #305
@yutannihilation Again, thanks for being patient! I've been very busy lately working on a "secret" R package project.

[2018-08-23 05:09] yutannihilation commented on #305
@rich-iannone No worries, I noticed you have some secret that makes you super-busy since your contribution graph on profile has been sparse for the recent months ;)  Looking forward to the release!

[2018-08-23 05:16] rich-iannone commented on #305
Ah, I had the setting wrong! I just changed it now to show both public and private contributions. It should now be all various shades of green. Now I don't look like such a slacker :)

[2018-08-24 09:33] tvarju commented on #257
@stevepowell99 nested subraphs with a dot notation syntax like
`nodes$cluster <- c('A', 'A', 'B', 'B.sub', 'B.sub', 'B.sub.subsub')`

I could implement it right now.
Let us wait what happens to my pull request #306 !

A more extended support with cluster attributes (like label positioning in the example of @flyaflya )
require design decisions.
Design decisions are better in the hands of maintainer

[2018-08-24 15:13] stevepowell99 commented on #257
@tvarju sounds promising! I am so eager for clusters to happen! Sure, there are design decisions .... how to introduce 1) global cluster attributes and 2) cluster-by-cluster attributes and 3) information on the cluster hierarchy? The way you suggest sounds fine for 3 but doesn't help with 1 or 2. 1 and 2 could be achieved with

- adding a cluster option to `add_global_graph_attrs`, `delete_global_

[2018-08-24 19:59] #257 closed

[2018-08-24 20:00] rich-iannone commented on #257
Thanks @tvarju for the PR and everyone else in this issue. The PR is now merged :)

[2018-08-25 15:58] stevepowell99 commented on #257
Thanks @tvarju and @rich-iannone ! Could you give a quick example how this can now be used to create a graph? I can run the @flyaflya [https://github.com/rich-iannone/DiagrammeR/issues/257#issuecomment-357470193](example) which now does not crash but produces this:
![image](https://user-images.githubusercontent.com/3277499/44620174-a9f11300-a887-11e8-80b3-fcd4bb4b3a55.png).
If I replace the NA in

[2018-08-25 17:50] Enchufa2 commented on #257
You need to add "dot" to the layout attribute, but still, similar issue:

[code]

![image](https://user-images.githubusercontent.com/4542928/44621072-04966900-a8a0-11e8-87a1-12c898c801b6.png)

The implementation needs refinement and more test cases, because there are problems with edges.

[2018-08-27 21:40] tvarju commented on #257
@Enchufa2 My bad. Did not notice that another part of the code is also messing with the cluster attribute. My unit test did not catch it. Your example is now one of the unit tests, and the fix is in the PR.
Thanks for testing!

[2018-08-27 22:38] stevepowell99 commented on #257
Thanks @Enchufa2 @tvarju @rich-iannone. So the dot notation hasn't been adopted yet?
This does not produce nested clusters:
[code]

[2018-08-27 22:42] stevepowell99 commented on #257
Thanks @tvarju @rich-iannone @Enchufa2 ... so this does not include the suggested dot notation for nested clusters? This doesn't produce nested clusters:
[code]

[2018-08-27 22:54] jorgesinval commented on #133
@Lulliter you just made my day!

[2018-08-28 06:45] tvarju commented on #257
@stevepowell99 no, it does not implement the dot notation, as you have written in a previous comment it would only solve 1 of the three requirements. I think as this issue is closed now it is time to open a new one for that discussion. Keep the issue tracker tidy, one issue per thread.

[2018-08-28 07:00] tvarju opened #308 "Subgraph attributes/nested subgraphs"
The starting point is a comment from @stevepowell99 in #257 .
The requirement is to be able to add cluster attributes and nested clusters.

I am thinking about subgraph, because there is more to it than clusters. You can have subgraphs just for attribute settings, or setting the ranking in the tree layout.

[2018-08-28 15:21] flyaflya commented on #257
Thanks @tvarju @rich-iannone and @Enchufa2 !  This is great.  The cluster label placement is also changeable via:
`%>%
  add_global_graph_attrs(attr = "labelloc", value = "b", attr_type = "graph")`

Here is a pic of an example I made:

![image](https://user-images.githubusercontent.com/17184441/44732785-118ba600-aab4-11e8-97d8-6d7da785c0b2.png)

[2018-08-29 12:04] SebastienBoutry commented on #207
Thanks for the script

[2018-08-31 01:01] zoplex commented on #280
Hi,

I second the above - I love the package, but it hits the problem at around 80 nodes - at 77, it comes up stable, at 87 it keeps moving and it does not stop ...

Thank you,

[2018-09-12 01:47] Buyannemekh opened #309 "DiagrammeR docs"
It seems to me that DiagrammeR docs is outdated and the [examples here ](http://rich-iannone.github.io/DiagrammeR/graphs.html)is not working. I am new to DiagrammeR and trying to a create a tree graph using `create_graph()` and `render_graph()` on the RStudio viewer.
However, it looks like, for example, `create_nodes()` method has changed to `create_node_df()` and it takes different parameters tha

[2018-09-12 02:56] Buyannemekh commented on #309
also it does look like we can not create_graph() like following:

[code]

I want to create the graph using `layout = dot`, but it is not working.

[2018-09-12 03:45] rich-iannone commented on #309
Try this site instead: http://visualizers.co/diagrammer/ (it’s at the top of the repo).

[2018-09-12 05:40] Buyannemekh commented on #309
Thank you. But can I create a directed graph as hierarchies with DiagrammeR?

[2018-09-13 22:32] Buyannemekh commented on #309
This was what I was looking for:

[code]

Now the layout attribute is not in `create_graph()`, but in `render_graph()`

[2018-09-14 14:20] fmannhardt opened #310 "Cannot enlarge memory arrays when trying export_graph with larger graph"
I am trying to save a larger graph created with DiagrammeR using _export_graph_ (tried formats SVG, PNG, PDF) and come across this error:

[code]

It seems that some memory limit is hit when rendering the graph using viz.js. The author of viz.js is recommending that an option _totalMemory_ might be used to prevent that here mdaines/viz.js#89
Could you make this configureable in DiagrammeR?

[2018-09-23 20:51] charlie86 commented on #271
I'd also find this super useful! Awesome package nonetheless.

[2018-09-23 20:59] RSchwinn commented on #295
Hi Rich,
Is it possible to use different fonts for different nodes? In this way, could a font-awesome code be passed as the node name for user with FA installed?
Thanks!
(also) Rich

[2018-09-23 21:26] RSchwinn opened #311 "Small Typo in Documentation"
Consider changing
    [2]: paste0('RStudio version:\\n ', rstudioapi::versionInfo()[[1]])
to
    [2]: unlist(paste0('RStudio version:\\n ', rstudioapi::versionInfo()$version[[1]]))
(here.)[http://rich-iannone.github.io/DiagrammeR/graphviz_and_mermaid.html]

[2018-09-24 17:43] rich-iannone commented on #309
@Buyannemekh Thanks for finding that. I might put this layout information (since it's pretty important) in the pkg README.

[2018-09-24 17:43] #309 closed

[2018-09-26 18:29] skanskan opened #312 "Automatic lLabel positioning overlaps arrows or lines."
When I create diagrams with labeled arrows some of those labels overap the arrow.
This is a problem when we export the graph, I need to export it to svg and manually move the labels.
I think the problem is the label position is calculated to the center of the arrow's shaft, but quite often we use thick arrows or arrows with different widths.
The position of the arrow should be calculated to the ex

[2018-09-28 19:25] juanpide opened #313 "How to use MinQuit, MaxIter and other parameters to minimize edge crossings?"
Hello.

I'm using diagrammer to create diagrams with nodes and edges from a data.frame.
But when the problem is not trivial the automatic positioning it's not very good, it creates too many crossings.
I've been searching on the documentation and found references to parameters such as
MinQuit, MaxIter and minlen. I would like to have a maxlen as well.

Could you tell me how to use it, please?
I wou

[2018-10-05 10:18] fmannhardt opened #314 "Upgrade viz.js v2.0.0"
Viz.js has been recently released as v2.0.0:
https://github.com/mdaines/viz.js/releases/tag/v2.0.0
There are some breaking changes, for example, `Viz` is now a class instead of a function. This leads to issues when using two htmlwidgets that use different versions of viz.js (in this case my fmannhardt/progressanimateR package on the same page resulting in the JS error:

`TypeError: Cannot call a c

[2018-10-09 04:02] Dripdrop12 opened #315 "add support for html or R comments in .mmd files"
Here is a minimal example of what I want to be able to do:

Test.mmd
[code]

[2018-10-24 17:20] lewkrr commented on #271
I figured it out for the mermaid function:

`mermaid('
graph LR
  A-->B
  A-->C
  C-->E
  B-->D
  C-->D
  D-->F
  E-->F
  click B "http://www.github.com" "This is a link"
')`

the `click B <link>` option requires double quotes, and thankfully R accepts single quotes for the entire mermaid code block.

[2018-10-28 17:14] jrgant commented on #286
I'm having this issue too. It would be a great help to be able to use custom SVG node shapes.

[2018-11-01 05:52] MyNameIsCosmo opened #317 "Consider Updating or Deprecating GH-Pages?"
It seems like the most recent gh-pages update is from [over 2 years ago](https://github.com/rich-iannone/DiagrammeR/commits/gh-pages), and http://visualizers.co/diagrammer/ seems down for me.

Since the visualizers.co page is down, I am unsure if the updates to `/docs` are pushed up to the visualizers.co webpage, or if they kind of sit in the repository.

I _believe_ that the /docs folder can be e

[2018-11-01 05:53] MyNameIsCosmo commented on #317
#309 actually answers this.

[2018-11-01 05:53] #317 closed

[2018-11-01 17:39] ursabearr opened #318 "How to make nodes rank the same, when nodes are in shape = record?"
Here is the code I'm testing with R:

grViz('digraph R {

  node [shape=record];

  { rank=same rA sA tA }
  { rank=same uB vB wB }

  rA -> sA;
  sA -> vB;
  t  -> rA;
  uB -> vB;
  wB -> u;
  wB -> tA;

}')

Thanks!!

[2018-11-01 17:40] ursabearr commented on #318
And here is the error massage I got:

"Error: lost uB vB edge"

[2018-11-23 02:06] Frank-Sw commented on #284
I have the same question as just used. Which functions have been used to replace these?

[2018-11-23 16:34] tintinnabulis commented on #318
I'm encountering a similar problem. The above code works if I change node shape from record to box?

[2018-12-07 08:53] mrchypark opened #322 "live preview like xaringan::inf_mr()"
xaringan::inf_mr() funciton detect file save and if change, auto run  knit.

DiagrammeR packages mermaid function for grViz function provide live preview like so, It will be usefull.

[2018-12-07 20:40] nehester opened #323 "Tailport and headport are incompatible with dir for nodes with a subgraph"
The following code correctly ports the tail and head of the arrow but fails to show **dir** as both:

RM1 -> RM2 [arrowtail = normal, arrowhead = normal, tailport=w, headport=w, dir=both]
subgraph{rank = min RM1 RM2 RM3 RM4 RM5 RM6}

**tailport** and **headport** appear to be compatible with **dir** when **subgraph** is not used or only contains one of the two nodes.

[2018-12-08 03:04] adeldaoud opened #324 "rowbreak and subscript not working"
Hi
Not sure why adding a rowbreak  and subscript does not work? See below

# does not work
grViz("
	digraph causal {

      # Nodes
      node [shape = plaintext]
      A [label = 'Age']
      R [label = 'Retained\n Placenta@_{t-1}']  # added row break
      M [label = 'Metritis']
      O [label = 'Cistic ovarian\n disease']
      F [label = 'Fertility']

      # Edges
      edge [color = black,

[2018-12-12 01:51] #283 closed

[2018-12-12 16:44] jmcastagnetto commented on #315
Second this request. Now that support for 7.0.0 has been merged in the main branch, it could be feasible.

I know you are implementing subgraphs/clusters for GraphViz too, and I guess it is not trivial. And, it would be nice to have also the mermaid "subgraph" command supported for flowcharts (see: https://mermaidjs.github.io/flowchart.html).

Ideally some code like the following:

[code]

Produci

[2019-01-09 10:30] arnyeinstein opened #326 "Example subgraph in documentation"
Hi
In the code of the example with subgraphs (Graphviz/Mermaid page), the footnote with the information on the version should read (using RStudio 1.1.463)
    rstudioapi::versionInfo()[[3]])
Position 1 gives the citation information and not the version number.
Cheers
Renger

[2019-01-09 19:08] daauerbach commented on #315
@Dripdrop12 @jmcastagnetto Not sure whether it suits your needs but `%%` works to include comments within (at least flowchart) specification inline, in an .mmd and/or in the live editor.

[code]

Though note https://github.com/knsv/mermaid/issues/774

[2019-01-09 20:34] Dripdrop12 commented on #315
I was not aware of that solution! Thanks :) @jmcastagnetto feel free to re-open a different issue if yours is slightly different, but I'm going to close this out.

[2019-01-09 20:34] #315 closed

[2019-01-09 21:05] daauerbach commented on #227
I also see this for `{diamonds}`. The def below makes only B green in R/Rmd. [Both work in the live editor...](https://mermaidjs.github.io/mermaid-live-editor/#/view/eyJjb2RlIjoiZ3JhcGggVERcblxuICBBe0F9IC0tPiBDXG4gIEIoKEIpKSAtLT4gQ1xuICBcbiAgY2xhc3NEZWYgZGkgZmlsbDojNWFhZTYxO1xuICBjbGFzcyBBIGRpO1xuICBcbiAgY2xhc3NEZWYgY2kgZmlsbDojNWFhZTYxO1xuICBjbGFzcyBCIGNpOyIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In

[2019-01-10 11:37] Yo55arian opened #327 "Drakon"
I've just discovered your excellent package and am still learning a lot of the functionality. One question that I had was whether there was a plan to include some sort of Drakon based method for building diagrams?

I've only recently discovered Drakon but would love to be able to integrate it directly into my R markdown docs.

Here's a description of Drakon: https://en.wikipedia.org/wiki/DRAKON

T

[2019-01-14 09:20] stevepowell99 opened #328 "Problem rendering some Unicode chars in export_graph"
I have some Unicode characters such as ⟍ (this is \u27CD which display fine in DiagrammeR (they are actual Unicode characters in the SVG string) but when I run export_graph to export the SVG string to svg or png or pdf, I get a weird glyph instead.

[2019-01-15 22:19] jmcastagnetto opened #329 "Support subgraphs (including nesting) for Mermaid files"
Now that support for 7.0.0 has been merged in the main branch, it could be feasible to support subgraphs (even nested ones)

I know you are implementing subgraphs/clusters for GraphViz too, and I guess it is not trivial. And, it would be nice to have also the mermaid "subgraph" command supported for flowcharts (see: https://mermaidjs.github.io/flowchart.html).

Ideally some code like the following

[2019-01-23 16:39] ph492 commented on #304
Something like this works:

[code]

[2019-01-23 22:25] adeldaoud opened #330 "Save grviz to pdf, png, or similar"
I would like to save grviz objects to to pdf, png, or similar formats. However, I have searched the web and DiagrammeR's issues (e.g. #66 , #70 ) but could not judge whether there is an implementation ready.

Tried a version of the DiagrammerRsvg package code (#133 ) that worked, but it does not seem to be generalized and natively packaged into DiagrammeR to support export of grViz. Are there plan

[2019-01-28 08:07] enersto opened #331 "Dubble quotation problem in rmarkdown"
It encounters problem when I want to use quotation with mermaid syntax in function DiagrammeR::mermaid().
my code like this:
`DiagrammeR::mermaid("
graph LR
a["mermaid()"]
b[rmarkdown]
a -->b
"
)`
and above code just report syntax error and can not even run.

[2019-01-29 13:38] lingkz opened #332 "how to use attr_theme(create_graph)? 3Q"
Error in create_graph(nodes_df = nodes, edges_df = edges, attr_theme = "default",  :
  unused arguments (graph_attr = "layout = neato", node_attrs = "fontname = Helvetica", edge_attrs = "color = gray20")

the lastest version

[2019-01-30 16:28] HeidiSeibold opened #333 "export_graph() does nothing"
The following code does nothing for me.

[code]

Created on 2019-01-30 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

Click here to see my session info:
<details><summary>Session info</summary>

[code]

</details>

Am I doing something wrong? Would really appreciate some help :cake: :cat:

[2019-01-30 21:10] rich-iannone commented on #333
Hi @HeidiSeibold , sorry for the trouble with `export_graph()`. The way to make this work (I hope!) is to first install the **DiagrammeRsvg** package (it's available from CRAN). Let me know if that solves the problem.

Note to self: I should have is a message stating that it needs to be installed (if it's not present).

[2019-01-31 08:44] HeidiSeibold commented on #333
Unfortunately I cannot check because the installation failed, se here: https://github.com/jeroen/V8/issues/49

Will keep you updated.

[2019-02-07 01:25] jebyrnes commented on #312
Ever find a solution to this?

[2019-02-07 01:32] skanskan commented on #312
No, I didn't.
If I add spaces around the labels with paste0("  ","label,"  ") I can fix some problems but not all.

[2019-02-07 01:34] jebyrnes commented on #312
I've been running into a similar problem where automatic edge label movement often puts labels overlapping whole arrows. Or is just generally uncentered.  See below

![image](https://user-images.githubusercontent.com/757410/52385176-81805e00-2a4e-11e9-8622-39aa964267bd.png)

Is there a way to at least force the positioning of your labels? I can't seem to find the right attribute...

[2019-02-07 01:35] skanskan commented on #312
I don't know it, I'm sorry.

[2019-02-07 09:40] HeidiSeibold commented on #333
Installation worked now, but I still have the same issue (see jeroen/V8#48)

[code]

Created on 2019-02-07 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
<details><summary>Session info</summary>

[code]

</details>

[2019-02-08 19:21] PaulaNF opened #334 "Installation error in R 3.4.1"
Hello, on installation
I get

Warning in install.packages :
  package ‘DiagrammerR’ is not available (for R version 3.4.1)

Thank you very much

[2019-02-11 21:50] joxborrow commented on #203
This would be a fabulous enhancement for an already great package.

[2019-02-13 00:41] Maschette opened #335 "edge label position"
As far as I can tell the label position on edges is to the right. I have looked through the documentation but can't find a way to make it on the left. Is this possible?

Cheers.

[2019-02-20 20:25] lzachmann commented on #71
Still seeing this issue as well (using the development version of the package)....

[2019-02-21 15:37] lzachmann opened #336 "Exporting mathjax-enabled grViz object as png or pdf"
Hi @rich-iannone, wondering if perhaps you have thoughts about how to export a grViz object that has been passed through the `add_mathjax` function? I've tried several of the existing methods (from DiagrammeR and DiagrammeRsvg) to save the resulting object, but none of them appear to be compatible with the object class returned by `add_mathjax`. Here's an example of a diagram I'd love to be able t

[2019-02-26 08:10] TPei commented on #297
Nice, thanks!

[2019-02-27 19:04] reblake opened #337 "edge head/tailport specifications in grViz() causes plotting error in RStudio"
I have a complex diagram specified using grVis() in which I'm trying to control the headport and tailport specifications for many edges.  However, the plot fails to render in RStudio Viewer window with more than a few head/tailport position specifications.  Yesterday it rendered with 6 but not 7 specifications; today it renders with 2 but not 3.  The failed rendering produces this failure message:

[2019-03-06 22:58] lzachmann commented on #336
Figured it out. At least one (interim) solution relies on htmltools and webshot. E.g.,

[code]

[2019-03-06 22:58] #336 closed

[2019-03-12 00:57] NoushinN opened #338 "caption/legend"
Hi there, thanks for this fantastic package! Very nice and comprehensive, a question: is it possible to add legends or captions to the workflows?

[2019-03-14 00:44] mlagisz commented on #249
getting "<unknown>:1919791: Invalid asm.js: Function definition doesn't match use" - any suggestions how to make this work?

[2019-03-14 00:50] rich-iannone commented on #249
@mlagisz Could you provide the code that resulted in the error?

[2019-03-14 01:26] mlagisz commented on #249
hi,
thanks for the quick response.
I run exactly the code you provided above as an example (I also tried on my own graph with the same outcome)
my sessionInfo():

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.6

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions

[2019-03-14 01:28] timothytsai commented on #284
I'm seeing the same issue.  Perhaps `create_node_df()` and `create_edge_df()` are the intended replacement.

[2019-03-14 11:44] mlagisz commented on #249
Sorry, actually the function did export the graph, just the message was unusual. The issue is resolved, but I have some other questions:
Is there a way to define the layout of the graph to be used - currently only one fixed way of node placement is used, while when I use render_graph I can specify one of the fw=ew layouts, but also every time it gets rendered the nodes are placed differently withi

[2019-03-20 15:09] David-rios opened #340 "export_graph: graph object not valid"
Using export_graph with a grViz object returns error graph object is not valid.

[code]

[2019-03-20 17:32] nbarrowman commented on #249
I reported the same message here: https://github.com/rich-iannone/DiagrammeRsvg/issues/7

[2019-03-21 16:24] dr-JT commented on #252
It would be really great if forcing/customizing curved edges can be added as a feature. Otherwise not sure how useful this package is for what I was hoping to do :/

[2019-03-22 19:07] Blackglade opened #341 "requireNamespace check makes no sense in export_graph.R?"
https://github.com/rich-iannone/DiagrammeR/blob/351d787af8982f3c221d91c06a5550408e56be5e/R/export_graph.R#L156

I don't understand this code here. If the user didn't have DiagrammeRsvg installed, the requireNamespace if statement would fail and thus it wouldn't execute any of the code inside the if statement, yet inside that if statement the following code is written:
[code]

This would never get

[2019-03-25 09:15] JiaxiangBU commented on #182
Hi, @GegznaV , thanks for your minimal example.

[code]

![image](https://user-images.githubusercontent.com/15884785/54907884-942cf480-4f21-11e9-8bcc-9f3728f395a3.png)

I just get this one. How can I edit it? Unfortunately, it shows that I just ask a question without thinking. But actuallly, I cannot find some tutorials on it.

[2019-03-26 02:38] jebyrnes commented on #252
Indeed - it would help A LOT for plotting SEMs when representing correlations.

[2019-03-26 10:38] rogojel opened #342 "Syntax error in line 42666 near '['"
Hi,
I am trying to render or export a process map from the bupaR package and I consistently get this error. I have the latest DiagrammeR version.

Thanks for any help
rogojel

[2019-03-26 20:10] dani-too commented on #208
Hi all,

Does anyone know if there is a way to set the direction that nodes flow?

[2019-03-26 20:28] Nodeswitch commented on #182
@JiaxiangBU If you change to below, you'll get a title at the bottom.

`graph [layout = dot,
       label = 'It isi a title']`

You'll get a title at the bottom. I'm unable to get it to appear at the top, however.

[2019-03-28 15:27] JiaxiangBU commented on #182
Hi @Nodeswitch thanks for your reply, I find my code is wrong, the correct argument is `label` instead of `title`.

[2019-04-02 03:33] JiaxiangBU commented on #340
I get the same error.

[2019-04-05 04:11] JiaxiangBU commented on #340
Hi, @David-rios I find when I knit a `github_document`, `grViz` output automatically transfer from an HTML format into a  png format. Maybe this is a thought to solve this.

[2019-04-12 21:11] hongzhonglu opened #343 "How to reduce time to find the path between two nodes for a big network"
I find that it need a quite long time to find the path between two nodes. Do you know how to reduce the time? The followed is my code. Thanks very much!
---------------------------
graph <- create_graph()
graph <- graph %>% add_n_nodes(n = 1000)
for (i in c(1:10000)){
  node_all <-sample(100,2)
  graph <- graph %>% add_edge(from = node_all[1], to = node_all[2])
}

get_paths(
  graph,
  from = 10,

[2019-04-17 19:24] reblake commented on #284
Same problem here. I'm trying to run the examples here http://rich-iannone.github.io/DiagrammeR/graph_creation.html and get the error "Error in create_nodes(nodes = 1:4, label = FALSE, type = "lower", style = "filled",  :   could not find function "create_nodes"".  If these functions have indeed been deprecated, the error should tell the user what the name of the new current function is.  As it is

[2019-04-17 19:37] timothytsai commented on #311
The second part of this is a possible duplicate of https://github.com/rich-iannone/DiagrammeR/issues/284

[2019-04-24 19:01] flyaflya commented on #8
Using this JS library: https://github.com/magjac/d3-graphviz

I can create a pretty awesome transition animation between .dot graphs.  See here for an example: https://jsfiddle.net/x9kgu2cv/2/

Maybe this type of thing could help?  I would love to see it in DiagrammeR and tried to get it working in RStudio using the r2d3 package, but got stuck.

[2019-04-25 12:51] Matherion commented on #275
Something like this would be great! I'm using DiagrammeR inside some functions, using magrittr's pipe to select edges and set attributes. Currently wrap the whole block in 'suppressMessages()', and that works, but something a bit more elegant would be nice eventually :-)

An argument like 'silent' or 'quiet' or 'chatty' or whatever to the functions would work, too, from my perspective.

But no rus

[2019-04-25 17:53] dchiu911 opened #344 "Integrate grViz figures into bookdown"
I reviewed #256, #70, #207, #133 but couldn't quite find a solution.

A plot generated in a `knitr` chunk (e.g. by ggplot) gets saved as a figure with a filename that is passed from the chunk label, in `_bookdown_files` directory. The same is not done with `grViz` figures. To emulate this behaviour, one can do the following to both print and save a `grViz` figure
[code]

![](https://i.imgur.com/o3

[2019-04-26 15:01] lucasmation commented on #220
I am having the same problem. I asked on StackOverflow but got no answers yet

https://stackoverflow.com/questions/55855853/how-to-change-font-and-time-aixis-in-dyagrammermermaidgantt-chart

[2019-05-02 06:24] jdnewmil opened #346 "add_mathjax broken"
There are js dependencies in the `add_mathjax` function that refer to rawgit.com URLs that appear to be defunct (404).

[2019-05-02 15:34] StephanK87 commented on #314
I have exactly the problem described by fmannhardt when rendering a graph in a shiny app. On the user interface side I use grVizOutput, server side renderGrViz and the render_graph function to render a dgr_graph object. While rendering in the R-Viewer works with render_graph, the Shiny App displays the error "TypeError: Cannot call a class as a function". I already tried a lot and unfortunately ca

[2019-05-07 14:41] stevepowell99 commented on #243
I don't suppose there is any way to build these URL links as actionLink links from Shiny? That would enable a kind of interactivity ...

[2019-05-10 17:32] insee-unissi opened #347 "Shiny App - Out of Memory error message"
First of all, many thanks for this great package !

When using renderGrViz in a Shiny App and updating several times the graph (let's say, 4 or 5 times), I get a Out Of Memory error message. Below a quick example with a snapshot of error message.

library(shiny)
library(shinyAce)
library(DiagrammeR)

ui = shinyUI(fluidPage(fluidRow(
  column( width=4, aceEditor("ace", selectionId = "selection", va

[2019-05-24 13:29] cewiszon opened #348 "converting grViz(graph) to pdf problem"
Hello there,
so I made a nice diagramme using grViz, its complex but looks nice. then I use
grViz(graph) %>%
    export_svg %>% charToRaw %>% rsvg_pdf("graph.pdf")
to get a pdf and things get messy. Suddenly the text goes outside of node frames and the graph looses a lot of "neatness". I guess its because it has been translated 3 times, maybe some information gets lost? Any ideas how to make it be

[2019-06-05 10:57] pa0 commented on #344
I think You have to add in text:

[code]

[2019-06-13 09:23] bocs2993 opened #349 "Unable to change font size within node"
I am trying to make part of the text in my node bigger than the rest.
I am able to get other HTML formatting to work like <b></b> or <font color = 'red'></font>

But for some reason nothing in relation to size is working. I've tried

<font size = '7'></font>
<font point-size = '7'></font>
<big></big>
<p style = 'font-size:16px;'></p>
<p style = 'font-size=160%;'></p>
<h1></h1>

All provide the sam

[2019-06-19 06:37] artemklevtsov opened #350 "[Request] knitr engine"
Hi,

Thanks for the package.

It would be nice to add knit engine to write code in the chunk directly. Like it implemented in the  https://github.com/javierluraschi/nomnoml/blob/master

[2019-06-23 09:41] mrchypark opened #351 "how about merge this project?"
https://github.com/javierluraschi/nomnoml

[2019-06-24 04:47] #351 closed

[2019-06-30 22:11] RichardJActon commented on #350
The lack of syntax highlighting in Rnotebook chunks resulting from having to have the graph specification in a string is really quite inconvenient. It really breaks the flow to have to make the graph in a separate .gv file to get the syntax highlighting then paste back into an Rnotebook chunk. This feature would be a massive quality of life improvement.

[2019-07-10 15:37] riinuots commented on #106
The only thing that works for me is `\\n`.

Thanks so much for an amazing package!

[2019-07-19 14:53] krfurlong opened #352 "Hide tooltip option"
Love the package!

Usually I'm all for adding tooltips in my diagrams, but for some Shiny Apps, they can be distracting/unnecessary. I might just not be looking in the right places of the docs, but it would be super helpful to have the option of removing/hiding the default HTML tooltips on the Nodes, Edges, edge labels, etc.

[2019-07-19 15:19] rich-iannone commented on #352
Thanks for the feature request! It's a good idea. I'll take a look into whether tooltips can be suppressed at the Graphviz level or during a post process render stage (which really needs to be developed).

[2019-07-19 18:10] krfurlong commented on #352
Solid - thanks! Some poking around on SO led me to a temporary fix w/ CSS: `svg { pointer-events: none; }`

[2019-07-22 23:35] karuno11 opened #353 "How to add a legend to a flow chart"
Is there a way to add a legend that describes the nodes in a flow chart?

[2019-07-24 17:40] rlmoore0 commented on #333
I have the same issue, in this case with a PNG file output.  Loading DiagrammeRsvg does not, unfortunately, fix the problem.  However, the error message produced is "Error in loadNamespace(name) : there is no package called ‘rsvg’"

[2019-08-02 00:33] jonathon-love commented on #334
hey, `DiagrammerR`[sic] is a typo. you've got an additional lowercase `r` in there.

[2019-08-02 01:02] jonathon-love opened #354 "DiagrammeR::create_node_df() mysteriously hangs"
hi,

i've been tinkering on an R package (`behaviorchange`) which has `DiagrammeR` as a dependency. while tinkering, i've found that when `behaviorchange`calls `create_node_df()` the R process hangs and never returns. so i was like "this *is* a curious riddle". so i checked out `DiagrammeR` with git, added some print statements to `create_node_df()` so i could figure out what was going on ... and

[2019-08-07 00:12] CarolineXGao opened #355 "grViz label left-align"
Left-align doesn't seem to be working if I specify it this way:
grViz( "
    digraph boxes{
        node [shape = box,
        fontname = Helvetica,
        height=1,
        width = 4.5,
        color = lightblue]
        A1[label = '@@1'];
        A2[label = '@@2'];

        edge [color = black, arrowhead = normal,penwidth = 1]
        A1->A2
    }
   [1]:'Eligible participants approached \\l'

[2019-08-07 18:48] alapo opened #356 "Get arrow to point in middle of another arrow"
This issue is slightly related to [Issue 349](https://github.com/rich-iannone/DiagrammeR/issues/349)
I have been attempting to create an image similar to what is photoshopped below.

![img](https://i.imgur.com/YopdMut.png)

There are two main issues

* Changing the text (highlighted in yellow)
* Having the arrow show up between nodes (highlighted in purple)

I was able to fix the font issue but it

[2019-08-07 18:50] alapo commented on #338
If you are using `RMarkdown` you could add a caption to any image that is inserted.

[2019-08-07 19:14] alapo commented on #356
After some more digging I was able to get the text to work but the position of the arrow is still a mystery

Here is the code
[code]

Here is the result

![img](https://i.imgur.com/URUsl4N.png)

[2019-08-08 06:31] sebastiansauer commented on #241
Hi Rich,

looks like I'm experiencing the same issue as mentioned above. Can it be that there is some update at mermaid that is not yet incorporated in Diagrammer?

[code]

![](https://i.imgur.com/2Zu4LwN.png)

[code]

<sup>Created on 2019-08-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-08-11 14:30] step- opened #357 "endless loop in replace_in_spec"
First, thank you for this awesome package and documentation piece!

I experienced an endless loop, which I traced down to `replace_in_spec`, precisely [here](https://github.com/rich-iannone/DiagrammeR/blob/4bf69537405d49e5cb24f05dc3cbf4cf8c9b5db2/R/spectools.R#L107).
I can see that the code attempts to replace `'@@<number>'` (mind the surrounding single quotes). If no replacement occurs, the while

[2019-08-11 15:26] rich-iannone commented on #357
Thank you for finding and reporting this bug. This will be fixed shortly, I appreciate the detail you put into the issue!

[2019-08-17 11:52] step- commented on #357
You're welcome. I need to add this actual use case, if you can support it:
[code]
Thank you

[2019-09-05 13:57] dkharbanda commented on #347
I have the same issue, on the first button click, there’s no error and the flow chart appears as expected. On the second click, it throws an out of memory error

[2019-09-16 08:56] Enchufa2 opened #358 "Non-random graphs shouldn't change the RNG state"
Minimal example:

[code]

This is because `create_graph()` calls `sample` to create a unique ID. This is unexpected from the user's perspective, and I don't think it's reasonable to change the RNG state for this. It *is* expected if we are creating a random graph (and still, it should be documented), but not in any other case. (This may happen in other places too, but I didn't check thoroughly).

[2019-09-19 05:11] Nevrage opened #359 "Unable to find documentation on cluster graphs"
Hello,

I am trying to get any kind of clustering working and while a few issues mention it being done and functional the closest thing I can find to a documentation is the sample code in #257

As soon as I add a "cluster" column in my NDF I get the `Error: replacement must be a character vector` when I try to render or export the graph.

What am I missing?

Thanks,

[2019-09-29 04:06] egouldo commented on #359
#307 fixes this problem, but is only on the development version of the package, not the CRAN version.

For now, install the dev version: `devtools::install_github("rich-iannone/DiagrammeR")`

[2019-09-29 22:35] Nevrage commented on #359
thanks!

[2019-09-29 22:35] #359 closed

[2019-10-04 07:07] AnaBVA commented on #295
Hello Rich,
I didn't get it all, I'm sorry.
Can you re-explain how **DiagrammeRsvg** can help to import an image when using DiagrammeR::grViz(".dot")??
Thanks in advance :)

[2019-10-18 07:17] fmannhardt opened #360 "Include 'weight' as GraphViz attribute"
The `weight` attribute is currently not forwarded to the generated DOT code:
https://www.graphviz.org/doc/info/attrs.html#d:weight

Would it be enough to simply add `weight` here:
https://github.com/rich-iannone/DiagrammeR/blob/89b87f585bc8b6c1fb3ee2136df868520c7f2467/R/utils.R#L633

[2019-10-22 22:58] sb3rg commented on #295
Are there any updates to this capability?  I'd love to substitute graphs of probability distributions as node images for Bayesian networks.

[2019-10-23 03:17] RSchwinn commented on #295
I’ll have to take a look at this next week. Unfortunately, I’m under some deadlines and spent the day at the pediatrician. I will set a reminder to explore your question then.

Best,
Rich

[2019-10-28 14:45] seb951 commented on #333
I have a similar issue with the export_svg function...:
[code]

[2019-11-11 18:05] damien-dupre commented on #356
if that helps, you can create an empty point node where the arrow is starting from it
`grViz("digraph prisma{
    node [shape=box, fontsize = 12];
    a; b; c; d; e; f; g
    node [shape = point, width = 0, height = 0]
    ''
    graph [splines=ortho, nodesep=1, dpi = 72]

    # Make the Labels which I will call during Edge definitions
    a [label = <Records identified through database searching<

[2019-11-12 15:59] JianWang2016 commented on #266
Hi, Has anyone figured out a solution? I encountered similar issues when trying to use DiagrammeR replacement in Shiny.  Using the "exact" code above, it works!

However, if you move the graph definition section within the server function (anticipating A is to be provided from a reactive variable), it stops working.  To test this properly, you really need to start a new R session because A <- 1:26

[2019-11-15 15:41] Asc2011 commented on #106
hi,
sry to say but using the Atom-markdown-enhanced package neither `\\n` nor `<br>` ?
any alternatives i could try ?

[2019-11-18 16:04] jebyrnes commented on #252
Hey, thought I'd poke in and see if this was still a priority? Working on a MS and was hoping to include some curved arrows. I was able to do them using the graphviz specification - see http://rpubs.com/jebyrnes/causal_mods, but, was hoping they could work with the general solution. Thanks again for an amazing package!

[2019-11-18 16:15] rich-iannone commented on #252
As far as I could tell, when using Graphviz through `grViz()`, the only way to get curved arrows would be to post-process the output SVG (replacing the straight arrows with curved ones).

I'm toying with the idea of developing a new renderer based on SVG. Of course, that would be a big project but it would be the way to go. With that, we could also have rotated text (!) and other nice things. I'm

[2019-11-19 02:05] jebyrnes opened #361 "DiagrammeROutput and renderDiagrammeR just produce text output with render_graph"
I've been trying to use `DiagrammeR` to put some graphs into a shiny app. While the Graphviz renderers work, just using native DiagrammeR syntax merely produces raw digraph output. So, the following code:

[code]

renders no graph, but instead the text

[code]

[2019-11-19 02:13] rich-iannone commented on #361
The `renderDiagrammeR()` function requires a fix for this (to recognize that a `dgr_graph` is being used as the `expr`). However, could you try using the `generate_dot()` function in place of `render_graph()`?

[2019-11-27 18:17] ViRb3 opened #363 "Mermaid sequence diagrams broken"
# Example 1
## Code:
[code]

## DiagrammeR:
![image](https://user-images.githubusercontent.com/2650170/69749048-8fb87b80-1141-11ea-9a3f-452795a1ac97.png)

## mermaid.js:
![image](https://user-images.githubusercontent.com/2650170/69749086-a232b500-1141-11ea-9979-65f2af402fca.png)

# Example 2
## Code:
[code]

## DiagrammeR:
![image](https://user-images.githubusercontent.com/2650170/69749270-0eadb40

[2019-12-02 16:12] DunLug opened #364 "Mermaid diagram output in Knitr/Bookdown has large margins"
Hi everyone,
I'm working with DiagrammeR to create a PDF document that embed a processing pipeline.
Unfortunately, the generated output has big margins and isn't useful for the document integration.
I could crop manually figure but I would like to know if there's any way to have a full automatic document generation.
The output document is here :
[pipeline-1.pdf](https://github.com/rich-iannone/Dia

[2019-12-04 08:48] mrchypark opened #365 "mermaid version update needed."
now mermaid version is 8.4

https://github.com/mermaid-js/mermaid

[2019-12-05 11:09] tjfarrar opened #366 "rsvg Package should be in Imports, not Suggests"
The `export_graph` function calls functions from `rsvg` package, but `rsvg` package is not in Imports, and I didn't have it installed, so the function threw an error.

Also, when I initially used `export_graph` with `filetype = "PNG"`, it threw the following error generated from within your function:

This error was not very helpful, because installing `DiagrammeRsvg` did not fix the problem. Only

[2019-12-07 05:23] zippy78753 commented on #106
What worked for me: just put multiple comments in for the same state.  For instance:
`
stateDiagram
    State1 : Line 1
    State1 : Line 2
`

[2019-12-08 20:49] alapo commented on #356
Thanks I will give that a go.

[2019-12-08 20:49] #356 closed

[2019-12-10 18:51] marton-balazs-kovacs opened #368 "interactive flowchart in Shiny"
Is it possible to create an interactive flowchart in Shiny where the nodes act like action buttons currently?

[2019-12-10 19:41] trafficonese commented on #368
You might wanna try out the new dev version. #362 was just merged and it adds Shiny capabilities.

You cannot really include `actionButtons` in the diagramms, as I guess it has some problems with special character escaping, but you can get an actionButton behaviour.

[code]

[2019-12-10 19:45] marton-balazs-kovacs commented on #368
This is great! I just want to use it as a map for the app that can be used to easily navigate.

[2019-12-10 19:45] #368 closed

[2019-12-16 16:01] wligtenberg commented on #363
These issues seem fixed after the last update of the mermaid library.
Could you try again after installing the latest version from github using:

```devtools::install_github("rich-iannone/DiagrammeR")```

[2019-12-22 22:13] marton-balazs-kovacs commented on #368
@trafficonese Can I use this somehow with a graph created with the `grViz` function?

[2019-12-23 19:19] dmurdoch commented on #232
A quick and dirty workaround is to keep D3 version 3, but rename it, as done here:  https://github.com/murdoch/chorddiag and https://github.com/murdoch/d3heatmap .

[2019-12-24 20:29] marton-balazs-kovacs commented on #138
Do you have an example code on how to add ranks to nodes in the functional approach?

[2019-12-24 20:34] marton-balazs-kovacs commented on #259
Do you have any tips on how to recreate the flowchart that OP wants with the functional approach?
I am trying to create a similar graph as well. For my purpose, I miss the rank attribute from graphviz that enables horizontal alignment.

[2020-01-05 17:34] aderzelle opened #369 "Substitution for custom colors?"
Hello,
I am new to DiagrammeR, so sorry if the question is trivial. But is it possible to use substitution to have a colour outside of the default palette?
Here is my code
[code]
It returns an error
`Error in parse(text = split_references[i]) : <text>:1:6: unexpected '}' 1: } ^
`
Thank you

[2020-01-07 11:20] trafficonese commented on #368
@marton-balazs-kovacs Yes it is possible.

[code]

[2020-01-07 12:21] marton-balazs-kovacs commented on #368
Wow, thanks. I was looking for this everywhere.

[2020-01-13 19:03] gtalckmin commented on #133
Hi, has this been made? The only documentation I found in on the bookdown website.

[2020-01-14 15:56] #357 closed

[2020-01-23 18:00] fivetilkeys opened #372 "Substitution labels error starting at number 10"
Hello -

I have noticed that I am getting errors in my footnote interpretations over the last week or so. I tried updating to the latest version as well as the latest github download. I have also updated R and R studio to the latest versions.

Starting with footnote 10, there is a misinterpretation of the previously outlined labels:

[code]

<img width="620" alt="Screen Shot 2020-01-23 at 12 59 28

[2020-01-24 04:20] maxgold commented on #333
installing and loading both rsvg and DiagrammeRsvg worked for me (export_graph was failing silently before) in order to install those I first needed to install libv8-dev and librsvg2-dev

[2020-01-27 23:46] rvernica opened #373 "renderGrViz unused argument (env = env)"
I'm using DiagrammeR in a Shiny app. The code stopped working recently I suspect is due to a library upgrade. It fails with this error:
[code]
Does this ring a bell?

Session info:
<details>

[code]
</details>

[2020-01-28 11:59] trafficonese commented on #373
Can you post a small example where that error occurs?

This minimal example works for me:
[code]

[2020-01-28 14:18] RioVic opened #374 "All examples fail and updated docs are not published."
Breaking changes to the API are not reflected in the examples or documentation   This puts a dead stop on any newbie like me trying to use the package.

[2020-01-28 14:26] RioVic commented on #374
reference https://rich-iannone.github.io/DiagrammeR/graphs.html#examples

[2020-01-28 14:55] trafficonese commented on #374
The docs apparently were not updated, as the following functions **dont exist** anymore:

- **create_edges / create_series / create_nodes**
- **combine_nodes / combine_edges**

But most of the R-examples in the package are still working.
I just tested some examples and found that the `grVizOutput` example is not working. There is apparently some error with `aceEditor`.

[2020-01-28 15:06] RioVic commented on #374
Hi @trafficonese
Thank you for looking into this.   Can you send a link to a few working examples please?

[2020-01-28 15:20] trafficonese commented on #374
I think [all those examples](https://github.com/rich-iannone/DiagrammeR-examples/) are working.

And if you are in RStudio, click on a function and press F1, that will open the help page of that function with sometimes some examples at the bottom.  Or you type `?function_name` in the console. That will open that help file aswell. So `?create_graph` for example.

Unfortunately, they are not as nice

[2020-01-28 15:28] RioVic commented on #374
@trafficonese
Thank you! This is what I needed to get back on track.

[2020-01-28 23:35] rvernica commented on #373
This seems related https://stackoverflow.com/questions/59853592/unable-to-run-a-shiny-app-using-grvizoutput-and-rendergrviz

[2020-01-29 09:14] trafficonese commented on #373
Indeed, the current CRAN version apparently has this bug. The dev version works fine again and I couldnt find a difference in the `renderGrViz `or `grVizOutput` code.

[2020-01-29 19:24] YsoSirius commented on #373
Yes it was commit f9e4284. The arg name was `evn` which is wrong.

[2020-01-29 19:27] rvernica commented on #373
Good find! That makes sense. I think this issue is not resolved. I'm looking forward for the next CRAN release.

[2020-01-29 19:27] #373 closed

[2020-01-29 22:02] kb12344 commented on #372
I'm also having the same issue.  I had an older version of DiagrammeR that worked with 15 footnotes in a project.  I updated the package and it is no longer working.

[2020-02-05 18:41] DanielReedOcean commented on #182
@Nodeswitch This is a very late response, but `labelloc = t` places the title at the top.

[2020-02-06 12:45] prdm0 opened #375 "[Bug] - DiagrammeR not working with the Rmarkdown package"
Dear,

I am noticing that the **rmarkdown** and **bookdown** packages are not working well with the **Diagrammer** package. It seems to me to be a recent problem, since the problem did not occur months ago.

The code below will compile without generating problems and the HTML will be generated. When I open it I realize that all the content is correct, including the diagram built by **Diagrammer**,

[2020-02-07 07:19] cderv commented on #375
I am the "one member" 😉

Here are the css rule I think is causing the opacity in the Rmd example above
https://github.com/rich-iannone/DiagrammeR/blob/662dc8ce7d1ea468f58fb3e7044c6c8b7a2475cf/inst/htmlwidgets/lib/mermaid/dist/mermaid.css#L174-L177

The selector here will apply to any object of class `section`, and it happens that Rmarkdown (or pandoc) creates a `div` of class `section` for the all

[2020-02-08 08:51] wangbinzjcc opened #376 "add_mathjax() does not work."
library(DiagrammeR)

gv <- grViz('
  digraph{
  a[label = "$a^2$"];
  b[label = "$b_2$"];
  a -> b
  }
  ')

add_mathjax(gv)

These codes above cannot correctly display mathematical formulas. I know the website address of MathJax in add_mathjax () needs to be updated. I tried to repair it for a long time, but failed. Does anyone have the ability to fix this function? I really appreciate it．

[2020-02-10 15:36] brooklyOPC commented on #266
Just wanted to chime in and say that I'm seeing the same behavior inside an HTML document that I'm rendering through Shiny:
1. The user submits information and selects render HTML (say, doc.rmd)
2. The doc.rmd then plugs those variables in to do a data pull from a database.
--- The data pull is successful and the data is used throughout the report
--- The data is summarized in a vector with some w

[2020-02-18 11:15] jpinero commented on #188
Hi! I also keep having this issue of 2-digit footnotes not working. I installed the version you suggested. Is it possible that it will be fixed ? Thanks

[2020-02-18 15:22] #375 closed

[2020-02-18 21:40] DunLug commented on #364
After some research for another document, I found this solution here :
https://stackoverflow.com/questions/55994210/how-to-solve-diagrammer-waste-of-space-issue-in-rmarkdown
- install tinytex
- install pdfcrop
- add crop=TRUE option to the r chunk

[2020-02-18 21:40] #364 closed

[2020-02-19 08:36] jpinero opened #378 "2-digit footnote doesn't work"
hi, it is still the same issue that has not been solved
https://github.com/rich-iannone/DiagrammeR/issues/188
thanks!

[2020-02-20 19:36] MauroCE commented on #91
Any updates?

[2020-02-21 12:32] wildingm commented on #378
Hi, I've also come across this issue today, but this _was_ working recently. I'm currently on 3.6.1 version of R.

When I run the code it replaces all nodes with @@1x with the output of footnote [1]. A test flowchart (below) produces a flowchart where nodes @@10 through @@19 all include the output from footnote [1] (with an addition to make them unique), node @@20 includes the output from footnote

[2020-02-25 15:57] datakeen commented on #378
I also encountered this issue recently. I have a code that has 13 nodes, each with a separate label. I actually created it around a year ago (I am not sure exactly which version of R and DiagrammeR package was that), and the code was working fine then. Just recently, I modified the graph code a bit and encountered this bug. And when I run the old code (made one year ago), this error appears in tha

[2020-02-26 21:49] MyKo101 opened #379 "DiagrammeR setting opacity"
I've been trying to use DiagrammeR::mermaid to render a flowchart in my RMarkdown document. However, when I knit the .Rmd, most of the rendered document is faded out.

MWE:
![image](https://user-images.githubusercontent.com/48382869/75390276-e91a7d00-58df-11ea-99fb-644412704f17.png)

Output:
![image](https://user-images.githubusercontent.com/48382869/75390379-1535fe00-58e0-11ea-9b42-b8c27f0a77c2.p

[2020-02-26 21:56] MyKo101 commented on #379
Also, Session Info:
`R version 3.6.2 (2019-12-12)`
`Platform: x86_64-w64-mingw32/x64 (64-bit)`
`Running under: Windows 10 x64 (build 17763)`

`Matrix products: default`

`locale:`
`[1] LC_COLLATE=English_United Kingdom.1252  LC_CTYPE=English_United Kingdom.1252    LC_MONETARY=English_United Kingdom.1252`
`[4] LC_NUMERIC=C                            LC_TIME=English_United Kingdom.1252    `

`attach

[2020-02-27 09:37] gd047 commented on #70
I use your solution to save a grViz diagram (containing greek characters) to pdf. The greek characters are displayed correctly as long as I use the 2.2 version of **V8** package. If I go to v.3.0 the greek characters are no longer displayed correctly. In the NEWS for v.3 there is the following 'enhancement', that I think is the cause of the problem :

What fix would you suggest, in order to avoid

[2020-02-27 11:14] stephlocke commented on #70
@gd047 that would be a Q better asked as a separate issue rather than on this closed issue

[2020-02-27 15:53] gd047 opened #380 "Encoding problem when saving grViz to pdf, with V8 ver.3"
( see related issue #70 )

My graph had text in greek and the code was something like this:
[code]
The greek characters are displayed correctly as long as I use the 2.2 version of V8 package. If I upgrade to v.3.0.1 the greek characters are no longer displayed correctly.

Here is a reproducible example (the results are attached to post).

[code]

What fix would you suggest, in order to avoid a ver

[2020-03-02 12:14] larspijnappel commented on #373
As I use this package quite extensively, I kept an even closer eye on a new release of DiagrammeR. However, it appears that this fix has not been released yet on CRAN (latest version 1.0.5 still has this issue).
As a workaround, I downgraded to version 1.0.1 (which is working fine again) but I'd rather prefer to have all my packages to the latest version.  Are there any plans to release this fix a

[2020-03-04 22:12] billdenney opened #382 "Alpha channel of fontcolor in node_aes appears to be ignored"
I am generating a figure where I'd like to have an arrow that appears to go to nowhere.  I'm making that "nowhere" by trying to set everything to blank (alpha channel of `00`) for the color, fill, and font color.  But, the font color alpha channel appears to be ignored.

[code]

<sup>Created on 2020-03-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

The output .pdf is here

[2020-03-04 22:17] billdenney opened #383 "Feature Request: Allow Scalar node_aes"
When generating a node, it would be simplifying to allow the aesthetics to be scalars even when the number of nodes is a vector.  For example, it would be simpler to not require `rep()` as in the second example below.

[code]

<sup>Created on 2020-03-04 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-03-07 04:23] sachinjshah commented on #198
Hi, I am having issues with > 9 footnotes. I tried to run the repex you gave and came up 'faulty' output. Specifically [10] comes out as "1: Data prep0"

I appreciate thoughts on how to get more than 9 footnotes in.

![image](https://user-images.githubusercontent.com/11020500/76136595-f0c8d880-5fe7-11ea-9d63-d44b755e9279.png)

[2020-03-10 20:05] nowlabs commented on #379
I am having the same issue and hoping this can be fixed soon. No mermaid diagram will render correctly in Rmarkdown without the above fix by @MyKo101

Thanks.

[2020-03-12 14:08] pachamaltese opened #385 "from_igraph inherits node size but plot uses size = constant"
Hi Rich

I started a vignette to use DiagrammeR with igraph objects: https://github.com/pachamaltese/DiagrammeR/blob/master/vignettes/diagrammer-economiccomplexity.Rmd

As you can see there, the size `get_node_attrs(vis_product, "size")` is ok, but when I call `render_graph()`, it shows all nodes of the same size.

[2020-03-18 15:40] kmezhoud commented on #373
Same issue with 1.05.
With Kubuntu return me the same error message:
`Warning: Error in htmlwidgets::shinyRenderWidget: argument inutilisé (evn = env)   56: DiagrammeR::renderGrViz   50: server [/home/kirus/R/x86_64-pc-linux-gnu-library/3.6/bioCancer/app/server.R#67] Error in htmlwidgets::shinyRenderWidget(expr = expr, outpu`

With OSX, it remains without error but frozen
Actually I am also workin

[2020-03-20 13:04] anddis commented on #378
Same exact issue here. To me, it appeared with v1.0.5.

[2020-03-28 16:16] chrisjohnholiday commented on #352
@krfurlong I'm running into a similar problem with a project at work right now. Where in the code di you `    svg { pointer-events: none; }` ?

[2020-03-31 14:21] krfurlong commented on #352
Hey @chrisjohnholiday - sorry for not responding sooner. So in the UI section of my `app.R` file, I have included some CSS style code. If you add this somewhere in the `tags$head()`, should should be able to suppress them from the CSS:
ex.
[code]

[2020-04-01 16:42] Menomenta opened #386 "Can you add an edge without a node?"
For some of my flowcharts, I want an arrow to point from a node into the void.

I can't seem to find documentation for this on GitHub (or the wiki).
Is it possible to add support for this?

[2020-04-09 06:14] fguilhaumon commented on #379
I had the same issue. I solved it by not using DiagrammeR to have mermaid diagrammes in html documents. The issue is solved by:

1. linking the mermaid js library in the head of the html_document:

[code]

with `mermaid_head.html` containing the following:
[code]
Then, create an html fragment containing the mermaid code, encapsulated in a `<div class="mermaid">`, and use `htmltools::includeHTML` t

[2020-04-14 19:42] trikiamine23 commented on #310
Any news regarding this error ?

[2020-04-20 04:23] opendatasurgeon opened #388 "Curve and arc like edge attributes?"
Hi! Are you planning to add several edge attributes like you did for nodes? I would appreciate if we can have curves, and arcs (like those in arc graphs) for edges.
Or, I can't see how I can implement them at least, I would love if someone can help out.

[2020-04-22 12:34] allenzhuaz commented on #378
I have the same issue, in practice, it is easily to have more than 9 footnotes.

[2020-04-22 13:33] #388 closed

[2020-04-23 14:57] sayarshah opened #389 "i need help"
when i type the command
library(DiagrammeR)

the programme responds
Error: syntax error in line 1 near '~'
can any body solve my issue please
Thanks

[2020-04-28 16:59] #372 closed

[2020-04-28 16:59] #378 closed

[2020-04-28 17:11] rich-iannone commented on #369
I'd suggest moving away from the footnote substitutions and instead use the glue package for this. Here is a working example with glue:

[code]

[2020-04-28 17:11] #369 closed

[2020-04-28 17:30] rich-iannone opened #390 "Release DiagrammeR 1.0.6"
Prepare for release:

* [x] `devtools::build_readme()`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_DiagrammeR.html)
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.md`
* [x] [Polish NEWS](https://style

[2020-04-30 16:08] maxheld83 commented on #379
this is a duplicate of (closed) https://github.com/rich-iannone/DiagrammeR/issues/375.

Using the dev version (not on CRAN yet as of now) will solve this problem:

[code]

[2020-04-30 20:50] mymil commented on #333
I encountered this issue as well. `export_graph()` failed to output a PDF without returning a warning or error.

After additionally installing {rsvg} and {DiagrammeRsvg}, it worked.

The current logic doesn't correctly emit the intended error message.

[2020-05-04 14:18] SnupSnurre opened #391 "DiagrammeR and R Markdown pdf: How to crop the DiagrammeR output to size?"
Thanks for a great package! I really enjoy writing my diagrams and flowcharts directly in R. However, ever since I started using R Markdown, I have had some bad problems when outputting to pdf.

As you see in the following picture, I managed to make it export the DiagrammeR plot. However, it is not croped to the content and there is a large space below it and the text. I also included `fig.align =

[2020-05-07 06:32] vnijs opened #392 "use snapper to save to png?"
In case you haven't seen it yet, [snapper](https://github.com/yonicd/snapper) looks like a really cool package that creates png screenshots of shiny-apps and, hopefully, Diagrammer plots (incl. mermaid). It doesn't quit seem to be working correctly with SVG but perhaps you have some suggestions?

cc-ing @yonicd

![image](https://user-images.githubusercontent.com/2998956/81261435-f4310e00-8ff0-11ea

[2020-05-07 10:45] yonicd commented on #392
It may be that the layers of svg are getting ignored. I had a similar issue when snapping leaflets. This was my solution there:

[code]

https://github.com/yonicd/snapper/blob/c2483e180f61bb1510f7a0771a133df9444fa8ba/vignettes/htmlwidgets.Rmd#L28_L33

[2020-05-07 16:08] yonicd commented on #392
this works fine for me

[code]

[2020-05-07 18:03] vnijs commented on #392
Thanks @yonicd! I mainly use the `mermaid` interface in Diagrammer and have trouble there.

![image](https://user-images.githubusercontent.com/2998956/81328712-363e6c00-9052-11ea-8e33-eaf0d66b77b7.png)

[code]

[2020-05-07 18:25] jekriske-lilly commented on #373
Any update on this? New CRAN version? @rich-iannone

Thanks

[2020-05-07 20:29] yonicd commented on #392
looks like this is a similar issue

https://github.com/niklasvh/html2canvas/issues/1311

[2020-05-08 21:42] rich-iannone commented on #373
@jekriske-lilly @larspijnappel @kmezhoud @rvernica Really sorry for the long wait on this. There were a number of additional fixes required at the same time (for tibble 3.0.0, dplyr 1.0.0) on top of the massive blunder I made earlier. But, just got word from CRAN that DiagrammeR 1.0.6 has been accepted.

[2020-05-11 16:50] pachamaltese opened #395 "gh-actions fails on Windows + R 3.5 bc of missing pillar package"
https://github.com/rich-iannone/DiagrammeR/pull/394/checks?check_run_id=663977457

[2020-05-11 16:53] rich-iannone commented on #395
Yeah, I've been seeing that but not sure what to do about it. Maybe remove Windows + R 3.5 from the list (it's like old-oldrel now).

[2020-05-11 17:57] #390 closed

[2020-05-20 15:16] DarthHeizenberg commented on #389
Your GV file has an error. Recommend pasting the file contents here or in a forum that specializes in debugging gv-dot files

[2020-05-20 15:30] DarthHeizenberg opened #398 "Engine option always uses 'dot'"
Calling any of the following:
[code]
### file:test.gv
[code]
all result in identical layouts as below:
![Screen Shot 2020-05-20 at 10 25 42 AM](https://user-images.githubusercontent.com/9029750/82465092-7d7e2100-9a84-11ea-9291-6cb5dd020ed0.png)

Testing the same on https://dreampuf.github.io/GraphvizOnline shows the following with "neato" as an example:
![Screen Shot 2020-05-20 at 10 29 28 AM](htt

[2020-05-20 15:31] DarthHeizenberg commented on #398
### Version info:

![Screen Shot 2020-05-20 at 10 20 39 AM](https://user-images.githubusercontent.com/9029750/82465489-f4b3b500-9a84-11ea-916d-1913455295ed.png)
![Screen Shot 2020-05-20 at 10 19 50 AM](https://user-images.githubusercontent.com/9029750/82465528-0006e080-9a85-11ea-8b2f-2465c9d0fc2d.png)

[2020-05-26 21:53] #395 closed

[2020-05-26 22:27] prncevince opened #400 "Display object not created for Nodes with image attribute"
The functionality to generate a diagram containing a node with an image aesthetic was commented out:

https://github.com/rich-iannone/DiagrammeR/blob/212fe760123a85f20f04dca64909fa07d2bf1d0b/R/render_graph.R#L391-L393

All comments were subsequently removed from the CRAN `1.0.5` release, and is still this way in `1.0.6.1`.

Reprex and error:

[code]

[code]

[2020-05-27 02:40] jgomezd commented on #312
I also have that problem. Did your find any solution?

[2020-05-27 11:20] skanskan commented on #312
I haven't tried again.
But the only solution I found last time was editing the picture by hand.
The other alternative was using VisNetwork, but it had fewer options and didn't allow to export to any vectorial format, and when I asked about it on their site they forwarded me to Vis.
At Vis I received very rude replies. They told me if I need something I should do it myself (programming the library)

[2020-05-27 11:28] DrMattG commented on #198
I have the same issue as @sachinjshah. Once you go over 9 footnotes the labels are recycled (i.e. label 10 is read as label 1). Can someone recommend a work around (my least preferred but currently only option is to make my graph simpler)

`library(DiagrammeR)
grViz("
digraph a_nice_graph {

# node definitions with substituted label text
node [fontname = Helvetica]
x [label = '@@9', shape=triangle

[2020-05-27 11:43] DrMattG opened #401 "How can we add more than 9 footnotes in grViz?"
I have the same issue as @sachinjshah in a closed issue (198). Once you go over 9 footnotes the labels are recycled (i.e. label 10 is read as label 1). Can someone recommend a work around (my least preferred but currently only option is to make my graph simpler)

`library(DiagrammeR)
grViz("
digraph a_nice_graph {

# node definitions with substituted label text
node [fontname = Helvetica]
x [label

[2020-05-27 11:50] DrMattG commented on #401
Labelling the "excess" nodes (i.e. the 10th node and up) directly in the node definition part works.

`grViz("
digraph a_nice_graph {

# node definitions with substituted label text
node [fontname = Helvetica]
x [label = '@@9', shape=triangle]
a [label = '@@1', shape=box]
b [label = '@@2']
c [label = '@@3', shape=box]
d [label = '@@4']
e [label = '@@5', shape=box]
f [label = '@@6']
g [label = '@@7

[2020-05-27 11:51] DrMattG commented on #198
@sachinjshah you can just label the nodes directly rather than in footnotes after the 9th node - see https://github.com/rich-iannone/DiagrammeR/issues/401

[2020-05-28 09:11] PuzzledFace opened #402 "Identifying the node the user clicked"
Here's a simple test app:

[code]
This works as expected when I run the app on OS X.  When I click "A", for example, I get `You clicked the node labelled 'A', which has the ID node1.`.  That's great.  But when I run the same app on Linux, nothing happens.  Is this a bug or am I missing something?

Thanks in advance for your help.

[2020-05-31 18:14] stevepowell99 opened #403 "clusters from data.frames broken?"
Hi back in version 0.92 or so, #257 we could create clusters using data.frames like this

[code]

Now, in the latest CRAN version 1.0.6.1 and dev version, nodes without clusters have their labels stripped and replaced with numbers like this:

![image](https://user-images.githubusercontent.com/3277499/83359496-799aaa80-a372-11ea-94b6-28b01120ba4e.png)

[2020-06-12 10:40] magjac commented on #246
This is still a problem in http://rich-iannone.github.io/DiagrammeR/graph_creation.html

[2020-06-12 13:36] magjac commented on #389
@sayarshah You can use the [Graphviz Visual Editor](http://magjac.com/graphviz-visual-editor/) to pinpoint errors or the [Graphviz Forum](https://forum.graphviz.org/) to ask for help

[2020-06-16 14:56] retorquere commented on #350
This should get you in the right direction (although knits don't display for me):

[code]

[2020-06-17 14:54] #403 closed

[2020-06-22 13:45] Igor-Ermakov opened #405 "Non-latin symbols and alignment in html-label"
I tried to create a Graphviz diagram with html-labels, but `td align='center'` seems not to work properly for strings with cyrillic symbols.

[code]
![image](https://user-images.githubusercontent.com/67274653/85293358-e30b6600-b4a5-11ea-8a7b-7b8ff6cafe21.png)
------------------------------------------------------------------
sessionInfo()
R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu

[2020-06-27 11:56] erikaduan opened #406 "Add arrow shapes that support crow's foot notation (more options for arrowhead and arrowtail)"
Thanks for creating this package! I think that `DiagrammeR` is a great way to visualise data warehouse table entity relationship diagrams. A common way to draw these diagrams is via crow's foot notation, as depicted below. Whilst `crow` and `tee` arrow shapes can be used to mimic the concept of many and one, extra arrow types might be useful to denote:

+ zero or one (combination of a `dot` and `t

[2020-06-29 13:38] janbucher opened #407 "render_graph works but does not display properly in Jupyter"
Not sure where things go wrong, but when I try the example code from the readme, the produced output iframe has a height of 1px. Seems to be a problem of the htmlwidgets packages as well.

[2020-07-20 03:58] arazdow commented on #205
I have the same issue, but would be happy with being able to receive the ID of the new add_node() node.  For example, if I want to add an edge FROM the new node, I need to know the ID of the new node.  Is there a way to get that information?  For example:
get_id_of_newest_node()

[2020-08-05 03:55] jsgro commented on #391
I am not sure what version you were using, but my circles are larger and there is not such blank space in my output. I am using R 3.6.3 and `DiagrammeR_1.0.6.1` - you can use `sessionInfo` to output these on your system.

Regarding the diagram, I found that you can change its size by adding a `height = ` value. Here is your RMD file modified to make it smaller:

[code]

[test-spacing.pdf](https://

[2020-08-05 04:14] jsgro opened #409 "DiagrammeR cannot make \grViz output as PDF in R v 4.0.x"
This is a **reproducible error** in Mac/Linux/Windows with `R 4.0.x` but not  `R 3.6.3`

On Mac /Linux (inside various Docker images) there is an error preventing the making of PDF:

[code]
On Windows there is no error reported but the graph is not created at all.

However, all are OK in HTML and in `R 3.6.3` all worked OK in PDF as well.

The `grViz` environment is a puzzling thing... and it is n

[2020-08-05 04:55] jsgro commented on #409
**SOLVED** thank to Yihui's answer. Problem was due to some changes in Markdown.
See his answer in https://github.com/yihui/tinytex/issues/230

SUMMARY if you have this problem:

1. update with **`remotes::install_github('rstudio/rmarkdown')`**
2. Also run `webshot::install_phantomjs()`

After that the PDF is created and the `\grViz` environment no longer is part of the `.tex` file.

[2020-08-05 16:50] jsavn commented on #330
FWIW, the way I do this at the moment is as follows:

[code]

[2020-08-07 09:53] learner-1a79f4 commented on #333
Hi
It finally created the png for me after also adding the library rsvg.

I have:
library(DiagrammeR)
library(DiagrammeRsvg)
library(rsvg)

[2020-08-18 18:49] arielfuentes commented on #340
@David-rios you can use export_svg %>%
  charToRaw %>%
  rsvg_png("graph.png")

[2020-08-19 12:51] midraed commented on #333
I can confirm this works only if you load both DiagrammeRsvg and rsvg. If not, export_graph() does nothing.

Maybe you need to install rsvg also @HeidiSeibold

[2020-08-19 13:33] HeidiSeibold commented on #333
Ah yes, that works. Thank you :pray: :clap:

Maybe it would be helpful for users to get a warning if the don't have the package installed + loaded. :thinking:

[2020-08-21 09:20] mskyttner opened #410 "Vignette for graphviz(/mermaid) appears to miss documentation/tables of valid graphviz node shapes and arrowhead values"
The vignette for graphviz/mermaid support has a section on graphviz node and arrowhead values here: https://github.com/rich-iannone/DiagrammeR/blob/master/vignettes/graphviz-mermaid.Rmd#L144-L150.

It seems to lack a table with the actual valid values for graphviz node shapes and arrowhead values, and corresponding figures.

The following R/Rmd snippet would appear to be able to provide the missin

[2020-09-24 16:07] skanskan commented on #123
Hello.

What are other alternatives instead of "dashed"?

I need to plot a graph with too many crossing lines and using just different colours is not enough. I'd like to define different edge styles to identify them
dashed, dotted, normal...

[2020-09-24 20:34] pitercius commented on #310
If somebody needs to solve this, I changed the viz.js script (e.g. C:\Program Files\R\R-3.6.2patched\library\DiagrammeR\htmlwidgets\lib\viz\viz.js) and in each TOTAL_MEMORY and totalmemory var I have written my own number (e.g. 503316480) and... it works!

[2020-10-01 06:30] MavropaliasG opened #411 "How to modify Mermaid graph?"
Hi I would like to change the theme of my mermaid graph and also add word wrapping. I can do these things in he mermail live editor, but I don't know how to do them through DiagrammeR, can someone please help?

![image](https://user-images.githubusercontent.com/13523909/94775554-a0d1b900-03f2-11eb-9112-93b019e16473.png)

[2020-10-06 15:37] allipierce commented on #376
RawGit is now defunct but I was able to get it to work by converting the link to .jsdelivr
"https://cdn.jsdelivr.net/gh/timelyportfolio/svg_mathjax2@master/"

[2020-10-07 02:11] Peromyscus opened #412 "Straight edges/connecting lines"
Hi,

I am having some difficulty getting a figure to look as I would like due to the "swoopyness" or curved nature of connecting edges.  I think being able to make the edges/connecting lines straight would fix my problem.  For example, I really like the edge layout here:

![like](https://user-images.githubusercontent.com/24462718/95279414-4f716180-0818-11eb-9388-3396624e7da7.png)

but the text is

[2020-10-12 23:47] verasiwei opened #413 "Possible to inlcude latex in DiagrammeR?"
Is it possible to embed latex in DiagrammeR? Thanks!

[2020-10-14 23:22] albersonmiranda opened #414 "Add error for export_graph() if dependencies aren't there"
So i've lost a few minutes trying to export a graph until i figure it out that there was dependencies not installed: {DiagrammeRsvg} and {rsvg}. No error, warnings or messages. Function executed and nothing happened.

If it's ok i'd open a PR for adding proper error messages.

[2020-10-19 04:56] Maschette opened #415 "fillcolor not working"
Hi Rich,
Not sure if it is just my code or if fillcolor is not working but when I try and fill my boxes with any color it doesnt work. I have tried both names and hex colors. I also tried it with layout dot.

[code]
![image](https://user-images.githubusercontent.com/14663215/96403072-2b078300-1223-11eb-93ef-158d2075e87a.png)

[code]

[2020-10-19 05:09] rich-iannone commented on #415
DOT is pretty strange so this is super easy to miss (I had to figure out with some reverse-engineering): you need to have a `style = 'filled'` statement in the `node` definition. Then it works!

[code]

[2020-10-19 05:12] Maschette commented on #415
Argh! thanks I was going off your tutorial and missed that in the first node! thanks!

[2020-10-19 05:12] #415 closed

[2020-10-19 06:08] Maschette opened #416 "Superscripts and line breaks"
Hi Rich I am hoping this is not another silly issue like my last!

I read #71 and it showed me how to do superscripts but then I was trying to add a line break and I can seem to either have the superscript or the line break but not both? I tried using both \\n and \n with differing results I searched the package website and couldn't find any info on superscript. I also tried it using paste0() like

[2020-10-19 11:58] nnb1994 opened #417 "Error: syntax error in line 5 near '('"
library(diagram)
library("readxl")
library("writexl")

st1<-read_excel("C:/projects/PSD/data/Station 1.xlsx")
my_label <- c(st1$descripton)
vec<-c(1,2,3,4)
DiagrammeR::grViz("
                  digraph graph2 {
                  graph [layout = dot]
                  node [shape = rectangle, width = 4, fillcolor = Biege]
                  for(j in 4)
                    vec[j] [label = '@@j']

[2020-10-19 11:59] nnb1994 commented on #417
Want to create dynamic flowchart of nodes with labels directly fetched from excel elements

[2020-10-28 17:14] trashbirdecology commented on #417
I am not a developer on this package, but the purpose of this issue is not clear. What is the problem? It looks like an error in your own personal code?

[2020-10-30 10:28] davidgebr opened #418 "Documentation Issue: Example code error/update"
This page has been a very useful resource.  https://github.com/rich-iannone/DiagrammeR/issues/new.

The last example under 'Graphviz Substitution/Examples' has the following line:

         **[2]: paste0('RStudio version:\\n ', rstudioapi::versionInfo()[[1]])**

The reference to parameter '1' needs to be updated to '3'. I assume that the order of the parameters has changed since creating the examp

[2020-11-02 02:09] jefshe commented on #398
I fixed this a while back but my commit seems to have been reverted by @rich-iannone .

Not sure why 😕

Here is the fix:
https://github.com/rich-iannone/DiagrammeR/pull/339

And here is reversion:
https://github.com/rich-iannone/DiagrammeR/commit/b7cb1113a4d005b1508f435a6b00c8fb4e607234#diff-26693e304ea701f2f1dbca6415ba073e6fc2579e373e4a2215359e418e4bb53b

[2020-11-05 10:34] Rey-ND commented on #363
Hi there @ViRb3 and  @wligtenberg .
I believe this issue is solved with possible a syntax/whitespace fix/work-around:

[code]
Thanks

[2020-11-25 15:05] bernardbeckerman opened #420 "Error in `combine_graphs` when both `x` and `y` have labeled edges"
Hi,

It seems that combining two graphs with labeled edges via `combine_graphs` results in an error.

See the following MRE:

[code]

which results in

[code]

Is there a better way to do this?

Thanks!

Bernie

Session info:
[code]

[2020-12-20 19:43] vnijs opened #421 "Updates to CRAN?"
Hi @rich-iannone Could you push the version of DiagrammeR with the reverted mermaid code and css to CRAN? I have the fixed version available for my students but users installing from CRAN have issues using my apps.

Thanks

[2020-12-20 19:59] vnijs opened #422 "Rendering issue in Chrome"
A student reported an issue with graphs like the below in Chrome.

![image](https://user-images.githubusercontent.com/2998956/102723039-2fe7c200-42ba-11eb-8a69-e74d38defb74.png)

I was able to reproduce the issue in Chrome using the example below.

[code]

The graph looks fine in Rstudio and Firefox (Windows) but letters go outside the boxes in Chrome. Any suggestions you might have on how to addr

[2021-01-23 14:15] tbates opened #423 "create_random_graph mentioned in docs but not found?"
The [docs](http://rich-iannone.github.io/DiagrammeR/docs.html) page mentions `create_random_graph` but this function doesn't appear to exist?

Guess docs is out of date (stops at version .8, current version = 1.0.6.1)

[2021-01-23 14:27] tbates commented on #70
Guessing a lot of people wanting to save graphs will find this issue. Might be worth a link to a working/current example as `export_svg()` is now not found, likewise `set_global_graph_attr`
and
Error: 'create_random_graph' is not an exported object from 'namespace:DiagrammeR'

[2021-01-23 14:50] tbates commented on #330
Just for those of us in the "Ceci n'est pas une pipe'  crew:

[code]

[2021-02-04 15:08] viniciushdasilva opened #424 "Decrease the distance between nodes in the last-to-date DiagrammeR version (1.0.6.1)"
I would like to decrease the distance between nodes in DiagrammeR R package. I am aware that is a similar question here: How to increase distance between nodes in DiagrammeR R. However, such a solution is not working in the current DiagrammeR version (1.0.6.1). I have a found in the manual a given solution:

[code]

As pointed in the code above, the len parameter is supposed to give different dist

[2021-02-23 07:32] CorentinWicht opened #425 "Export diagram as high-quality .tiff"
Dear Developpers,

I am having a hard time exporting a mediation diagram created with DiagrammeR as .tiff with a control over **DPI, bits per sample and image size (for publication quality purpose)**.

I have followed the following thread to create...:
https://stackoverflow.com/questions/46465752/drawing-simple-mediation-diagram-in-r
and  to export the diagram: https://github.com/rich-iannone/Diag

[2021-02-23 14:49] CorentinWicht commented on #425
I actually found the answer to my question by setting the **width** and **height** argument of the **rsvg** function:

`DPI = 600`
`WidthCM = 38`
`HeightCM = 16`
`semplot %>% export_svg %>% charToRaw %>% rsvg(width = WidthCM *(DPI/2.54), height = HeightCM *(DPI/2.54)) %>% tiff::writeTIFF("plot.tiff", bits.per.sample = 8L)`

[2021-02-23 14:49] #425 closed

[2021-03-02 15:55] adimajo commented on #276
Same here; solved by running an empty grViz() just before (this one gives an error message - easily masked by Rmarkdown's chunk options - but the following call works).

[2021-03-24 15:54] stevepowell99 commented on #403
I'm getting the original issue on 1.0.6.9000. I don't know if it was fixed in between?

[2021-03-25 08:30] relund opened #426 "Remove unwanted tooltip "%0""
If I run

[code]
and inspect the output graph, then when I place the cursor between the nodes a tooltip '%0' appears. How can I remove it?

[code]

[2021-03-25 08:38] bugriy opened #427 "Impossible to use icons on diagrams (Error in DiagrammeR::render_graph(graph, output = output, ...) : object 'display' not found)"
I am trying to render diagram with icons and I found that the pasrt of code that must render pictures with icons is just not present in **DiagrammeR::render_graph** function that causes an error.

What I do (in R):

[code]

After that I an getting an error:

**Error in DiagrammeR::render_graph(graph, output = output, ...) :
  object 'display' not found**

The reason is, plot.node calls DiagrammeR:

[2021-03-25 08:59] relund opened #428 "Transparency attribute alpha doesn't seem to work"
The `alpha` attribute doesn't seem to work for:
[code]

[2021-03-29 11:38] zachsa commented on #329
I have found that using `subgraph` inside a flowchart works. Is this good practice?

[2021-04-16 14:37] vikram-rawat commented on #231
[code]
This example is supposed to work. I even tried it on mermaid js playground

[code]

This code works

as mentioned here docs.google.com/document/d/1bmsRGxzRmzwoBDnUOzIHKUmV7ZjZSo_KvdcRBNODyuA/edit

Please update the package as it is crucial to add more elements to define a node sometime.

[2021-04-17 01:53] vikram-rawat commented on #421
mermaid js now have new and exciting features and shapes like these. Would you please just update the mermaid js so that we can use these features as well.

![image](https://user-images.githubusercontent.com/22342596/115098382-72aa6580-9f4d-11eb-8ab0-ddb3ebf33015.png)

[2021-04-20 07:41] #380 closed

[2021-04-29 07:54] dktanwar opened #429 "How can I set fontsize for mermaid diagrams?"
I have tried:

[code]

[2021-05-11 10:02] befriendabacterium opened #430 "Make part of the text in a node label bold"
I can't seem to do this using expression(bold('bold text'), 'not bold text') as you would normally - am I missing something or is this not possible yet?

[2021-05-11 10:17] befriendabacterium commented on #430
Sorry I was rushing there - I meant to say it's an excellent package, please and thank you in advance! 😊

[2021-05-12 19:24] irakli-research opened #431 "Creating an edge directed to another edge for moderation"
I couldn't find it anywhere in the documentation - how to draw an edge that is directed to another edge to represent a moderating variable? _Example below_
![image](https://user-images.githubusercontent.com/76787262/118032877-32d27480-b379-11eb-83b7-339119d82746.png)

[2021-05-13 07:26] coolbutuseless opened #432 "grViz engine argument not being respected."
I understand that I can specify the layout engine within the dot text using `graph [layout = neato]`

The docs for `grViz` indicate that I should also be able to use `grViz(..., engine = 'neato')` to do the same thing (without specifying `layout` within the text)

However this `engine` argument seems to have no effect.

This is using both the CRAN version and the latest version via `remotes::insta

[2021-05-20 11:26] coolbutuseless opened #433 "Single quotes erroneously replaced with escaped double-quotes"
According to the Dot language spec () only the double-quote character should be escaped i.e.  a literal ```"``` should be included in a dot file as ```\"```

In ```grViz()``` however it appears that a single-quote (```'```) is escaped to be ```\"``` :

```diagram <- gsub(x = diagram, "'", "\"")```

This changes any single quotes (for example apostrophes in words) with a double quote character.

E.

[2021-05-22 11:28] swsoyee commented on #429
Hi, you can use `:::` to apply the class

[code]

[2021-05-25 04:19] hrlai commented on #333
Loading all these as @midraed suggested worked for me too. +1 for adding warning message as suggested by @HeidiSeibold :)

[2021-06-25 09:35] sorenoneill commented on #416
+1 I'm having the same issue.

[2021-07-02 04:25] lsbjordao opened #434 "Node shape 'note' isn't working / not showing"
Hi!!
I tested all node shapes and they are shown, but the 'note' isn't.
Maybe that can be fixed.

Best,

[2021-07-05 02:39] #289 closed