[2014-12-29 17:47] timelyportfolio opened #1 "update to htmlwidgets"
I think [htmlwidgets](http://www.htmlwidgets.org) will be the best way to wrap the `mermaid.js` and other javascript libraries.  This will be a great example, so I will attempt to convert this in a forked repo.  Let me know if you would like me to submit a pull request for the converted version.  This way you can get credit for the work.

[2014-12-29 22:48] #1 closed, assigned to nobody

[2015-01-04 08:30] pommedeterresautee opened #6 "Vignette not built"
I have no experience with writing / building vignette, but I don't see any reference to it in the built package but I see the source file.

Do I have something special to do during the compilation?
[code]

Help page:
[code]

[2015-01-04 08:39] pommedeterresautee opened #7 "Cran integration"
I am working on a plot function for this ML package https://github.com/tqchen/xgboost (I want to plot the tree model generated). I think DiagrammeR is perfect for this job.

However it would require a new dependency from Xgboost R package to your package and I can't do it properly until your package is pushed to Cran. Therefore, do you plan to push your package to Cran?

Kind regards,
Michaël

[2015-01-04 08:41] rich-iannone commented on #6
Having some difficulty getting the vignette source to compile, so, definitely looking into this. Hope to resolve this quickly.

[2015-01-04 08:44] rich-iannone commented on #7
Yes. Plan to get that underway this week. Hope beyond hope that will be a smooth process... Would love to see a sample of that use later on if that's possible.

[2015-01-04 08:52] pommedeterresautee commented on #7
Not yet finished but of course I will send it to you when written.
Btw, I think it is not possible but I prefer to ask, is it possible to have several trees in the same image?

The ML package I am working on is from the ensemble tree family, meaning the model uses several decision trees to take a decision. Therefore I will need to plot several trees.

To give you an idea, this is a txt dump of a s

[2015-01-04 14:39] timelyportfolio commented on #6
is it as simple as `devtools::install_github(rich-iannone/DiagrammeR,build_vignettes = TRUE)` ?  Vignettes are not built by default with `devtools`.  Does this [chapter about vignettes](http://r-pkgs.had.co.nz/vignettes.html) in the @hadley book help?

[2015-01-04 14:50] timelyportfolio commented on #7
Would really like to see the functionality proposed and also like to see `DiagrammeR` extended to cover `rpart` or the more comprehensive `partykit`.  See [here](http://bl.ocks.org/timelyportfolio/2544a52d5e99ccae2c4c) as an experiment before `DiagrammeR` existed.

I do think thought that `Suggests` will be better than `Imports`, since I would say this is an enhancement rather than a requirement.

[2015-01-04 18:46] pommedeterresautee commented on #7
I have tried and it was easy to have several graph on the same image. That s a very good thing.
@timelyportfolio first thanks for your post in your blog about DiagrammeR package, that is how I discovered it (and thanks to @rich-iannone for having built it). I have posted an image of the first tree here https://github.com/tqchen/xgboost/issues/123. Basically I parse the text model with some regex a

[2015-01-04 19:40] mostly-harmless commented on #7
@pommedeterresautee could you perhaps post just the code + example of "Basically I parse the text model with some regex and convert it to a data.table." somewhere? Sorry to thread-jack

[2015-01-05 13:25] pommedeterresautee commented on #7
@mostly-harmless my WIP code is here: https://github.com/pommedeterresautee/xgboost/blob/master/R-package/R/xgb.plot.tree.R

The file read is the one I posted 2 posts ago. Just put the content in a text file, change the path and generate the Viz.
All the trees are generated.

@rich-iannone @timelyportfolio
Does anyone know if in Shiny it's possible to collapse a branch of a generated tree? (like y

[2015-01-05 14:59] timelyportfolio opened #8 "interactivity and other features"
@pommedeterresautee Since Issue #7 began as a discussion about _CRAN integration_, I thought it would be good to start this new thread that isolates and tracks the discussion about additional features, primarily interactivity.  I hope this is ok.

Very little of the first round of `mermaid.js` development (parsing and rendering) has focused on interactivity, but there is [support for callbacks](ht

[2015-01-05 14:59] timelyportfolio commented on #7
I like the direction this conversation is headed.  To separate from *CRAN integration*, I thought it might be good to start issue #8 for

[2015-01-05 15:59] pommedeterresautee commented on #8
Thanks for these pointers. This one seems similar but a bit shorter : http://bl.ocks.org/d3noob/8375092

In the example I posted I just need to generate
[code]

And find a way to push it to D3 running in Shiny server (with the code of the link) from R and I am done, isn't it?

My question is... why not use the code from all these examples instead of Mermaid?
I have no knowledge of JS so may be I a

[2015-01-05 16:25] timelyportfolio commented on #8
primary benefit of `mermaid.js` is its simple markdown-like spec syntax.  For more full featured and interactive network graphs (for now), you might want to also look at [`networkD3`](https://github.com/christophergandrud/networkD3).

[2015-01-05 16:29] pommedeterresautee opened #9 "Documentation related to parameters width and height is not provided"
I am not sure of how it works. If you put a size too small it will be increased to what is required, if it is a value to high then it is too big, finally if no value is provided, the best value is choosen. Am I right?

[2015-01-05 16:31] timelyportfolio commented on #9
I am planning to work on this.  `mermaid.js` currently offers no real support for exact sizing.

[2015-01-05 17:36] pommedeterresautee commented on #9
Thanks for the information. In the example of the README height is used.
I think it should be removed until it has a real purpose.

[2015-01-05 17:37] pommedeterresautee commented on #8
I just had a look to networkD3, it's an awesome library but according to the examples, it doesn't seem possible to close a branch. Am I wrong?

[2015-01-05 17:43] pommedeterresautee commented on #8
Looking at the example of Diagramme in the readme I just realised it doesn't make sense to offer a possibility to close a node. For example, in the first image of the readme, B go to D and C go to D. What should happen to D if C is closed? May be E is hidden and the link to D disappear but for this kind of Diagramme it doesn't look natural to act that way.

[2015-01-05 17:48] timelyportfolio commented on #8
In terms of networkD3 collapsible, you might be correct that it is not yet implemented.  I thought it was but will dig deeper.

You are right collapsible only applies to special cases of networks, primarily trees.  Not sure how to handle but will leave this open to explore.

[2015-01-05 17:53] pommedeterresautee commented on #8
May be it helped, it s a blog entry explaining how to make a tree collapsable. I just read it rapidly but it seems pretty clear...
http://www.d3noob.org/2014/01/tree-diagrams-in-d3js_11.html

[2015-01-05 18:37] pommedeterresautee commented on #7
@mostly-harmless function is complete.

[2015-01-05 18:41] mostly-harmless commented on #7
Thanks @pommedeterresautee !

[2015-01-05 19:38] rich-iannone commented on #7
Thanks again @pommedeterresautee, that's great!

[2015-01-06 09:56] pommedeterresautee commented on #8
After some search I didn't find any lib able to have both collapsible nodes AND able to have several trees in the same document (the code above can't for example).

[2015-01-06 10:36] pommedeterresautee commented on #8
I am wondering how to add a collapse feature to Mermaid. Basically, if you click on a node, all other nodes which are pointed by only closed nodes should be closed and hidden. And it would work as a propagation accross the network of nodes. It should not be that hard to implement. I need to check how the representation of the network is done in JS. What do you think?

[2015-01-06 18:33] timelyportfolio opened #11 "update to newest mermaid once in distribution"
Regarding `mermaid.js` auto-render, see https://github.com/knsv/mermaid/issues/91 where this was changed.  Once this reaches mermaid build/dist, update the js dependency and also make the change in [lines](https://github.com/rich-iannone/DiagrammeR/blob/master/inst/htmlwidgets/DiagrammeR.js#L15-L23).

I will work on a pull for this.

[2015-01-07 00:56] #11 closed

[2015-01-07 17:58] timelyportfolio opened #14 "fix duplicate svg ids assigned by mermaid"
`mermaid.js` must have an internal counter on `mermaid.init()` to assign the `id` to the `SVG` container for the diagram.  In `DiagrammeR`, we set `startOnLoad = F` to suspend the auto-render behavior of `mermaid.js` and then run `mermaid.init()` each time we process a widget.  If only one widget then fine, but if we have >1 widget, then the `mermaidChart0` gets assigned to each `SVG` and everythi

[2015-01-07 21:44] pommedeterresautee commented on #7
@rich-iannone did you find time to submit your package to cran?

[2015-01-08 03:13] #14 closed

[2015-01-08 07:57] rich-iannone commented on #7
@pommedeterresautee there is still a problem building the vignette. I need to resolve that issue before submitting to CRAN.

[2015-01-08 08:09] rich-iannone commented on #7
Okay, @pommedeterresautee and @timelyportfolio, figured out the build issue with the vignette, I had a slightly older version of knitr. Once I updated that, I could build the vignette and building the source package was free of errors. I'll submit to CRAN.

[2015-01-08 08:10] rich-iannone commented on #6
@timelyportfolio now can build. Had to update my local install of the knitr package.

[2015-01-08 08:10] #6 closed

[2015-01-08 08:14] rich-iannone commented on #7
Now submitted to CRAN. Just need to wait for a reply from BDR.

[2015-01-08 20:17] pommedeterresautee opened #17 "Reference to networkD3???"
In file https://github.com/rich-iannone/DiagrammeR/blob/ad4221579fdb5458b47c8b2a278f899a3ced46a0/R/DiagrammeR.R#L131 there is a reference to networkD3. I may have missed something big but it seems to me that it is another library and DiagrammeR is center on Mermaid, isn't it?

[2015-01-08 20:32] timelyportfolio commented on #17
Good catch, `DiagrammeR` as of now is focused entirely on `mermaid.js`.  Assuming I copied/pasted that bit, since `scaffoldWidget` creates the skeleton for these `Shiny` rendering functions.

@rich-iannone can confirm, but idea behind DiagrammeR is not full-featured network graphs but an extremely simple way to express diagrams and have them render in the relevant context.  I am sure that `network

[2015-01-09 04:13] rich-iannone commented on #17
Thanks for bringing this up, @pommedeterresautee and thanks for the pull request, @timelyportfolio!

[2015-01-09 04:13] #17 closed

[2015-01-09 10:20] pommedeterresautee opened #19 "[FEATURE] automatic replacement of \n by <br />"
People working on R have not to care to what tech is used to render their graph.
In a diagram you may have several lines, they will usually be separated by \n.
Unfortunately Mermaid doesn't care of \n but takes <br /> into account.
May be it would be good to make this transformation by the R plugin.

Moreover I don't see any reason why someone would want to keep \n in the text of its diagram.

Bes

[2015-01-09 14:33] timelyportfolio opened #20 "add gh-pages branch for possible showcase?"
See https://github.com/hrbrmstr/metricsgraphics/issues/12#issuecomment-69330893.  @jjallaire, would `DiagrammeR` be ok for the showcase?  Thanks to the resolve of @rich-iannone it was accepted to CRAN today.  He also did a nice job documenting and adding examples.  I would think adding gh-pages using existing stuff or just the vignette would be relatively easy.  I just posted [this](http://www.bui

[2015-01-09 14:37] timelyportfolio commented on #19
Perhaps a reproducible example would clear up some of my confusion.  Would that be possible?  One other concern I have is that labeling appears likely to change based on https://github.com/knsv/mermaid/issues/58.

[2015-01-09 15:05] rich-iannone commented on #7
After a few rounds of fixes, it's now in CRAN.

[2015-01-09 15:05] #7 closed

[2015-01-09 15:41] jjallaire opened #21 "don't use explicit height in README examples"
The explicit height prevents the diagrams from being autosized and I don't think users should be led to believe that the fixed size behavior is required.

[2015-01-09 15:42] jjallaire commented on #20
Looks really cool! I'd definitely consider adding that to the list if it
had a nice set of gh-pages docs.

On Fri, Jan 9, 2015 at 9:33 AM, timelyportfolio <notifications@github.com>
wrote:

[2015-01-09 17:29] pommedeterresautee commented on #7
Awesome I push my code on XGBoost! First reverse dependency for DiagrammeR :-)

[2015-01-09 20:11] timelyportfolio opened #23 "add vignette for sequence diagram"
With pull #22 we add an example of a sequence diagram, but I also think it would be nice to have a dedicated vignette to offer some discussion and examples of sequence diagrams.

[2015-01-10 07:28] rich-iannone commented on #20
Well, I think we'll get on making those gh-pages docs then! They will contain lots of examples.

[2015-01-10 07:47] rich-iannone opened #24 "Add in support for graphviz diagrams"
This is possibly a big one, and I wanted to get some opinions on this. If we add the viz.js library, we can essentially have graphviz diagrams defined using one of several layout engines like "dot", "neato", "circo", or "twopi". Graphics would be rendered as SVG. The examples of the types of diagrams using dot alone look very nice. I think that getting this in early would set the package up for gr

[2015-01-10 11:32] jjallaire commented on #20
Great! Let me know when it's ready and I'll add you to the showcase.

On Sat, Jan 10, 2015 at 2:28 AM, Richard Iannone <notifications@github.com>
wrote:

[2015-01-10 21:52] rich-iannone commented on #7
That is great to hear! Thanks @pommedeterresautee for all the help and interest so far.

[2015-01-11 00:10] rich-iannone commented on #21
Now removed.

[2015-01-11 00:10] #21 closed

[2015-01-11 19:45] pommedeterresautee commented on #19
I am thiking to something very simple like that:
[code]
I do it for my own code.

[2015-01-12 04:08] timelyportfolio commented on #24
Trying to decide what would be best :
1. provide `viz.js` as an option within `DiagrammeR` and use the subset of networking libraries
1. build a `htmlwidget` package entirely focused on `viz.js` and ignore in `DiagrammeR`
2. build a `viz.js` package and through `Imports` offer the subset of network diagram functions also in `DiagrammeR`

@rich-iannone, your decision, but those are the options I se

[2015-01-12 05:49] rich-iannone commented on #24
That *is* confusing but I did mean viz.js, with which ongoing development is likely abandoned. However, it does everything it needs to do and is pretty well documented as far as examples. Rationale for inclusion to DiagrammeR was a bit difficult at first. I thought that it could exist as a separate package, but, since there are several input code methods available in viz.js for GraphViz, I thought

[2015-01-12 05:52] rich-iannone commented on #23
I think that's a good idea. Want me to take a stab at the vignette?

[2015-01-12 15:21] timelyportfolio commented on #23
For now, I think a showcase vignette would be more important.  Think we have enough examples already to put together.

[2015-01-12 15:24] timelyportfolio commented on #24
I am impressed with `viz.js` does, and since it used `emscripten` with `graphviz` should be nearly one-to-one for those acccustomed to `graphviz`.  Wondering now though, do we specify type `mermaid` or `graphviz/dot` in the `DiagrammeR()`, try to use some auto-detection, or make a `mermaid` function and a `graphviz` function similar to `networkD3`.

On a separate note, we should be able to leverag

[2015-01-13 05:12] timelyportfolio opened #29 "start version tagging in Github and add News.md"
I think this is developed enough to start version tagging on Github.  Also, adding a `News.md` (like [this](https://github.com/hadley/testthat/blob/master/NEWS.md)) will be helpful to track API changes, error fixes, and new features.

[2015-01-13 05:42] rich-iannone commented on #29
Okay, just pushed a basic `NEWS.md` file. Have a look and feel free to add noteworthy items for the 0.1 (current) release. For versioning, I'll keep it simple with a *major.minor* versioning scheme.

[2015-01-13 05:46] rich-iannone commented on #24
For simplicity's sake, I'm thinking that an auto-detection scheme will be less burdensome for the user. I have to look into `Rgraphviz`. I was a bit surprised that `viz.js` was at around 2.5 MB. It might not be that big a deal in the context of an `htmlwidget` though. We'll have to see.

[2015-01-13 05:57] rich-iannone opened #30 "Remove semicolons from examples (they are optional line terminators)"
The version of **mermaid.js** included in the package (and the CRAN release) doesn't require semicolons to terminate lines. Important for multiple statements in single lines but not necessary. I'll remove them from multiline examples and provide some guidance on the change.

[2015-01-13 06:04] rich-iannone opened #31 "Add example for use of external .mmd file as input to DiagrammeR function"
Thanks @jjallaire for contributing the functionality for providing an external file (with the suggested .mmd extension) for input to the `DiagrammeR` function. It seems to work well enough now with the error notification. Question is whether to expose this functionality now in an example, or, wait to develop this further (and also wait for the syntax highlighting that an upcoming daily build of **

[2015-01-13 11:02] jjallaire commented on #31
I'd say definitely yes expose it as an example as even without syntax highlighting I think a lot of users will appreciate being able to edit their diagram in external files (for both editing convenience and more easily re-using diagrams).

[2015-01-13 15:02] timelyportfolio commented on #29
great, guess I can close;  thanks

[2015-01-13 15:04] rich-iannone commented on #31
@jjallaire okay thanks, just added in some explanatory text in the README.

[2015-01-13 15:05] timelyportfolio commented on #29
one other thing, can you tag on Github?

![image](https://cloud.githubusercontent.com/assets/837910/5722612/33203e94-9b03-11e4-9d43-b01b682fd203.png)

[2015-01-13 15:08] timelyportfolio commented on #31
do you plan to make the changes to the vignette also?

[2015-01-13 15:35] rich-iannone commented on #31
Yes, that's right! I have to do that as well.

[2015-01-13 15:37] rich-iannone commented on #29
Just tagged as v0.1. Description is a bit lacking and I may want to mirror what's in NEWS.md. I'll revise soon...

[2015-01-14 01:11] rich-iannone commented on #24
Great! It's in!

[2015-01-14 01:11] #24 closed

[2015-01-15 07:55] rich-iannone commented on #29
Improved the descriptions for the releases.

[2015-01-15 07:55] #29 closed

[2015-01-15 07:56] rich-iannone commented on #30
This has been done, so closing.

[2015-01-15 07:56] #30 closed

[2015-01-15 08:10] rich-iannone opened #37 "Add razor-like syntax for substituting results of evaluated R expressions (provided in a Markdown-like style as footnotes)"
Begun some preliminary work on this. The idea is to allow a marker (I've chosen the double ampersand, followed by a number) to be placed in the graph spec. As numbered footnotes, R expressions are to be provided. After some basic checking, the expressions would be evaluated and the results substituted in the proper locations in the graph spec. As this evolves a bit, I'll provide a workable example

[2015-01-15 08:15] rich-iannone opened #38 "Fully bake in support for other Graphviz engines other than DOT"
Currently DOT is implemented and it renders SVG from a graph spec provided in dot syntax. Still need to incorporate the other styles such as neato, twopi, and the handful of others.

[2015-01-15 15:11] pommedeterresautee opened #39 "Diagramme not working in rmarkdown when document is regenerated"
When rendered as HTML it seems impossible to get more than on DiagrammeR.
I have tested only with cran version.

[2015-01-15 15:15] timelyportfolio commented on #39
This should be fixed in the github version.  Could you test? @rich-iannone what are your plans for a CRAN resubmission?

[2015-01-15 15:28] rich-iannone commented on #39
@pommedeterresautee thanks for bringing this up, and thanks @timelyportfolio for following up so quickly. It should definitely get fixed. Would you like to have a go at it, @timelyportfolio ? I'll test afterward. And, yes, an update submission should be made to CRAN shortly thereafter.

[2015-01-15 15:33] pommedeterresautee commented on #39
Ok updated to Github version.
Super strange, the first time I tried with one Diagramme

[code]
Got a good result.

Restarted with ONE diagramme (changed nothing). And it doesn't work ! There is probably a kind of cache somewhere. In the generated document I have that :
'undefined' is not an object (evaluating 'n.minlen')

Need to restart to make it work (not just R but whole Rstudio).
Then it work

[2015-01-15 15:35] pommedeterresautee commented on #39
FYI when I send several time diagramme command in the console, no issue.

[2015-01-15 15:38] rich-iannone commented on #37
Added an R script to the /inst folder to test out this functionality. @timelyportfolio would you like to test it out? It's sef-contained and seems to work well for me. Just wanted your input on ways to enhance and make more robust.

[2015-01-15 17:05] timelyportfolio commented on #39
Just getting out of some meetings.  This sounds like as you say a problem with `cache`.  I've been so frustrated in the past that by default I start every .Rmd or knitr with this even thought it takes longer

[code]

See if this fixes it.

[2015-01-15 17:15] timelyportfolio commented on #38
Will work on this.  Easy to implement and a little harder to test.

[2015-01-15 17:18] timelyportfolio commented on #37
Cool, should be able to look at it in a little bit.

[2015-01-15 17:18] pommedeterresautee commented on #39
Unfortunately avoiding the cache doesn't fix the issue.

[2015-01-15 17:36] timelyportfolio commented on #37
I'm at a big disadvantage here since I have never heard of `Razor` until now.  Should we implement on the Javascript side with something like [owinjs-razor](https://github.com/owinjs/owinjs-razor)?  Would something like `whisker`/`handlebars` with an existing `R` implementation be better to prevent ongoing maintenance/support?

[2015-01-15 18:31] timelyportfolio commented on #39
did you also delete the cache directory that probably lingers from previous runs?

[2015-01-15 19:50] pommedeterresautee commented on #39
Mmmmhhh I don't find the path of the cache. I have tried another strategy, using `opts_chunk$set(cache.path = "/path/..." )` and changed it several times.
It fixed nothing!

And I have the same issue on both Windows 8 and Ubuntu.

Kind regards,
Michael

[2015-01-15 20:57] timelyportfolio commented on #39
This is strange , and I was able to recreate, but I'm not sure this is an issue with `DiagrammeR`.  Even with the error when I opened in Chrome it rendered fine.  I think this might be an issue with RStudio Viewer browser cache.  If you can isolate to `DiagrammeR`, then please let us know.

![image](https://cloud.githubusercontent.com/assets/837910/5766404/ce2c0066-9cc6-11e4-8bc4-286eae293916.png)

[2015-01-15 21:10] timelyportfolio commented on #37
I tried it out.  Is this the expected result?

![image](https://cloud.githubusercontent.com/assets/837910/5766608/8edd373e-9cc8-11e4-8a9d-99c80da88940.png)

Could you use `strsplit` instead to avoid another dependency?

[code]

[2015-01-15 21:11] timelyportfolio commented on #9
@pommedeterresautee @rich-iannone is this safe to close now?  I feel pretty good about `height` and `width`.

[2015-01-15 21:25] pommedeterresautee commented on #39
Awesome it works for me too :-)

[2015-01-15 21:27] pommedeterresautee commented on #9
For me it's OK to close the issue

[2015-01-15 21:37] rich-iannone commented on #37
I think I started off with strsplit but went for the quick win but I think too many dependencies is definitely not good. That is the intended result.

[2015-01-15 21:50] rich-iannone commented on #37
There was something I wanted to implement, which is the evaluation leading to a vector result, and, the syntax in the diagram spec could allow for the selection of an index value. For example, we could have @@1 for subbing in a value that is part of an object of length 1 but @@2-1, @@2-2, @@2-3 to access values from indices 1, 2, and 3 from evaluated expression 2. We might even use the syntax @@2-

[2015-01-15 22:11] timelyportfolio commented on #38
Think this is now working.  Added a bunch of examples in the examples.R.  Addresses #38

[2015-01-15 22:25] pommedeterresautee commented on #39
Finally not so good.

It is not possible to print several plots in an Rmarkdown document when DiagrammeR is called from a for loop!!!

I have found that [link](https://groups.google.com/forum/#!msg/ggvis/HPhAaSttQzU/17mNeDdmVqwJ) but can't apply. May be there is an idea to workaround the bug.

[2015-01-15 22:38] timelyportfolio commented on #39
Perhaps, and only perhaps a `lapply` and `tagList` will work here, so the structure would look like
[code]

[2015-01-15 22:50] pommedeterresautee commented on #39
It just shows numbers (the counter of lapply)

[2015-01-15 22:50] pommedeterresautee commented on #39
library(DiagrammeR)
library(htmltools)
d = "
  graph LR;
    A-->B;
    A-->C;
    C-->E;
    B-->D;
    C-->D;
    D-->F;
    E-->F;"

tagList(lapply(
 1:3
 , function(d){
    DiagrammeR(d)
 }
))

[2015-01-15 22:59] timelyportfolio commented on #39
`lapply` will make `d` the number/counter.  If you intend to do this, change to

[code]

[2015-01-15 23:16] pommedeterresautee commented on #39
Loooool

Bad news: I am tired
Good news: it works
Question: I have plenty of other things to print in my loop. lapply can t work with it. Do you see a way to use your workaround (tag***) with for loop?

[2015-01-15 23:24] timelyportfolio commented on #39
no, unfortunately not a quick and easy answer that I know of, but possibly `knitr` StackOverflow could help

[2015-01-15 23:28] pommedeterresautee commented on #39
Thanks to your example and your pointer I make that work:
[code]

[2015-01-15 23:31] pommedeterresautee commented on #39
btw two behavior here should be documented:
- use of tagLine to have plenty of diagrams in knitr
- open page in Chrome when regenerating a document

[2015-01-15 23:32] timelyportfolio commented on #39
I think @ramnathv is working on a composing `html` with multiple `htmlwidgets` vignette.  I think that would be very helpful.

[2015-01-16 01:01] rich-iannone commented on #38
I just got a chance to look at the examples with the different syntax. Looks really good! Will have to spend a good part of the documentation explaining what all of this could do. So, time to jump into creating the gh-pages docs.

[2015-01-16 01:01] #38 closed

[2015-01-16 03:27] timelyportfolio commented on #38
will you bump version and re-roxygenize also?  let me know if I can help.

[2015-01-16 03:55] rich-iannone commented on #38
@timelyportfolio Yes! I can do that. I need to figure out how to start the gh-pages branch.

[2015-01-16 04:12] timelyportfolio commented on #38
Do you want to use Jekyll, or just manual build the files?  I always go with the latter, and if you choose this route, it is as simple as on command-line

[code]

and then add/copy a blank .nojekyll file into the top level directory.  Or if you want just make a blank branch, and I can submit a pull to that with some basic starting stuff.

[2015-01-16 04:17] rich-iannone commented on #38
@timelyportfolio I'll start a blank branch and have you submit a pull request. I'd like to see how to start that sort of thing the right way...

[2015-01-16 04:18] timelyportfolio commented on #38
Well, while my workflow works for me, I'm sure most would laugh at it.

[2015-01-16 04:21] timelyportfolio commented on #38
for a complete example you can inspect the RStudio gh-pages or [`htmlwidgets`](https://github.com/ramnathv/htmlwidgets/tree/gh-pages).

[2015-01-16 04:24] timelyportfolio commented on #38
This from https://raw.githubusercontent.com/christophergandrud/networkD3/gh-pages/index.Rmd might also be helpful.

[2015-01-16 04:25] rich-iannone commented on #38
@timelyportfolio Thanks! New stuff to me, so, need the resources...

[2015-01-16 04:32] timelyportfolio commented on #38
Ooooh, I forgot, you like `fullPage.js` right?  I could do something with it.

[2015-01-16 04:35] rich-iannone commented on #38
@timelyportfolio yes!! that would be great. Just ran that command (`git checkout -b gh-pages`) in my local project dir. How to push that empty branch? Should I just `touch .nojekyll` and commit that? Then `git push remote`? Hmm....

[2015-01-16 04:37] timelyportfolio commented on #38
Would delete everything in there.  Create `.nojekyll` and then do `git push origin gh-pages`.

[2015-01-16 04:40] rich-iannone commented on #38
So delete all project files in my local 'DiagrammeR' folder? It's a bit confusing because after searching online I see differing opinions and generating an empty branch. Some involve using `orphan` and deleting inside the branch...

[2015-01-16 04:43] timelyportfolio commented on #38
Yes, I'm sure lots of opinions.  Mine is to start simple and then build from that, but you can certainly choose from a number of routes.  I am as I said by no means even a novice at this.

[2015-01-16 04:44] timelyportfolio commented on #38
I like this from @hafen https://github.com/hafen/buildDocs.

[2015-01-16 04:45] rich-iannone commented on #38
That is nice. Pushed to `gh-pages` but it's unfortunately even with `master`

[2015-01-16 04:46] timelyportfolio commented on #38
Did you delete and commit the delete with `git commit -A`?  Forgot the commit part :)

[2015-01-16 04:49] timelyportfolio commented on #38
And if you have a Github client, you can use that also, so you don't have to command-line.

[2015-01-16 04:51] rich-iannone commented on #38
I'm using a mix of both. How do you set to push to the remote branch of `gh-pages` in RStudio?

[2015-01-16 04:53] timelyportfolio commented on #38
Forgot about that, maybe see https://support.rstudio.com/hc/communities/public/questions/200640128-It-seems-that-if-git-remote-was-specified-at-the-command-line-that-it-s-not-reflected-in-the-RStudio-UI

[2015-01-16 04:58] timelyportfolio commented on #38
wouldn't worry too much about RStudio.  You can use it to commit and then just `git push origin gh-pages` at the command-line.

[2015-01-16 05:06] rich-iannone commented on #38
Yeah, command line is the way to go. Finally pushed it to the `gh-pages` branch. Not totally clean but close enough (some dot files).

[2015-01-16 05:07] rich-iannone commented on #38
I think I need a .gitignore in there

[2015-01-16 05:11] timelyportfolio commented on #38
would just copy over one from master.  night

[2015-01-16 05:12] rich-iannone commented on #38
Yeah, I'll do that now.

[2015-01-16 05:15] rich-iannone commented on #38
Okay did it! And learning more about branch management. Damn, I always need more practice with that.

[2015-01-16 05:37] rich-iannone opened #42 "Should the DiagrammeR function removed from examples?"
As two distinct functions, should that original `DiagrammeR` function be removed from examples?

[2015-01-16 06:52] pommedeterresautee commented on #42
Because the way to describe diagram in the two format are very different it doesn't make sense to me to have the same function for both. It would be different if both could be describe with markdown and just one argument change would choose the Js library.

[2015-01-16 07:07] rich-iannone commented on #42
It's been recently modified to act as a wrapper function to both the `mermaid` and `grViz` functions (modified the question to clear this up). So, I'm thinking that calls to `DiagrammeR` in the README examples should be replaced with `mermaid` calls...

[2015-01-16 15:37] timelyportfolio commented on #38
Now, that you had some fun learning.  How about `git push origin :gh-pages` to delete the remote branch and `git branch -d gh-pages` to remove the local branch?  Then can you start with a completely empty new `gh-pages` branch?

[2015-01-16 16:19] timelyportfolio commented on #38
Then you I can submit a pull or you can just pull my `gh-pages` as a starter http://timelyportfolio.github.io/DiagrammeR/.

[2015-01-16 16:53] rich-iannone commented on #42
Changed all of the examples and they work fine!

[2015-01-16 16:53] #42 closed

[2015-01-16 17:22] rich-iannone commented on #38
Okay deleted the gh-pages branch. How do I checkout your gh-pages branch? Sorry...

[2015-01-16 17:55] timelyportfolio commented on #38
I'll submit a pull.  I added an Example with `Skeleton` since I think  it will be easier to work with.

http://timelyportfolio.github.io/DiagrammeR/index_skeleton.html

[2015-01-16 17:57] timelyportfolio commented on #38
First, if you don't mind, will you follow these steps to create and push an empty `gh-pages` branch? https://help.github.com/articles/creating-project-pages-manually/

[2015-01-16 18:01] rich-iannone commented on #38
I can do that, thanks! I've stepped out for a bit, but, I can get this done in about 2 h from now.

Sent from my iPhone

[2015-01-16 20:18] rich-iannone commented on #38
@timelyportfolio Okay! Finally done. That GitHub help page was very helpful.

[2015-01-17 05:09] #9 closed

[2015-01-17 05:29] rich-iannone commented on #38
@timelyportfolio  the skeleton boilerplate is quite nice. Had a look at their site. I think I'll create a new issue to discuss gh-pages development and leave this thread alone.

[2015-01-17 20:32] rich-iannone commented on #39
It looks like this issue could be closed, so I'm going to close it now. @pommedeterresautee and @timelyportfolio, thanks for working together to solve this issue.

[2015-01-17 20:32] #39 closed

[2015-01-17 20:34] rich-iannone commented on #31
This now has good examples and explanations, at least in the README file.

[2015-01-17 20:36] rich-iannone commented on #37
@timelyportfolio this looks good enough to include. Should it be part of the 0.3 (next) release to give it more weight? If you think so, could you incorporate into a pull request? I'll prepare some explanations in the README for when it gets added.

[2015-01-17 22:48] timelyportfolio commented on #31
Was just looking at the Readme.md again, and I think on the `grViz` examples we can eliminate the `readLines(...)`. Not on machine to test though.

[2015-01-17 22:49] timelyportfolio commented on #37
ok, I'm thinking this should be a helper function rather than in the `mermaid` or `grViz` functions.  Are you thinking the same thing?

[2015-01-17 23:52] rich-iannone commented on #37
@timelyportfolio yes, definitely. I don't think it's very safe from a user standpoint to build it into either of those functions. (At least not at this early stage.)

[2015-01-17 23:54] rich-iannone commented on #31
I'll test that (much later tonight) and remove that statement if it's not necessary.

[2015-01-18 00:38] timelyportfolio commented on #31
just checked and the bare string `""http://www.graphviz.org/Gallery/directed/fsm.gv.txt"` does not work nor should it since we check for connection.  `url("http://www.graphviz.org/Gallery/directed/fsm.gv.txt")` does work though.

[2015-01-18 23:40] rich-iannone commented on #31
@timelyportfolio this is definitely not a priority so definitely don't worry about this one.

[2015-01-19 04:27] timelyportfolio opened #44 "some other examples with graphviz `grViz`"
I discovered these posts tonight, and thought they would fit in nicely with `DiagrammeR`.

http://blog.nguyenvq.com/blog/2014/01/17/skeleton-to-create-fast-automatic-tree-diagrams-using-r-and-graphviz/

Combined with this one http://blog.nguyenvq.com/blog/2012/05/29/better-decision-tree-graphics-for-rpart-via-party-and-partykit/, I think it would be a interesting example.

[2015-01-19 05:10] rich-iannone commented on #44
@timelyportfolio good finds. I'll take a look. We definitely have to include some examples from a range of use cases.

[2015-01-19 05:12] rich-iannone commented on #20
@timelyportfolio thanks again for the help with git and with adding the files for the skeleton boilerplate. I'll have to begin work on putting together the basic sections in that branch. Then, content!

[2015-01-19 22:11] timelyportfolio opened #45 "probably should include DOT spec link"
I think it would be helpful to also reference the DOT spec http://www.graphviz.org/content/dot-language.

[2015-01-19 22:46] pssguy opened #46 "Cup Reconstructions"
Is it possible to construct say the Stanley Cup playoffs with DiagrammeR
something like
   http://www.printyourbrackets.com/nhl-playoff-results/2012-nhl-playoff-bracket-results.jpg

So a basic
    library(DiagrammeR)
    diagram <- "
    graph LR
    A(Semi)-->B[Final]
    B-->C{Winner}"

mermaid(diagram)

would get me the left hand side but if I try adding

 graph RL
    E(Semi)-->F[Final]
    F-

[2015-01-20 04:21] rich-iannone commented on #45
@timelyportfolio now included at the end of the Graphviz section. Thanks!

[2015-01-20 04:21] #45 closed

[2015-01-20 04:52] rich-iannone commented on #46
@pssguy all of this:

[code]
works for me. Just to be sure, paste that into a script and test on your machine. To be extra sure, try the GitHub version of the package (if you're using the CRAN version).

[2015-01-20 04:55] rich-iannone commented on #44
@timelyportfolio as a point of etiquette, do we contact the original authors of code and ask them directly before using their examples (if we indeed do that), or is it fine to include code and just include attribution?

[2015-01-20 04:58] rich-iannone commented on #46
@pssguy Sorry, should have looked at the example you linked to. It's currently not possible to mix orientations in a single graph with `mermaid`. I'll see if I could reconstruct that diagram though. Might be easier with the `grViz` function.

[2015-01-20 05:00] pssguy commented on #46
Cheers. I do need the mix

[2015-01-20 14:36] timelyportfolio commented on #44
Generally for a blog post I try to notify the author through a comment and then attribute in both the diagram and the code to produce.  Looking at these again, I think I like my rpart/mermaid code better than this, so I will close this.

[2015-01-20 14:36] #44 closed

[2015-01-20 15:06] romainfrancois opened #47 "error with node with name ending with "v""
e.g. :

[code]

produces a html file containing this:

[code]

where with a capital `V` it works fine;

[code]

gives me this:

![mermaid](https://cloud.githubusercontent.com/assets/2625526/5819456/42f53818-a0be-11e4-972d-a884ee4a3db7.png)

[2015-01-20 15:29] timelyportfolio commented on #47
Thanks so much.  I am able to reproduce.  The `mermaid.js` is improving but still a little delicate.  I'll check to make sure this is the `mermaid.js` parser and file an issue there.

[2015-01-23 19:18] vbakella opened #50 "grViz with R Shiny"
Hi,

First of all - amazing package. Thank you so much!

I have been trying to create a grViz network diagram using Shiny. It gives me a parser error. Any help would be most appreciated.

Given below is the code and the error

Error
====
Parse error on line 2:
...s_and_circles {    node [shape = box, c
----------------------^
Expecting '{', '}', 'ALPHA', 'NUM', 'COLON', 'PLUS', 'EQUALS', 'MULT', '

[2015-01-23 19:23] rich-iannone commented on #50
@vbakella the shiny implementation hasn't been updated after adding in the Graphviz library. So, it definitely needs and update and some testing.

@timelyportfolio: I know you're busy but could you comment on this issue? I suppose there should be an updated shiny app somewhere down the line...

[2015-01-23 19:25] rich-iannone commented on #50
@vbakella forget to mention: thanks for trying out the package and for the good words! Still early days with this but improvements are forthcoming!

[2015-01-25 16:55] vbakella opened #51 "DiagrammeR - Multiple calls in RShiny fails"
Hi,

I am finding this package very useful and have been testing its using R Shiny v0.11 quite a bit and found a strange issue. This is using Mermaid with R Shiny v0.11.

I have taken the sample R Shiny program (at the end of the README file in https://github.com/rich-iannone/DiagrammeR)  and modified it to make two calls to DiagrammeR.

The output contains the raw text showing the spec for the fi

[2015-01-25 19:28] pommedeterresautee opened #52 "There is no example in the documentation"
The README is beautiful but in R documentation there is no example for graphviz

[2015-01-25 19:30] pommedeterresautee opened #53 "When does update is planed to be pushed in Cran"
Update of Xgboost is about to be pushed on Cran. It is dependent of DiagrammeR for plotting decision trees.

Syntax changed since version 0.1 (use of mermaid function).

Therefore I need to know if you are planning to push an update very soon to Cran to update the syntax in Xgboost.

Kind regards,
Michaël

[2015-01-25 22:22] rich-iannone commented on #52
@pommedeterresautee the R documentation is definitely far behind. I'll update that tonight!

[2015-01-25 22:24] rich-iannone commented on #53
@pommedeterresautee after updating the documentation I'll submit an update to CRAN. I'll let you know here when it's updated in CRAN.

[2015-01-25 22:25] rich-iannone commented on #51
@vbakella thanks for using and testing the package! I'll try to reproduce here on my end and try to fix. If you should find some other clues as to why this is happening, let me know here.

[2015-01-25 22:30] pommedeterresautee commented on #53
Tks!

[2015-01-25 22:32] pommedeterresautee commented on #52
Great, I think you can add any link as a Vignette. Why not add the video as a Vignette? It shows code. Just an idea.

[2015-01-25 22:34] rich-iannone commented on #52
@pommedeterresautee that's a great idea. I think I'll do that!

[2015-01-25 22:36] rich-iannone commented on #53
If all goes well, it might be morning time for you (late at night for me!).

[2015-01-25 22:55] pommedeterresautee opened #54 "Bug on Windows + RStudio + IExplorer + Mermaid"
There is a strange bug in Internet Explorer. When I create a graph with Mermaid on Rstudio, I see the Diagram in the Viewer (as expected).

Then I click the button to open it in a browser. On my work laptop, IE is default without a way to change it (of course).
Then... I got just that:
[code]
I copy paste the link to Chrome and I see again my diagram.

I have IE 11.0.9600...
Windows 8.1 64 bits

S

[2015-01-25 23:03] rich-iannone commented on #54
I'm at somewhat of a disadvantage here because I'm developing on a Mac. However, this brings up an important point about testing for cross-browser compatibility (and at least reporting the results). I will get my VMWare Fusion up and running again soon and test across several browsers and several versions of them. That would then be a start toward possible bug fixes.

[2015-01-25 23:06] pommedeterresautee commented on #54
let me know if you want me to run specific test.

http://stackoverflow.com/questions/24397135/why-does-changing-svg-bounding-box-throw-nomodificationallowederror-in-interne

[2015-01-26 01:07] timelyportfolio commented on #54
I'll check but it looks like an issue with `mermaid`, so don't think we can do much here except file an issue over there and see if they deem it worthwhile.  Thanks for all the tests.

[2015-01-26 04:28] timelyportfolio commented on #51
shiny is difficult with `mermaid`, but I think  I have a working version in an experimental branch [`fix/mermaid-shiny`](https://github.com/timelyportfolio/DiagrammeR/tree/fix/mermaid-shiny).  If possible, @rich-iannone and @vbakella, could you test?

[code]

If ok, I'll submit pull.  Thanks.

[2015-01-26 04:34] timelyportfolio commented on #50
Will definitely work on `grViz` + Shiny, but will probably be later this week or early next week.

[2015-01-26 04:47] rich-iannone commented on #51
Going to test it now. Thanks!

[2015-01-26 04:55] rich-iannone commented on #51
I seem to get 'parse error' each time. I believe I put in a valid mermaid diagram spec each time. It should work just with the graph definition ("graph LR").

![shiny-test](https://cloud.githubusercontent.com/assets/5612024/5895436/38dcaebe-a4d4-11e4-8b66-49ee157080ff.png)

[2015-01-26 04:59] timelyportfolio commented on #51
That is the issue I mentioned with RStudio Viewer.  Can you try in the browser?

[2015-01-26 05:00] rich-iannone commented on #51
I did try it in Safari (in screenshot). I'll also try in Firefox.

[2015-01-26 05:03] timelyportfolio commented on #51
Ok, I see it now.  Maybe it only works with Chrome then. hmmm...

[2015-01-26 05:05] rich-iannone commented on #51
Maybe. Same problem with latest Firefox on Mac.
![diagrammer_shiny_firefox mac _test](https://cloud.githubusercontent.com/assets/5612024/5895474/d2ac877a-a4d5-11e4-9d5c-5ebd79db31ea.png)

[2015-01-26 14:51] timelyportfolio commented on #51
Well, it does need a `;` or line break, so does `graph LR;` give you no error and a blank space?

[2015-01-26 15:03] rich-iannone commented on #51
Pretty sure I exhausted all possibilities. I'll try again shortly with a `;` and a space.

[2015-01-26 15:15] timelyportfolio commented on #51
ok, I think I see the problem.  Let me play a bit.

[2015-01-26 15:22] timelyportfolio commented on #51
Does a non-shiny static `mermaid` work?  If it is what I think it is, then it should not.

[2015-01-26 15:38] rich-iannone commented on #51
I'll check that out once I get into the office. About 20 min.

Sent from my iPhone

[2015-01-26 16:21] rich-iannone commented on #51
Okay. Tested it out! It's fine with the space following the `;`. Sorry about that.

[2015-01-26 16:48] timelyportfolio commented on #51
Will you try again with my newest push?  I think  it will be more robust.  Still does not work in RStudio viewer though :(

[code]

[2015-01-26 17:44] rich-iannone commented on #51
I'm sorry but I just went to the field so I'm away from that test computer. Might have to do this by the end of the day.

Sent from my iPhone

[2015-01-26 21:22] vbakella commented on #51
Hi,

I installed the fix mentioned above. I am able to generate Mermaid and GraphViz plots as per the examples. However, a Shiny program with a single DiagrammeR call  is not working - gives a parser error.

Here is the code I tried:
library(shiny)
library(DiagrammeR)

ui = shinyUI(fluidPage(
  textInput('spec', 'Diagram Spec', value = ""),
  DiagrammeROutput('diagram')
))

server = function(input

[2015-01-26 22:05] timelyportfolio commented on #51
Try separating by ; so

graph LR; a;

[2015-01-26 22:45] rich-iannone commented on #51
Okay, back to the test computer. Tried this:

`graph LR; F-->R`

Got this:

parse error with graph LR; F-->R
s.rules is undefined

[2015-01-27 00:16] timelyportfolio commented on #51
Well unexpected but not surprising.  So the old behavior from this morning did work on all your browsers?  I'll revert back to that if so.

[2015-01-27 00:19] rich-iannone commented on #51
The earlier build was okay. Perhaps revert to that and continue a bit later with testing of the Shiny app. Also, @jjallaire, is the new Preview release of RStudio the one that supports syntax highlighting of Graphviz and mermaid graphs?

[2015-01-27 00:21] jjallaire commented on #51
No the preview doesn't yet support syntax highlighting, for that you need the daily build which you can get from here: http://www.rstudio.org/download/daily/desktop/

[2015-01-27 21:35] pommedeterresautee commented on #53
Just to understand (no urgency at all on Xgboost package side) you are trying to fix Shiny bug before pushing new version to Cran, am I right?

[2015-01-28 00:23] rich-iannone commented on #53
Sorry for the delay on this. Yes, fixing up the Shiny issue and will then make an update to the documentation. Shouldn't be too much longer. :)

[2015-01-28 01:46] timelyportfolio commented on #53
Will have something on the shiny in an hour or so.

[2015-01-28 02:49] rich-iannone commented on #53
Thanks! I've got a better working string interpolation function in the works. Been testing it through some of today.

[2015-01-28 02:51] rich-iannone commented on #53
Try it out:

[code]

[2015-01-28 03:22] rich-iannone commented on #37
Here is a better place and another example of the output:

[code]

![output](https://cloud.githubusercontent.com/assets/5612024/5931954/c856ce22-a659-11e4-8258-c79c53a966cf.png)

[2015-01-28 03:38] timelyportfolio commented on #37
Seems pretty cool, and I think my ignorance of razor is preventing me from
seeing the full potential.  My opinion in terms of avoiding unintended
consequences is to make the function available separate from `grViz` and
document there.  Otherwise, the documentation would have to cover this case
also, and I'm afraid it could lead to confusion.  Do you want me to fold it
in?  If you are comfortable d

[2015-01-28 03:47] rich-iannone commented on #37
If you've got the time, it'd be cool if you could put it together in another PR, where this function is separate. I owe you big on the contribs page, that's for certain!

[2015-01-28 03:48] rich-iannone commented on #37
And I'll definitely test tonight. Gearing up to finally submit to CRAN. Just wanted to get one last feature in.

[2015-01-28 03:49] timelyportfolio commented on #37
Are you ok with `replace_in_spec`?  I'm wondering if we should choose a name more descriptive, such as `template_spec` or `spec_template`.  For some reason, I'm not very creative right now with my names.

[2015-01-28 03:49] timelyportfolio commented on #50
Want me to try to get this in before CRAN submission?

[2015-01-28 03:54] rich-iannone commented on #37
I like something clinical like `replace_in_spec`. Naming things can be tough, I definitely agree.

[2015-01-28 03:55] timelyportfolio commented on #37
I found this as a potential reference for `Razor` syntax http://haacked.com/archive/2011/01/06/razor-syntax-quick-reference.aspx/

[2015-01-28 03:55] rich-iannone commented on #50
Yeah! There's not many opportunities to update, so, for sure!

[2015-01-28 04:01] rich-iannone commented on #37
That's pretty nice! There's quite a bit to razor.

[2015-01-28 05:05] rich-iannone commented on #51
Still a problem for me. Get a DOM exception 12. Tried in both RStudio and in browser.

![dom_exception_12](https://cloud.githubusercontent.com/assets/5612024/5932705/13168aa2-a668-11e4-9063-ac129d6bb442.png)

[2015-01-28 11:52] jjallaire commented on #51
I can't repro this but I'll bet if I get more info on your configuration I
will be able to:

(1) What OS and exact version of RStudio are you running?

(2) Could you share the source code of your example from above?

On Wed, Jan 28, 2015 at 12:05 AM, Richard Iannone <notifications@github.com>
wrote:

[2015-01-28 12:07] timelyportfolio commented on #51
What about without shiny?  Wonder why it worked before.  Hmmmm...

[2015-01-28 12:33] jjallaire commented on #51
I tried it without Shiny (in RStudio and in R Markdown). I could have
constructed a Shiny example but wanted to make sure I was using the exact
code that Rich was before proceeding.

On Wed, Jan 28, 2015 at 7:07 AM, timelyportfolio <notifications@github.com>
wrote:

[2015-01-28 14:29] timelyportfolio commented on #51
Let's wait to hear from @rich-iannone.  Works for me static with RStudio Viewer, Chrome, and Firefox.  Works for me shiny with Chrome and Firefox and not on RStudio (0.99.179). I'll try the nightly build to see if it fixes.

[2015-01-28 14:32] rich-iannone commented on #51
I'll be able to test this shortly...

[2015-01-28 14:44] timelyportfolio commented on #51
Does not work for me in shiny context with newest RStudio viewer.  @jjallaire, if you want to try on yours with shiny, the code above allows a quick test:

[code]

[2015-01-28 14:51] rich-iannone commented on #51
Yesterday's testing that didn't work for me used the following:

Jan 26 build of RStudio for Mac
Latest version of Safari/Mac

[2015-01-28 14:52] timelyportfolio commented on #51
What about static?

[2015-01-28 14:54] rich-iannone commented on #51
Just to be sure I'm testing this correctly, how do you run a static test?

[2015-01-28 14:54] timelyportfolio commented on #51
non-shiny, so `mermaid(...)`

[2015-01-28 14:56] rich-iannone commented on #51
Ah, of course :) (morning time). I'll test again shortly once I get onto my train.

[2015-01-28 15:28] rich-iannone commented on #51
Okay was able to test.
— static: **works**
— Shiny in RStudio: doesn't work
— Shiny in Safari 8.0.2 (10600.3.5) Mac: doesn't work
— Shiny in Firefox 35.0 Mac: **works**

[2015-01-28 15:29] rich-iannone commented on #51
Here is the screen grab of it working in Firefox:

![firefox 35 0_mac](https://cloud.githubusercontent.com/assets/5612024/5940371/4b439a80-a6bf-11e4-8a83-1c93647384fe.png)

[2015-01-28 15:31] timelyportfolio commented on #51
Ok, that is helpful, so we have contained it.  I thought it was caused by the css changes, but actually it is happening somewhere else.  I'll report back.

[2015-01-28 16:02] timelyportfolio commented on #51
It seems the error comes due to a security constraint with the websocket.  Don't have the skillset to fix this, so @rich-iannone up to you how we proceed?

![image](https://cloud.githubusercontent.com/assets/837910/5941180/bcfbc6ba-a6d4-11e4-8e3a-04653b93f6ed.png)

[2015-01-28 16:07] rich-iannone commented on #51
Ah, good investigative work. I think we should simply proceed and state the compatibility amongst browsers in a table and update that as we go on.
@jjallaire, what do you think?

[2015-01-28 16:52] jjallaire commented on #51
Yes, that sounds fine to me!

On Wed, Jan 28, 2015 at 11:07 AM, Richard Iannone <notifications@github.com>
wrote:

[2015-01-28 20:15] #50 closed

[2015-01-29 19:17] rich-iannone commented on #37
Okay, so since it's in I'll close this now.

[2015-01-29 19:17] #37 closed

[2015-01-29 19:17] #20 closed

[2015-01-29 19:18] #31 closed

[2015-01-29 19:18] #51 closed

[2015-01-29 19:19] rich-iannone commented on #53
@pommedeterresautee it's now in the CRAN review process.

[2015-01-29 19:22] rich-iannone commented on #54
This will be an ongoing issue we'll keep getting back to. With the browser compatibility table available now (and with occasionally checks as new versions roll out), I think I can close this.

[2015-01-29 19:22] #54 closed

[2015-01-29 19:23] #47 closed

[2015-01-29 23:14] pommedeterresautee commented on #53
Thanks for the information

[2015-01-30 07:18] rich-iannone commented on #53
Resubmitted to CRAN. Thanks go to @timelyportfolio for the help! Here is the automated text from CRAN:

[code]

[2015-01-30 07:52] pommedeterresautee commented on #53
What a submission!

 lots of suspense, like keep in a good thriller :) we just miss a character of the story murdered (every good thriller have one).

[2015-01-30 07:58] rich-iannone commented on #53
Yes! So much intrigue, so much politeness. Now, for the shocking conclusion:

![image](https://cloud.githubusercontent.com/assets/5612024/5972701/9ed84b60-a812-11e4-9e43-9e6c090e1e73.jpg)

[2015-01-30 07:58] #53 closed

[2015-01-30 10:53] pommedeterresautee commented on #53
:-) Felicitation !!!!!!!!!!!!!!!!!!!!!!!!!

[2015-02-07 11:35] jjallaire opened #64 "docs for rstudio previewing / graphviz engine specification"
We are planning on releasing a new RStudio Preview on Tuesday that will have the new mermaid.js and graphviz authoring features in it. Once we have this I think it would be good to provide:

(a) A link to the preview release page so that users get the right version

(b) An example (perhaps a screenshot)

(c) Perhaps update the graphviz docs on engines to show how to specify the engine directly as

[2015-02-07 11:38] jjallaire commented on #64
BTW the daily build of RStudio has the DiagrammeR support now. You can check it out here: http://www.rstudio.org/download/daily/desktop/

[2015-02-07 23:35] rich-iannone commented on #64
Just recently I revamped the DiagrammeR gh-pages website, it's at:

http://rich-iannone.github.io/DiagrammeR/

I did this because I wanted to make a sort of landing page with examples in it (none in there yet but I'm soliciting use case examples from others in diverse fields). I did make mention of the syntax coloring in the documentation and I included a screenshot. It's here:

http://rich-iannon

[2015-02-07 23:45] rich-iannone commented on #8
I'm doing some research right now on interactivity and animation. I'm very interested in getting smooth transitions between diagram states into the package. This would be useful for periodically displaying the results of streaming data, where revised data create the graph specification through a combination of preprocessing and templating.

Anyway, I found that **svg.js** and **svg.easing.js** mig

[2015-02-08 02:46] timelyportfolio commented on #8
I have been dying to do this.  Would look at snap or d3 rather than svg.js.  Really hope I can find some time this week to do something.  Do you want just basic interactivity or animation?

[2015-02-08 02:54] rich-iannone commented on #8
I think that the animated transition between states would prove to be more immediately useful. I can think of interesting visualization types that would be great for dynamic visualizations. Like cycling between/through graphs, updating the graph with new data. The transition would help a lot. It could show which nodes are common or new between states.

[2015-02-08 03:17] rich-iannone commented on #8
I'm currently all over this page:

https://github.com/mbostock/d3/wiki/Transitions

[2015-02-08 15:43] jjallaire commented on #64
The new website looks spectacular!!!!!

The DiagrammeR works is now in our official preview release (v0.99.233).
This is the link you can use to let people know how to download it:

http://www.rstudio.com/products/rstudio/download/preview/

On Sat, Feb 7, 2015 at 6:35 PM, Richard Iannone <notifications@github.com>
wrote:

[2015-02-09 00:56] rich-iannone commented on #64
Thanks for liking it! Take a look at this page and let me know if it looks good to you:

http://rich-iannone.github.io/DiagrammeR/docs.html

Tonight I will continue working on the `mermaid` documentation. Then, onto the examples gallery on the main page.

By the way, I included you in the list of contributors (in the footer section of each page). Hope that's alright.

[2015-02-09 11:01] jjallaire commented on #64
Looks fantastic all around!

One thing I might suggest is to add some documentation on using graphics generated by DiagrammeR. To me there would be three main use cases:

1. Include in an R Markdown report or presentation

2. Create a standalone graphic or web page

3. Include in a Shiny application

To me it seems like the first is the principle use case but there might be an awful lot of #2 goin

[2015-02-09 14:36] jjallaire opened #65 "use the rstudioapi::versionInfo function"
The rstudio package is no longer bundled with RStudio so the example in the docs might not work for users running the preview version. Rather, the function should be rstudioapi::versionInfo (the rstudioapi package is available from CRAN).

[2015-02-09 21:07] rich-iannone commented on #65
Thanks for the correction. Now changed throughout.

[2015-02-09 21:07] #65 closed

[2015-02-09 21:11] rich-iannone commented on #64
This is all very good and I'll definitely include this. Thanks for the example docs, those look very clear. Agree that this should be upfront as much as possible. I've had a few people asking about export options so this is undoubtedly important material.

[2015-02-09 21:51] rich-iannone opened #66 "Export graph as SVG file"
It would be useful to allow for export of a Graphviz and mermaid diagram to SVG. Exporting to an SVG file would be useful for importing that SVG to another application for further work (e.g., Sketch, Illustrator, and Visio all accept SVG files, I believe).

Writing the SVG markup to an R object would also be quite useful. This would be good for understanding how to generate SVG transitions and oth

[2015-02-09 21:57] rich-iannone commented on #52
I'm going to overhaul the vignettes once the documentation on the website is adequate. The plan:

1. Get the documentation on https://rich-iannone.github.io/DiagrammeR/docs.html in good shape, so that everything is clear and that all options are explained.

2. Remove the documentation from the GitHub README.md, leaving only the features/basics and a link to the DiagrammeR `gh-pages` site.

3. Crea

[2015-02-09 21:57] #52 closed

[2015-02-09 23:02] timelyportfolio commented on #66
Sure, there are a couple examples of exporting SVG. I think the most relevant would be the code to export in `ggvis` in these lines https://github.com/rstudio/ggvis/blob/master/inst/www/ggvis/js/ggvis.js#L448-L472.  Here is another reference that you can run in the console to see how it works.

[code]

Really depends on how you would like to implement it--as a button, icon, etc.

Another option po

[2015-02-10 00:34] rich-iannone commented on #66
I really like the idea of using the `V8` package to extract the `SVG`. I don't know how easy/quick it would be to write up a function but if you'd do that as a PR, it would be great!

[2015-02-10 00:42] abresler commented on #66
PDF export would also be great; I think high charts has a library that does
both
ᐧ

----------------------
*Alex Bresler*
abresler@asbcllc.com

​www.asbcllc.com​

917-455-0239
​ (cell)​

@abresler <http://twitter.com/abresler> | LinkedIn
<http://www.linkedin.com/in/abresler> | My Musings <http://asbcllc.com/blog>

On Mon, Feb 9, 2015 at 7:34 PM, Richard Iannone <notifications@github.com>
wrote:

[2015-02-10 00:48] jeroenooms commented on #66
Here is a proof of concept: https://gist.github.com/jeroenooms/d0d03c7e58443f5a4438

[2015-02-10 02:58] jjallaire commented on #64
Given how important output is I'd suggest including a top-level section called "Output" (in preference to "Usage" which I suggested earlier). In the opening sentence/paragraph it would be helpful to say that DiagrammeR supports many output types including export to graphic, R Markdown, Shiny, etc. (this is just to assure the reader that they will definitely be able to get the output where they nee

[2015-02-11 09:42] rich-iannone commented on #64
Thanks for the direction on this. The documentation is starting to really come along!

I've started working on this and have indeed included a top-level section (I will put in some basic controls near the footer to move between sections). So far, just the viewing and export options from the Viewer are on the live site. I will address R Markdown and Shiny next (and I'll use the recommended order as

[2015-02-11 18:09] jjallaire commented on #64
That looks great. I'd say just make sure that the first paragraph mentions
R Markdown and Shiny just so folks know that's possible. The section on
output from the Viewer is excellent!!! (best I've seen by any htmlwidget)

On Wed, Feb 11, 2015 at 4:42 AM, Richard Iannone <notifications@github.com>
wrote:

[2015-02-12 07:07] rich-iannone commented on #64
Thanks again! I believe the docs are extremely important for package (especially given how customizable the **Graphviz** output can be). So, I'll spend a considerable amount of time iterating on the documentation.

I added a bit more to the section. Called it "I/O" because there is a lot to be said about the input methods (e.g., dedicated file types, **R Markdown**, **R** scripts, etc.). Have anot

[2015-02-12 10:31] jjallaire commented on #64
Looking great!

I would flip the order of RStudio Viewer and R Markdown (but mention R
Markdown in the first pargraph so people know it's possible). My thinking
is that even though R Markdown is the preferred way to work there are tons
of people who still just want something they can copy and paste and I want
everyone to know that's possible.

On Thu, Feb 12, 2015 at 2:07 AM, Richard Iannone <noti

[2015-02-12 10:48] jjallaire commented on #64
FYI I just added DiagrammeR to the htmlwidgets showcase:
http://www.htmlwidgets.org/showcase_diagrammer.html

If you think Graphviz would make a more interesting example let me know. In
that case it would be nice to have a Graphviz example that was on the order
of 6-8 lines of code so that the code and visualization are both above the
fold.

On Thu, Feb 12, 2015 at 5:31 AM, JJ Allaire <jj.allaire@

[2015-02-12 15:37] rich-iannone commented on #64
Alight, I flipped the order and added a more informative leading paragraph.

Thanks for featuring and linking to the page! The `mermaid` graph doesn't render on the device I happened to be using (iPhone), so, I think there are still some issues to sort out with `mermaid`. The Graphviz plots should work. I have a nice example that showcases what could be done:

grViz("
digraph twopi {
node [shape =

[2015-02-12 22:14] jjallaire commented on #64
I tried that out and I agree it's still too long (see screenshot below)

![screen shot 2015-02-12 at 5 13 29 pm](https://cloud.githubusercontent.com/assets/104391/6178190/a3709cae-b2da-11e4-8e03-fc12866a6701.png)

[2015-02-13 00:40] rich-iannone commented on #64
Here is a more condensed, yet still readable, version:

[code]

Tested it and it does render the same diagram.

[2015-02-13 10:31] jjallaire commented on #64
That runs into some width problems (see below). One of the concepts behind these examples is to illustrate how small bits of code can yield compelling results. I think having so much graphviz code for the example works a bit against that. Something very simple like your mermaid examples would I think be best.

![screen shot 2015-02-13 at 5 29 55 am](https://cloud.githubusercontent.com/assets/10439

[2015-02-14 00:03] rich-iannone commented on #64
Sorry about that. Yes, simple is better. Try this:

[code]

That should strike a better balance between showing functionality and keeping it minimal.

[2015-02-14 02:11] jjallaire commented on #64
That's great! Just updated the site with this example.

On Fri, Feb 13, 2015 at 7:03 PM, Richard Iannone <notifications@github.com>
wrote:

[2015-02-16 16:04] happyshows opened #68 "No output when use includeMarkdown in Shiny"
Hi,

I am attempting to use renderUI {includeMarkdown(render(".Rmd"))} to generate a diagram.
The following Rmd is fine when ran standalone. But there's no output running through shiny.

"Index.Rmd"
[code]

"server.R"
library(shiny)
library(shinydashboard)
library(DiagrammeR)

function(input, output, session) {
  output$ui_framework <- renderUI({
    includeMarkdown(rmarkdown::render("index.Rmd",q

[2015-02-16 16:19] happyshows commented on #68
Also, standalone Rmd does not seem to work without the runtime: shiny in header section?

[2015-02-27 21:10] vbakella opened #70 "Saving a Shiny-Graphviz plot to a png or pdf file"
Hi,

I have used this package and find it extremely useful. Thank you for all the great work.

I have built a Shiny based program that makes calls to GraphViz and Mermaid using this package. Any thoughts on how I could save the output to a png or pdf file?

I recall rCharts had a call to generate a standalone html file. Do we have an equivalent call in this package to save the plot as a file?

Tha

[2015-03-01 17:04] martinez-bakker opened #71 "using subscripts in diagrams"
Hello,

Thanks for making this great package. I have a question, not really an issue. Could someone share how to use subscripts within a diagram? I have been trying to use paste0() and expressions to do this, but I have not managed to figure it out.

All the best,
Micaela

[2015-03-01 17:15] rich-iannone commented on #71
I'm going to look into this. I think it could be done with HTML. Just a theory at this point but I'll post an update soon.

[2015-03-01 17:17] rich-iannone commented on #70
I don't believe that the 'rstudioapi' package has any function to do this. But, this is a feature I've been wanting to add to the package (along with other export options as calls). I'll find out more and update soon.

[2015-03-01 21:15] timelyportfolio commented on #71
For now, `mermaid` allows use of `HTML` as a foreign element for the text inside of the rendered `SVG`.  So for subscript, we could do something like the following (see [`<sub>` documentation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub)).  I'll also add a `<sup>` in the example.

[code]

We'll need to monitor https://github.com/knsv/mermaid/issues/58 to see if this `HTML` `forei

[2015-03-01 23:24] martinez-bakker commented on #71
Thanks so much!

[2015-03-01 23:32] martinez-bakker opened #72 "setting seed with grViz"
Hello,

I was having trouble making diagrams reproducible when using grViz and the neato engine. I tried setting start and startType attributes, using the documentation on the Graphviz website, but that didn't seem to work. I also tried setting the seed in R. Is it possible to set the seed in DiagrammeR?

Thanks in advance. The program is awesome!

Cheers,
Micaela

[2015-03-01 23:41] timelyportfolio commented on #72
Glad you like.  Please share any output that you can.  I know @rich-iannone is trying to collect examples from various domains.  Here is how to set a seed.

[code]

[2015-03-02 01:29] martinez-bakker commented on #72
Hello,

Thanks for the help!! Attached is the diagram that I made today for a
manuscript. You are welcome to post it as an example. It is representing an
age structured epidemiological model.

Cheers,
Micaela

On Sun, Mar 1, 2015 at 6:41 PM, timelyportfolio <notifications@github.com>
wrote:

--
---
Micaela Martinez-Bakker

NSF Doctoral Fellow
Department of Ecology and Evolutionary Biology
The Cent

[2015-03-02 02:28] timelyportfolio commented on #72
Glad it worked, and it is good for reference for others I'm sure.  Bummer, but pictures  don't come through on Github with email.  Can you copy/paste in comment, or upload somewhere like Imgur?  Very delighted that you are using it.

[2015-03-02 02:32] rich-iannone commented on #72
Yes! Definitely try again with sending a picture and also code (if you can share it). The work will be placed in the DiagrammeR website as an example to inspire others.

[2015-03-02 02:34] rich-iannone commented on #72
@timelyportfolio this is actually something I've been wondering about: making the neato-type graphs reproducible. I think it'll be important if we implement D3 transitions between changing/sequential graphs. We should talk more about that sort of thing...

[2015-03-02 02:44] rich-iannone commented on #71
For `Graphviz` graphs, try this:

[code]

![text](https://cloud.githubusercontent.com/assets/5612024/6434711/d65b7236-c042-11e4-8e79-9bc3c632df49.png)

Graphviz expects the use of a table when using HTML in a `label`. You have to use these primitive HTML tags, all set in capitals. I'll figure out how to get rid of the default box in a bit. Also problematic: the subscripted text is the same point s

[2015-03-02 03:01] timelyportfolio commented on #71
As another (not sure if better) option, you can use the unicode character (see Stack Overflow [post](http://stackoverflow.com/questions/17908593/how-to-find-the-unicode-of-the-subscript-alphabet/28373132#28373132)).  Here is the example from @rich-iannone using this notation.

[code]

[2015-03-02 03:16] timelyportfolio commented on #71
@rich-iannone you don't have to use the `TD`.

[code]

[2015-03-02 03:25] rich-iannone commented on #71
Ah, that's good about not needing the table def. Now it's a toss-up between which method is better: Unicode character code or old, uppercase HTML tags. I think we can do one better by having an interpreter in place to make it more convenient for the user to enter symbols and subscripts/superscripts (something Latex-like).

[2015-03-02 03:47] timelyportfolio commented on #71
As a last example, here we can manually set a smaller font size to the subscript.  I know it is clunky, but it does get close to an expected result.

[code]

[2015-03-02 08:37] rich-iannone commented on #71
Spent a little time trying to make this a bit easier. Now by using the `@_{...}` or `@^{...}` constructions (for subscripting and superscripting, respectively), you can achieve the same thing:

[code]

![sub_super](https://cloud.githubusercontent.com/assets/5612024/6437451/f581e5e2-c073-11e4-9e69-a2579933c8de.png)

Get the newest build of `DiagrammeR` with `devtools::github_install` to use this fu

[2015-03-02 13:32] martinez-bakker commented on #72
Will post code and figure soon. Thanks!

On Sunday, March 1, 2015, Richard Iannone <notifications@github.com> wrote:

--
---
Micaela Martinez-Bakker

NSF Doctoral Fellow
Department of Ecology and Evolutionary Biology
The Center for the Study of Complex Systems
University of Michigan
2044 Kraus Nat. Sci. Bldg.
830 North University
Ann Arbor, MI 48109, USA

e-mail:micaela.martinezbakker@gmail.com

w

[2015-03-02 13:32] martinez-bakker commented on #71
Sweet! Thanks!!!

On Monday, March 2, 2015, Richard Iannone <notifications@github.com> wrote:

--
---
Micaela Martinez-Bakker

NSF Doctoral Fellow
Department of Ecology and Evolutionary Biology
The Center for the Study of Complex Systems
University of Michigan
2044 Kraus Nat. Sci. Bldg.
830 North University
Ann Arbor, MI 48109, USA

e-mail:micaela.martinezbakker@gmail.com

web:
my website <http://

[2015-03-04 02:31] schuemie opened #73 "Mermaid subgraph title not showing"
Not sure if this is a Mermaid issue or DiagrammeR, but the subgraph titles are not showing:
[code]
My sessionInfo:
[code]

[2015-03-04 05:36] timelyportfolio commented on #73
Subgraphs are new functionality in `mermaid`.  If pull #74 is accepted, `mermaid` should have subgraphs and also the alpha version of gantt charts.

[2015-03-04 05:38] rich-iannone commented on #73
The pull was accepted and the examples work on my machine as well. @timelyportfolio , many thanks for this!

[2015-03-04 05:39] timelyportfolio commented on #73
probably should increment minor version to denote change.

[2015-03-04 05:40] rich-iannone commented on #73
Yes, I think I'll tag this after increasing the minor version.

[2015-03-05 04:27] schuemie commented on #73
Even though the subgraphs are showing, I don't see the titles (just pulled the latest version from master). It is working fine when I manually create a HTML page with Mermaid, so it is not a Mermaid issue:

Mermaid:
![mermaid](https://cloud.githubusercontent.com/assets/6713328/6499241/c094ff1a-c332-11e4-8411-69e4f7b0fad0.png)

DiagrammeR:
![diagrammer](https://cloud.githubusercontent.com/assets/67

[2015-03-05 04:30] timelyportfolio commented on #73
Looks like a css issue.  I'll check into it.

[2015-03-05 04:39] schuemie opened #75 "grViz not showing when outputting to ioslides"
When including a grViz diagram in an ioslides presentation, it doesn't show. It is working fine when output is regular HTML (so not ioslides).

Example.Rmd:
[code]

Output in Chrome:
[code]

Output in RStudio preview:
[code]

SessionInfo():
[code]

[2015-03-05 04:48] timelyportfolio commented on #75
Strange, I can confirm this is also not working on my end, but works fine in normal markdown.  Unfortunately, I am guessing this will be really difficult to debug, but I'll try.

[2015-03-05 07:57] schuemie commented on #75
Thanks! I'm new to revealjs, but it looks really nice. I'll try it out.

[2015-03-05 11:02] wbuchanan opened #76 "Graphing nested list objects for source code workflow"
I was wondering if there were any more of less automatic ways to use your package to create graphs based on the logic flow of R source code (i.e., put the condition of an if statement in a diamond shaped object and use an edge to show the contents within the if block that depend on the condition being satisfied)?  Not sure if this was something you were already working on or not, but thought it wo

[2015-03-05 14:37] timelyportfolio commented on #76
The parsing piece will be more difficult than the drawing piece.  Do you have code already that would handle the parsing piece?  I also think it would be really nice to graph magrittr/pipeR pipes.

[2015-03-07 05:05] rich-iannone commented on #66
I have no idea why it's taken me so long to reply to this. I've said it before but, damn @jeroenooms, that V8 package is so good. I'm going to adapt that gist into a means to export SVG. Thanks again!

[2015-03-07 13:30] happyshows commented on #66
@rich-iannone is it possible to go one step further to implement/reuse something like the toolbar in rbokeh? Which allows user to do zoom in, drag, export, etc. I wish this could be a common feature in htmlwidgets.

http://hafen.github.io/rbokeh/

[2015-03-07 13:30] wbuchanan commented on #76
I don't have any code for the parsing piece unfortunately.  But given how time consuming it is to create workflow diagrams it seems like this could be a great contribution and even something that Hadley would possibly consider integrating into devtools to make the development process more robust and provide output that would be familiar to IT professionals that are still skeptical about integratin

[2015-03-08 21:01] abresler opened #77 "Override Gantt Chart to Allow Custom Date Axis Instead of 0-52 Week Scale"
Figure out a way to change this default behavior

[2015-03-09 06:00] rich-iannone commented on #66
@timelyportfolio not to add more to your plate but is the feature suggestion that @happyshows introduced easy to implement? It would be helpful and I agree that an optional toolbar like this for all `htmlwidgets` would be very nice.

[2015-03-09 15:38] timelyportfolio commented on #77
Try this for now.  It is ugly.  @rich-iannone, I am concerned about polluting the parameters with lots of chart/diagram specific options especially as `mermaid` adds so many different types with different config options.  `gantt` is especially strange in how they have chosen to config.  It essentially sets config in the `mermaid` namespace in `window`.  I'm still trying to think of the best way to

[2015-03-09 15:40] timelyportfolio commented on #73
This is going to be trickier than I thought, since the `text` are not getting rendered for `subgraph`.  I'll try to revert back to the official `mermaid` release to see if anything has changed in the development version to cause this.

[2015-03-09 16:51] timelyportfolio commented on #73
Ok, I figured out the root of the trouble, and for now a fix will require a manual change to the `mermaid` source, but I have filed as an issue for consideration https://github.com/knsv/mermaid/issues/133.  I'll submit a pull shortly that will allow us to use subgraphs.

[2015-03-09 17:05] timelyportfolio commented on #73
@schuemie , could you possibly do fresh `devtools::install_github("rich-iannone/DiagrammeR")` once @rich-iannone has accepted the pull?  I used your example, and it works in RStudio Viewer, Firefox, and Chrome for me, but I just want to make sure other setups work also.  Thanks so much.

[2015-03-09 18:05] martinez-bakker commented on #72
Hi Guys,

Here is the link the the digram example code and output:

https://github.com/martinez-bakker/SIR-schematic-in-diagrammeR

On Sun, Mar 1, 2015 at 9:32 PM, Richard Iannone <notifications@github.com>
wrote:

--
---
Micaela Martinez-Bakker

NSF Doctoral Fellow
Department of Ecology and Evolutionary Biology
The Center for the Study of Complex Systems
University of Michigan
2044 Kraus Nat. Sci

[2015-03-09 18:14] timelyportfolio commented on #66
Unfortunately, using the `rbokeh` won't be easy, but I'm going to work on something from scratch as this week's widget.  Can't promise anything, but hope to have something.

[2015-03-09 18:15] timelyportfolio commented on #72
Very nice @martinez-bakker ; thanks so much for sharing.

[2015-03-09 22:24] timelyportfolio commented on #66
@rich-iannone I was originally thinking that I could write a generic `htmlwidget` that could provide this behavior to lots of different widgets.  This is the manual first draft of a complete toolbar with a little code to export the svg as text to a new window.

[ugly example](http://bl.ocks.org/timelyportfolio/raw/902a01fcc6a5ab1915c0/#diagram-needs-toolbar) to serve as a prototype

I will try to

[2015-03-09 23:13] schuemie commented on #73
It works fine in a lot of settings. But if I include the diagram in an ioslides presentation the font size is wrong. Not sure if you want to have ioslides on your list of supported frameworks (I tried revealjs, but it didn't fit my needs).

![untitled](https://cloud.githubusercontent.com/assets/6713328/6566449/a1ed5542-c6f4-11e4-9bfe-12914a785dca.png)

(There is also a weird thing in ioslides wher

[2015-03-10 01:26] timelyportfolio commented on #73
You can customize the CSS however you would like.  Generally, I think it is good to inherit the non-specific CSS from the site, so I do not think it would be wise to change `DiagrammeR` to handle this case.  Here is a CSS rule that will demonstrate something that might work for you.

<style>
  .cluster text { font-size:60%;}
</style>

The slide frameworks are definitely one of the most difficult t

[2015-03-10 01:32] happyshows commented on #66
@timelyportfolio thanks for the work! If this can be a common plugin in htmlwidget, it could really save a lot of time for other htmlwidget implementers and package users.

[2015-03-15 18:23] #66 closed

[2015-03-16 20:36] happyshows opened #80 "the default width for foreignobject class is too narrow to display the label on link properly for mermaid graph"
Most of the texts I have on my graph are displayed in half for the last character.

[2015-03-16 21:36] timelyportfolio commented on #80
I think I understand, but please provide a reproducible example, so we can work through this.

[2015-03-16 22:20] happyshows commented on #80
sorry my bad. I think it might be some conflict with shinydashboard, which I use regularly.
It works okay when shinydashboard is not included.

library(shiny)
library(shinydashboard)

test <- "graph LR;v1(A)==>|E|v3(B);v2(C)==>|93.4|v4(D);v3(E)==>|E|v2(F);v4(C)==>|99.0|v5(E);v5(E)==>|99.0|v6(X);"

ui <- dashboardPage(
  dashboardHeader(),
  dashboardSidebar(),
  dashboardBody(fluidPage(

[2015-03-17 16:45] happyshows opened #81 "class & classDef not working for mermaid graph?"
d <- "graph LR

A[Hard edge] -->|Link text| B(Round edge)
B --> C{Decision}
C -->|One| D[Result one]
C -->|Two| E[Result two]

classDef test fill:#A2EB86,stroke:#777,stroke-width:4px;
class B test;
"

mermaid(d)

[2015-03-20 09:09] pommedeterresautee commented on #81
I was about to post the same bug. I am under Windows. Color are not displayed anymore.

I notice that this example doesn't work anymore (use class def)
[code]

But this example works (color are used but no class / classDef):
[code]

Kind regards,
Michaël

[2015-03-20 18:38] timelyportfolio commented on #81
@happyshows and @pommedeterresautee I think `mermaid` will now be much easier to work with after pulls
 https://github.com/knsv/mermaid/pull/134
 https://github.com/knsv/mermaid/pull/135
 https://github.com/knsv/mermaid/pull/136

I just need to do some testing.

[2015-03-20 19:02] rich-iannone commented on #81
@pommedeterresautee @jennybc Michaël, I noticed you have some issue displaying colors and this same issue came up recently. Could you run the code in the gist at https://gist.github.com/rich-iannone/3db4fa95f27ba28fabe4 and let me know if colors display or not? Trying to diagnose the cause of this.

[2015-03-20 19:05] timelyportfolio commented on #81
@rich-iannone I think this issue is with `mermaid` not `grViz`

[2015-03-20 19:07] rich-iannone commented on #81
Yeah, true, and I'm probably grasping at straws, but I thought there might be some underlying reason.

[2015-03-20 19:10] timelyportfolio commented on #81
pretty sure with big and rapid changes in `mermaid` that this needs to be eliminated first.  hope to have fix soon.

[2015-03-20 19:12] timelyportfolio commented on #81
actually appears to be css priority preference;  can't imagine that bare mermaid is working either.  Prob will have to file issue over there.

[2015-03-20 19:16] timelyportfolio commented on #81
looks like this was partially addressed in https://github.com/knsv/mermaid/issues/128

[2015-03-20 19:32] timelyportfolio commented on #81
explains why the more specific id works, but the general class name does not

[2015-03-22 14:22] pommedeterresautee commented on #81
Installed last version from Github and it works now on my Ubuntu machine (was not working before updating, like on Windows laptop). Will try later on Windows.

[2015-03-23 18:34] jeroenooms opened #85 "Use importFrom for V8"
I have added a copy of the `JS` function from htmlwidgets to V8. This results in a warning for DiagrammeR:

I think the easiest way to resolve this is to use `importFrom(V8, new_context)` instead of `import(V8)`.

[2015-03-23 19:36] abdulkerimgok commented on #81
colors work with the github version on windows but now the arrow heads disappeared, which works with the cran version (with no color)...

another thing with the CSS styling in mermaid...I am trying the make the font larger with font-size: argument but even when you do make the font larger the problem is that the node size stays the same and the text inside nodes becomes not readable and I couldn't

[2015-03-24 00:51] alforj opened #86 "linkStyle stroke attribute is not being rendered in htmlwidget"
While the linkStyle stroke-width attributes are being rendered correctly in the example below, the stroke (color) attributes are not. All edges remain black when, according to the linkStyle, they should be red, blue, and green respectively. Using DiagrammeR_0.5.

DiagrammeR("graph LR;
A-->B;
C-->D;
E-->|This is the text|F;
linkStyle 0 stroke:red,stroke-width:2px;
linkStyle 1 stroke:green,stroke-wi

[2015-03-24 00:56] alforj commented on #86
Sorry, searched for linkStyle and didn't see any hits but just saw #81 and it looks like this may fall under that issue globally. Closing.

[2015-03-24 00:56] #86 closed

[2015-03-24 23:41] morsem opened #87 "Issue exporting mermaid diagram in RStudio"
I'm using RStudio Version 0.98.1103. Nothing actually saves when I use the RStudio Export function to "Save as Image." This might be a problem on RStudio's end, or I'm just experiencing some odd quirk.

[2015-03-25 02:30] rich-iannone commented on #85
Thanks very much for this! I've incorporated this change and there are no issues now.

[2015-03-25 02:30] #85 closed

[2015-03-29 16:19] stephlocke opened #88 "Allow theming for diagrams"
Allow the ability to provide an extra stylesheet that can be used for theming diagrams, instead of having to specify it all in the graph specification,

Perhaps by an additional argument that can be used to point to a CSS sheet that is loaded after the default mermaid.css,

[2015-03-30 08:30] limoncelli opened #89 "Not installable on OpenSuse via R console"
HI

I have the following packages installed on opensuse 13.2:

but if I run as superuser

I get:

any idea what I am missing.

best regards

robin

[2015-03-31 08:06] pommedeterresautee commented on #89
It is not an issue with DiagrammeR but with V8 R package (a dependancy).

In Ubuntu, I have uninstalled V8-devel and reinstalled it.

Hope it helps,
Michaël

[2015-03-31 08:14] rich-iannone commented on #89
Thanks Michaël for the advice. I agree that it is an issue with V8. Similar issue with a broken build on Mac. A re-install made everything work.

[2015-03-31 18:30] pommedeterresautee commented on #89
I think this dependency is an issue because it make it a lot harder (5mn instead of 5 seconds) to understand why it doesn t want to install. Is it mandatory to use V8 package?

[2015-03-31 18:55] timelyportfolio commented on #89
I agree, and the option was my original intent.  Can we `Suggest` rather than `Import` and still be CRAN-worthy?

[2015-04-02 14:19] stephlocke commented on #70
This'd be super handy - trying to produce a pdf_document including the diagram won't work at the mo

[2015-04-02 14:24] rich-iannone commented on #70
@jjallaire is there any way currently (or planned) to export Viewer graphics via function calls? This is an often-requested feature (probably the most requested).

[2015-04-02 14:33] jjallaire commented on #70
The Viewer graphics export relies on doing a screen capture within
RStudio's QtWebKit wrapper so there isn't really a way to do that via a
function call.

What I'd recommend is experimenting with creating screenshots via
phantom.js (http://phantomjs.org) and then add a function to the package
which will produce a bitmap version *if* if the user has phantom.js
installed and on their PATH.

On Thu,

[2015-04-02 15:37] timelyportfolio commented on #70
I'll try to demo something.  I think a lot of these requests can be satisfied by offering an export (like `ggvis`) on the client side after the page is rendered.  Also, RStudio has the nice feature of allowing (manual, not with a function) export of rendered html/htmlwidgets.

Guess I can try to tackle some of this in next week's widget of the week.

[2015-04-02 15:41] jjallaire commented on #70
We could extend saveWidget to optionally call phantom.js -- that way all
widgets could take advantage of this.

On Thu, Apr 2, 2015 at 11:37 AM, timelyportfolio <notifications@github.com>
wrote:

[2015-04-02 19:03] ramnathv commented on #70
I think the [webshot](https://github.com/wch/webshot) package by @wch can come in handy here, since it already wraps `phantom.js` and provides an R friendly interface. As @jjallaire said, we could wrap some of this functionality in `saveWidget`.

[2015-04-02 20:40] wch commented on #70
Webshot doesn't actually wrap `phantom.js`; it just uses it if it's available. Though it would be nice if phantomjs were easy to install from R. It might also be worth looking into whether the V8 package could be used, though @timelyportfolio, I'm sure you know more about that.

[2015-04-02 21:07] rich-iannone commented on #70
Had a look at `phantom.js` and it looks great for this. @timelyportfolio : would including the library locally and calling via `V8` mean that `V8` again be a required package rather than suggested?

[2015-04-02 21:09] timelyportfolio commented on #70
phantom.js did not work for me in `V8` last time I tried, but I can't remember why.  I'll try again.  @jeroenooms, have you tried phantom.js?

I definitely do **not** think we should include `phantom.js` in `DiagrammeR`.

[2015-04-02 21:12] rich-iannone commented on #70
@timelyportfolio that sounds sensible. Thanks for helping with this!

[2015-04-02 21:24] jjallaire commented on #70
Practically speaking you can't include phantom.js in a CRAN package (it
includes all of WebKit which is a huge dependency that probably can't be
built on CRAN's servers). I think the best we can do is tell users to
install it and then everything will work swimmingly.

On Thu, Apr 2, 2015 at 5:12 PM, Richard Iannone <notifications@github.com>
wrote:

[2015-04-05 03:07] jeroenooms commented on #85
FYI a new version of V8 has been pushed to cran so you will start to see warnings about this: http://cran.r-project.org/web/checks/check_results_DiagrammeR.html

[2015-04-05 12:05] stevepowell99 commented on #87
same issue here. on ubuntu 14.04 64-bit.

[2015-04-05 12:12] stevepowell99 commented on #87
to clarify - markdown export works fine. export doesn't work at all. copy to clipboard sort-of works, but the screenshot missed a bit: (this is the actual content of the clipboard after clicking on "clipboard")
![image](https://cloud.githubusercontent.com/assets/3277499/6996779/180cd50c-dba6-11e4-85b3-c68632a99161.png)

[2015-04-08 03:08] timelyportfolio commented on #73
@schuemie can we close this one?  Would love to see examples of all that you have created.

[2015-04-08 03:09] timelyportfolio commented on #72
@martinez-bakker I'm so happy you did this and even happier that you shared.  Can we close this one?  Thanks again. Any new ones?

[2015-04-08 03:13] timelyportfolio commented on #70
Should reference https://github.com/ramnathv/htmlwidgets/issues/95 since I think this issue is htmliwidget-wide.

@vbakella, this is experimental and early, but I would love feedback on https://github.com/timelyportfolio/exportwidget/blob/master/Readme.md if you have a chance to try it out.

[2015-04-08 12:31] martinez-bakker commented on #72
Actually, last week I was working with a more complicated diagram and set
the seed, but I was still getting different orientations.

On Tuesday, April 7, 2015, timelyportfolio <notifications@github.com> wrote:

--
---
Micaela Martinez-Bakker

NSF Doctoral Fellow
Department of Ecology and Evolutionary Biology
The Center for the Study of Complex Systems
University of Michigan
2044 Kraus Nat. Sci. Bl

[2015-04-11 05:01] GuangchuangYu opened #91 "latex formula embeded"
Is it possible to label the text with latex formula?

[2015-04-12 16:19] rich-iannone commented on #91
@GuangchuangYu it's not currently possible but I think it's a good feature to have! I'll work toward implementing this soon.

[2015-04-12 16:21] rich-iannone commented on #89
Okay, I'm hoping that the non-requirement for V8 during installation means this is no longer an issue. Closing.

[2015-04-12 16:21] #89 closed

[2015-04-12 16:24] rich-iannone commented on #87
This has been happening to me as well for Graphviz diagrams. Saving the image doesn't actually write the file. @jjallaire : is it possible that this is a bug affecting all htmlwidgets or recent builds of RStudio? I think I was able to save images before (however, not totally sure).

[2015-04-12 16:26] rich-iannone commented on #81
@abdulkerimgok there has been a request to reference a CSS stylesheet and I think it's a good feature to have (Graphviz allows this with an XML stylesheet). So, this will be worked on.

[2015-04-12 16:26] #80 closed

[2015-04-13 19:19] jjallaire commented on #87
I just tested this with the RStudio Preview build (v0.99.386, http://www.rstudio.com/products/rstudio/download/preview/) and it worked fine on Windows, Mac, and Linux. Here's the code I'm using:

[code]

What platform are you on and what is the exact behavior you are seeing?

[2015-04-14 05:42] stevepowell99 commented on #87
I just downloaded the latest preview v0.99.386.
Now slightly different problem - clipboard and export now both work, but seem to take a screenshot but the screenshot is not quite the same area as the plot. Here I am pasting the export; the clipboard looks exactly the same. Markdown knit to html works fine.

So my problem is not quite the same as the other two colleagues.

![rplot](https://cloud.gi

[2015-04-14 09:07] stevepowell99 commented on #87
I should add this does not happen with say plot(1:10) or ggplot(1:10)

[2015-04-14 11:38] jjallaire commented on #87
Hmm...this works correctly for me under the same configuration.

The way we implement this is to take a screenshot of the region of the page
that corresponds to the widget image. Clearly there is some sort of offset
problem here, perhaps caused by a custom Gnome/Unity theme? (just a wild
guess). If you provide more info about your configuration we may still be
able to reproduce locally.

On Tue, A

[2015-04-14 19:09] stevepowell99 commented on #87
that is probably the reason - I have some kind of messed-up desktop which is mate 1.8.2 but I think it is contaminated with xfce or something like that. I will check next time I log into gnome-shell. thanks.

[2015-04-14 19:11] jjallaire commented on #87
The window system measurements are probably off so when Qt goes to address
a part of the Window it gets the wrong offset for the size(s) of the Window
c hrome. If it's truly some sort of mal-configuration I don't know if
there's a way for us to fix this.

On Tue, Apr 14, 2015 at 3:09 PM, Steve Powell <notifications@github.com>
wrote:

[2015-04-21 01:16] jeroenooms commented on #89
@limoncelli I would be interested to help you get V8 to work on OpenSUSE. The problem is that the version of `v8-devel` in SuSe is incompatible. But you should be able to get it to work by grabbing V8 version 3.16 from [rubygem](https://rubygems.org/gems/libv8/versions/3.16.14.7) or [rpmfind](http://www.rpmfind.net/linux/rpm2html/search.php?query=v8&system=opensuse). Please open an issue in the v8

[2015-04-26 20:21] MarkEdmondson1234 opened #92 "Unicode test breaking graphs"
Hello, I've narrowed down a row in my edge graph that prevents the graphviz_graph() function working as it has unicode characters in it.

I'm trying to regex my way out to clean up the data, but it would be nice for a graceful fail or treatment of the Unicode in the package.  Here is some example problem data:

    Browse[3]> edges[170:175,]
    edge_from

[2015-04-26 21:25] MarkEdmondson1234 commented on #92
For now to fix it I did these two lines:

      edges$edge_from <- iconv(edges$edge_from, "UTF-8", "ASCII",sub="")
      edges$edge_to <-   iconv(edges$edge_to, "UTF-8", "ASCII",sub="")

[2015-04-26 21:30] rich-iannone commented on #92
@MarkEdmondson1234 Ah, that's a good fix. It's interesting you brought this up because I have a bit of work done on another package that replaces Unicode characters with ASCII (https://github.com/rich-iannone/UnidecodeR). I probably should implement a check and quick fix for this. The `iconv` method is a good way of doing it though.

Also, if you have any ideas/requests for development in general,

[2015-04-26 21:39] MarkEdmondson1234 commented on #92
What a coincidence :) UnidecodeR looks much neater, but not yet supporting the Danish of my example ;) æ, ø å etc, but I'll defo use it when it does, as just deleting them makes some names unreadable.

My main problem is I can't control what people call their GA profiles/filters for when I import it for graphing.

[2015-04-26 21:43] rich-iannone commented on #92
Mark,

If you send me replacements (æ = ae, etc.), for non-ASCII characters, I'll quickly include it in the UnidecodeR package! It's just harder to find the proper replacements for transliterations not part of an official standard.

Thanks!

Sent from my iPhone

[2015-04-26 21:45] MarkEdmondson1234 commented on #92
Ok will do - will consult with the Danish wife :)

[2015-04-26 23:26] rich-iannone commented on #92
@MarkEdmondson1234 Great news: Danish support is now in the UnidecodeR package. Please test it out. Quick question: what are the Danish quotation characters?

[2015-04-27 20:56] MarkEdmondson1234 commented on #92
Thats great, thanks!  I will use it and see how it goes.  The Danish quotes are sometimes the UK ones (" " ) but also sometimes » and « appear.  Check out this leading Danish news site: http://www.b.dk/nationalt/27.-april-advarsel-til-letsindige-vejledning-til-uvidende

[2015-04-28 16:30] sdc3 opened #93 "Adjust diagramme height and width in Shiny?"
Hello,

The DiagrammeR package is great!
I try to do a diagramme using Shiny and modify the height and width using input sliders.
The app works, but moving the sliders does not affect the size of the output.
The idea would be to increase the size when the number of nodes is large.

Below is a code example.
What I am doing wrong? Do grVizOutput parameters overpass graphviz_render parameters?

Thank

[2015-04-28 18:07] rich-iannone commented on #93
Thanks for using the package! I'm going to test out the Shiny code you wrote and see what's going wrong. Hope to get to that pretty soon....

[2015-04-28 18:15] happyshows commented on #93
@sdc3 can you try use a renderUI to wrap the vizoutput and adjust height and width instead?
 grVizOutput('diagram', height = "1000px", width = "1000px")

[2015-04-28 19:34] sdc3 commented on #93
The renderUI/uiOutput seems to be a very good idea @happyshows. I was not familiar with this function but after watching this video https://www.youtube.com/watch?v=JUop-YfRAuw, I managed to write the code below.
Not sure it is the best way to do it, but it works :-)
Thanks.

[code]

[2015-04-28 19:37] rich-iannone commented on #93
@sdc3  @happyshows that is excellent stuff! Thanks for working through this problem and sharing the working code here. @sdc3 : do you mind if I include the code as an example in the README?

[2015-04-28 19:44] sdc3 commented on #93
No problem.

[2015-05-01 04:41] #93 closed

[2015-05-01 04:42] #92 closed

[2015-05-01 04:42] #87 closed

[2015-05-01 22:01] Analect opened #94 "Add support for Neo4j"
Just came across your tool in: http://www.r-bloggers.com/rstudio-v0-99-preview-graphviz-and-diagrammer/

I was wondering if it would be feasible to add support for visualizing the results of queries to a Neo4j database.
There is a transaction end-point in their API that returns a query in graph form, by specifying resultDataContents as "graph".  See here:
and here:  http://neo4j.com/docs/stable/re

[2015-05-01 22:17] rich-iannone commented on #94
I'd love to get this type of feature in DiagrammeR. I'll read up on the material in those links and get back to you soon about the next step in building that in.

[2015-05-01 22:18] abresler commented on #94
Yes!!

----------------------
*Alex Bresler*
abresler@asbcllc.com

​www.asbcllc.com​

917-455-0239
​ (cell)​

@abresler <http://twitter.com/abresler> | LinkedIn
<http://www.linkedin.com/in/abresler> | My Musings <http://asbcllc.com/blog>

On Fri, May 1, 2015 at 6:17 PM, Richard Iannone <notifications@github.com>
wrote:

[2015-05-02 16:59] happyshows opened #95 "Add parser / functions for mermaid diagram?"
Hi,

Since 0.6 already implemented parsing function for Graphviz diagram, is there any similar plan for mermaid diagram ?

[2015-05-02 17:01] happyshows opened #96 "htmlwidgets 0.3.3 compatiblity?"
Hi,

I'm wondering whether the latest version is compatible with 0.3.3? The other widgets I'm currently using doesn't, yet.

[2015-05-02 20:56] richarddmorey opened #97 "Any way of rendering in Sweave?"
DiagrammeR looks really great, and I plan on using it. Is there any way of getting DiagrammeR plots to be rendered by Sweave/knitr to PDF? (The "best" way I've found is using exportSVG to get an SVG file, and grConvert to get a ps file, then manually converting the ps file to pdf; but this is far from the simplicity of just running grVis in an Sweave R code chunk)

[2015-05-03 09:23] rich-iannone commented on #97
Unfortunately there is no headless method for exporting to other formats at the moment. Me and several others explored this topic, recognizing that the lack of graphical export options through functions is a bit of a limitation. However, we found only complex solutions (e.g., using phantom.js to perform image conversion, which requires building all of WebKit on the client side). I really do want t

[2015-05-03 12:08] gd047 opened #98 "mermaid charts configuration"
Is it possible to configure mermaid charts, i.e. using mermaid.ganttConfig, as shown here? http://knsv.github.io/mermaid/gantt.html#configuration

I would like to be able to change the default x axis labels ("w.01", "w.02") in gantt charts, since there is no information in the default gantt chart about the dates the displayed activites occur.

P.S. it also seems to me rather difficult to automatic

[2015-05-03 17:29] timelyportfolio commented on #98
See if #77 helps.  I will revisit to see if there is a better way or updates on the mermaid side.

[2015-05-03 17:35] rich-iannone commented on #98
Thanks @timelyportfolio, that does help. I do think a method to exploit data residing in a data frame would be the way to go. I'll devote at a bit of time toward getting this implemented! Then some attributes (like the axis type) passed in before creating the Gantt chart would be ideal.

[2015-05-04 11:11] pe3 opened #99 "ER diagrams?"
Is it possible to create ER-diagrams with DiagrammeR. If not would it make sense to integrate [JointJS](http://www.jointjs.com/demos/erd).

[2015-05-04 15:14] hack-r opened #100 "Error: could not find function "%>>%""
In R 3.2.0 on Windows, running

"An Example with Data from the nycflights13 Package"

from

https://github.com/rich-iannone/DiagrammeR

leads to

+                graph_attrs = graph_attrs, node_attrs = node_attrs,
+                edge_attrs = edge_attrs, directed = TRUE) %>>%
+   graphviz_render(width = 1200, height = 800)

Error: could not find function "%>>%"

http://pastebin.com/Czd06Ais

[2015-05-04 15:37] hack-r commented on #100
Someone on StackOverflow identified the problem/solution -- this function is from a package called `pipeR` which needs to be loaded in the example code

[2015-05-04 15:59] rich-iannone commented on #99
Seems like a natural fit and there are examples of DOT code for this purpose. I'll take a look at JointJS and see about getting its output transformed into DOT. If you make any progress on this, do let me know.

[2015-05-04 16:45] rich-iannone commented on #96
I loaded in v0.3.3 and ran most of the examples. Everything rendered as expected on a Windows 7 test machine. Hope that helps. Let me know if this is not your experience.

[2015-05-04 19:12] happyshows commented on #96
@rich-iannone please run the following code in 0.3.3. Browser showed blank page, while in 0.3.2 it's fine....

diagram <- "
graph LR
  A-->B
  A-->C
  C-->E
  B-->D
  C-->D
  D-->F
  E-->F
"

server <- function(input, output) {
  output$test <- renderDiagrammeR({
    isolate({
      return(DiagrammeR(diagram))
    })
  })
}

ui <- fluidPage(
  DiagrammeROutput('test',width = "100%", height = "760p

[2015-05-04 19:41] rich-iannone commented on #96
This seemed to work in the RStudio external browser window in Windows 7. So, this may be a browser compatibility issue. Could you provide the system/browser info here?

[2015-05-04 19:48] timelyportfolio commented on #99
Not a license expert, so posting for those that understand.  See [JointJS license](http://www.jointjs.com/license).

[2015-05-04 20:31] happyshows commented on #96
I'm using Chrome on win 7. It didn't work in my Rstudio viewer either.
I'm using
R version 3.2.0 Patched (2015-05-02 r68310)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1
htmlwidgets_0.3.3
DiagrammeR_0.6

The standalone version works fine in View and Chrome.
DiagrammeR(diagram)

[2015-05-05 00:37] alforj commented on #81
@rich-iannone just checking in to see if the first part of @abdulkerimgok comment above on Mar 23 regarding the arrow heads missing in windows is being wrapped up under this issue or not. Seeing the same behavior, arrow heads appear in Mavericks but not in Windows 7 (using both DiagrammeR v0.6 and github dev version).

Thanks, love the package and looking forward to implementing some of your lates

[2015-05-06 15:36] richarddmorey commented on #97
Well, if there were an easy way of converting ps to pdf, then one could add it to this:

    viz2ps = function(vis.file, ps.file, ...){
      (svg <- DiagrammeR::exportSVG(DiagrammeR::grViz(vis.file, ...)))
      svg.fn = tempfile()
      cat(svg, file=svg.fn)
      grConvert::convertPicture(svg.fn, outfile = ps.file, inputFormat = "svg", outputFormat = "ps")
    }

but `grConvert` is not on CRAN

[2015-05-07 01:49] alforj commented on #81
Quick update on the "missing arrow heads" in Windows. The arrow heads are not showing in the RStudio viewer (v0.98.1103) but if I save the htmlwidget to an HTML file, the arrows appear, at least in Chrome and Firefox.

[2015-05-09 19:20] taylorruss opened #102 "Using text connections in R-C interface for reading agwrite() output"
Fantastic package.

Would you be able to suggest a way for passing graphviz output created in an external package?
package -> write_to_file
Diagrammer(file)

package -> write_to_textConnection
Diagrammer(connection)

The second option makes more sense.  I am just not clear about how textConnection() work involving R-C interface.

thanks,
TR

[2015-05-10 19:52] taylorruss opened #103 "Rgraphviz generated graphs rendered OK with grViz() but error in DiagrammeR()"
[code]

`DiagrammeR(diagram=G)` gives error message:

[code]
Thanks,
TR

[2015-05-11 19:05] timelyportfolio commented on #103
`DiagrammeR` probably needs to be deprecated.  To make it work as suggested, you'll need to provide a `type` since `type=mermaid` is the default, so using your example, it would look like this.

[code]

[2015-05-11 19:07] timelyportfolio commented on #102
Happy to help, but I'm not sure I understand.  Could you clarify with some more details?  Thanks.  I noticed in #103  that you are pairing with `Rgraphviz`.  Is this related?

[2015-05-11 19:10] rich-iannone commented on #100
I'm going to try to make some of the examples a bit more standalone and have a library statement for pipeR. That might cause less confusion going forward.

[2015-05-11 19:10] #100 closed

[2015-05-11 19:14] rich-iannone commented on #94
@Analect would you be able to send over two examples of Neo4j output as well as screenshots of the graph (for fairly simple graph)? The output didn't look too difficult to parse but I just want to make sure there's obvious errors when starting off.

[2015-05-11 19:23] rich-iannone commented on #95
In short, yes. Trying to generalize the function so that creating the graph is separate from creating the rendering code. Right now, Graphviz DOT code is created from the node and edge definitions and placed into the graph object (the 'render_graph' function just pulls this pre-generated DOT code and displays with the 'grViz' function). The next step is to create mermaid graph code, place it in th

[2015-05-11 19:38] abresler commented on #94
Lots of examples here
http://nicolewhite.github.io/

Issue is you either need a local or remote installation of NEO4J to
interact with it, that said it'd powerful and amazing and would tie GREAT
with all the work put into diagrammer

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On May 11, 2015 3:14 PM, "Richard Iannone" <notifications@github.com>

[2015-05-12 02:39] taylorruss commented on #103
Ah. That is a relief.  Thanks.

[2015-05-12 02:43] taylorruss commented on #102
Impressed with inference making:) The two are indeed related, and yes, I was trying to eliminate a tempfile that is actually written to the hard drive. It seems something like a pipe() that stores the text in a buffer should be able to eliminate an actual file.  But, I am not familiar with R-connections or C pipes!  Thanks again.
BTW, the new website is fabulous.

[2015-05-12 07:44] Analect commented on #94
@rich-iannone
Yes, Nicole White, a data scientist at Neo4j has many good examples as an intro to Neo4j.  This video walks you through her workflow with RNeo4j. https://www.youtube.com/watch?v=bdQ90y9Pefo
Getting a Neo4j instance up and running, listening on port 7474 is easy too.  Not sure if you work with Docker, but that's perhaps the quickest route to getting the latest 2.2.1 version up and run

[2015-05-12 18:27] cboettig commented on #70
Now that DiagrammeR supports `render_graph(output="SVG")` seems like that might be a promising way to work around this?

For instance, I'm just writing out that `svg` file and then using a system call to have inkscape convert the svg to a png of the desired resolution.  Perhaps if there is a more portable library than inkscape to convert from svg it would be possible for DiagrammeR objects to act

[2015-05-12 18:32] rich-iannone commented on #70
@cboettig thanks for bringing this to the fore, because I really would like to get this functionality in. Inkscape is a good option, as is ImageMagick, but that assumes that either of these is installed.

I suppose this option is better than nothing. I haven't really found a lightweight SVG to PNG or PDF conversion tool as a JS library. Somebody posted a pretty interesting workaround but it involv

[2015-05-12 18:40] cboettig commented on #70
Haven't tried wrapping python libraries in an R package, but perhaps http://cairosvg.org/ is a possible option that might be more lightweight than inkscape or imagemagick?

[2015-05-12 18:52] stephlocke commented on #70
My googling finds an npm module which could be helpful? https://www.npmjs.com/package/svg-to-png

[2015-05-12 18:58] rich-iannone commented on #70
Thanks for the links @cboettig and @stephlocke. The npm package requires phantom.js, which we tried to avoid because of its own build dependencies. The Python library looks promising.

Also, from this Stack Overflow question (http://stackoverflow.com/questions/3975499/convert-svg-to-image-jpeg-png-etc-in-the-browser) there might be two viable solutions. One involves a simple JS library called Pabl

[2015-05-14 21:03] #103 closed

[2015-05-15 17:54] cboettig opened #104 "Bump version?"
Can you bump the package version on Github so that it isn't the same as the one on CRAN?  (e.g. Rstudio uses the convention of adding a `.999` or such to the end of the Github versions so that CRAN versions can still follow the same semantic versioning).

Context: I've created a [drat](https://github.com/eddelbuettel/drat) repo that contains DiagrammeR to facilitate installing (in particular, I hi

[2015-05-15 18:08] cboettig opened #105 "unexpected error on simple example?"
No idea what's going wrong here, but this simple example throws an error when exporting to svg.  otherwise it runs fine:

[code]

error:

[code]

(could have sworn this was working a few days ago)

[2015-05-15 18:22] rich-iannone commented on #105
@cboettig try this:
[code]
So, the attributes should be given as a vector of character values and not as a named vector. I realize that this is poor implementation as it's not natural in R, so, I'm going to address this so both ways (named vectors, strings) are accepted.

[2015-05-15 18:22] #105 closed

[2015-05-15 18:24] cboettig commented on #105
ah, thanks! my mistake.  yup, named vectors would be nice since it makes it easier to support defining attributes as variables too.

[2015-05-15 18:25] rich-iannone commented on #104
@cboettig I just increased the version number to 0.7 and included some release notes. I marked the release as a development one, please let me know if that's okay. And, thank for associating this package with awesomeness!

[2015-05-15 18:27] rich-iannone commented on #105
Ah yes! Okay, I'll make this happen soon. Also, if you find any ways to make the package better/nicer, feel free to send a PR. (Always, looking for ideas too.)

[2015-05-15 18:58] cboettig commented on #104
Cool, thanks! that works for me.  (Once 0.7 is on CRAN though it would be nice if you bump the Github version again so R can tell they aren't the same).

[2015-05-15 18:58] #104 closed

[2015-05-15 19:00] rich-iannone commented on #104
@cboettig Great! That will be the new habit for me (increasing the dev version after a CRAN submission).

[2015-05-16 04:05] rich-iannone commented on #94
@Analect Sorry for the delay, but, thanks for the great info. I'm going to check out the video and run some of those examples. Really great stuff!

[2015-05-18 08:29] rich-iannone commented on #76
@wbuchanan This has been worked on, and, now, it's possible! Sorry for not chiming in earlier but you had the right idea. It just took a while to implement.

[2015-05-18 08:29] #76 closed

[2015-05-18 08:30] #71 closed

[2015-05-18 08:33] rich-iannone commented on #23
@timelyportfolio not sure if this can be sufficiently handled by documentation on the DiagrammeR website. The vignette in the package is looking a little stale right now. Would it be wise to discontinue the vignettes in favor of docs on the website?

[2015-05-18 08:33] #64 closed

[2015-05-18 08:36] #75 closed

[2015-05-18 22:57] benmarwick opened #106 "how to get a line break for text inside the diagram objects"
It's wonderful to be able to make these kind of charts within R, thanks for your work on this package.

I'd like to put some line breaks in the text so that the shapes are not so big, for example, the circles in the example below. If I use `\n` it breaks.

[code]

![rplot](https://cloud.githubusercontent.com/assets/1262179/7692162/c4958c1a-fd75-11e4-8c5b-8855f531c640.png)

For example
[code]

give

[2015-05-19 02:24] timelyportfolio commented on #106
Try `<br>` instead of `\n`.  I believe that still  works.

[2015-05-19 02:31] benmarwick commented on #106
Thanks, that does the trick.

[2015-05-19 02:31] #106 closed

[2015-05-19 03:51] benmarwick opened #107 "How to put parentheses within mermaid diagram objects"
How can I get the text of an object to read something like `R (functions)`? I've tried [unicode and HTML](http://en.wikipedia.org/wiki/Bracket#Encoding_in_digital_media) but can't seem to get it.

[code]

![rplot](https://cloud.githubusercontent.com/assets/1262179/7695065/dd69f5b8-fd9e-11e4-872d-f7ab0c056b57.png)

If I put a `(` in any of the text in the square brackets I get `undefined is not an

[2015-05-20 12:54] zhenglei-gao opened #108 "add a figure in a node?"
Is it possible to replace one of the node labels by a figure? Like a boxplot generated from a data frame?

[2015-05-20 13:49] rich-iannone commented on #108
It's not possible yet, but, it's something I've thought about implementing. I'll make it a priority and build that in soon.

[2015-05-22 07:25] rich-iannone opened #109 "Add support for GraphML and other graph formats"
Create a function to import graph specifications from other graph language formats into a graph object.

[2015-05-30 03:30] happyshows opened #110 "[enhancement] add binding to drill down"
Hi,

Firstly, thanks for the continued great work.

I have been thinking of this use case that could have many applications - on Shiny, enable nodes to explode and maybe refresh the current diagram:
have a igraph object as the source data, plot a subgraph from the object to render a diagram you want to show initially.
when user double click a node in the diagram, shiny pick up the node name and se

[2015-06-01 20:48] friendly commented on #97
Would something here help:
http://d3export.housegordon.org/
[FileSaver.js] (http://eligrey.com/demos/FileSaver.js/)

I'm interested in this question because John Fox recently added DiagrammeR as a renderer for path diagrams in the R-Forge version of the [sem package](https://r-forge.r-project.org/projects/sem/), but as yet there is no way implemented to even save the svg file.

[2015-06-01 21:47] timelyportfolio commented on #97
@friendly do you want to save from the browser once the DiagrammeR has been rendered, or would you just like the SVG in `R`?  If the second, then there is [`exportSVG`](https://github.com/rich-iannone/DiagrammeR/blob/master/R/graphviz_export.R) which returns the rendered SVG.

I use this quite a bit even when including directly in HTML, since `viz.js` is such a big/heavy (>2mb) dependency.

I'm ha

[2015-06-01 22:13] timelyportfolio commented on #97
@friendly, using the example from `?pathDiagram`, I put this together quickly as an example.

[code]

[2015-06-02 09:36] dmpe commented on #68
Have same problem, any ideas @rich-iannone ?

[2015-06-05 00:30] bamcdougall opened #111 "LaTex Support"
Is LaTex supported within DiagrammeR?

[2015-06-05 00:33] rich-iannone commented on #111
Not at the moment but it is one of the features that is planned.

[2015-06-05 00:33] #111 closed

[2015-06-20 17:08] happyshows commented on #8
@rich-iannone
Hi Rich, is there any progress on this improvement?
I can think of a couple use cases for interaction:
something like technology tree in games (to highlight project dependency)
integration with shiny to click a node and jump to a specific application  | highlight a chart / markdown on the same page

[2015-06-20 17:54] rich-iannone commented on #110
I'm thinking of using something like `vis.js` for this because I believe there is interactivity built in for this sort of this. So, I'm just at the beginning of exploring how to do this.

[2015-06-20 19:30] happyshows commented on #110
Thanks, I found something interesting already being built in visNetwork package, but interfacing or integration between each package would be super nice...

https://github.com/DataKnowledge/visNetwork

[2015-06-20 19:51] abresler commented on #110
Sigma.js maybe another always helps to have palantir backing it considering
their love and dependency on node graphs

----------------------
Alex Bresler
abresler@asbcllc.com
​www.asbcllc.com​
917-455-0239​ (cell)​
On Jun 20, 2015 3:31 PM, "Shows Le" <notifications@github.com> wrote:

[2015-07-13 18:47] edanisabird opened #114 "unable to render graph in shiny"
I have really been loving DiagrammeR so far. I was able to get a fully functioning diagram built in rstudio. It is of the format:

Graph Code:
nodes <- create_nodes()
edges <- create_edges()
graph <- create_graph(nodes_df = nodes, edges_df = edges)
render_graph(graph)

However when I try to run it in my shiny app using something like

UI:
DiagrammeROutput("mindmap", width = "100%", height = "400px

[2015-07-14 08:08] rich-iannone commented on #114
Sorry for the delay on this but I do have two examples now. Both of these do generate the graphs in Shiny (v. 0.12.1).

Using standard Graphviz DOT code to create a graph in Shiny:

[code]

Using graph functions to first generate a graph object; passing the DOT code (inside the graph object) to Shiny.

[code]

[2015-07-14 08:08] #114 closed

[2015-07-14 22:22] edanisabird commented on #114
Thank you so much for the help! I was able to get my code working and now I am starting to style the app to have interactive mind maps in shiny.

[2015-07-14 22:27] rich-iannone commented on #114
Not a problem at all! I'll think I'll post these examples because, you're right, there's no available documentation on this.

[2015-07-15 15:47] edanisabird commented on #114
I have no idea how difficult it is to put them in the CRAN documentation. But that would be the most helpful for users in the future! Thanks again.

[2015-07-20 14:05] happyshows commented on #96
it's working already with 0.4.0 hence I'm closing the issue.

[2015-07-20 14:05] #96 closed

[2015-07-20 14:16] rich-iannone commented on #96
Thanks for verifying!

[2015-07-21 05:15] efcaguab opened #115 "Support for custom CSS"
I know that it's possible to modify the style of mermaid graphs by specifying CSS styles and classes in the `.mmd` file itself (as shown in the [mermaid documentation](http://knsv.github.io/mermaid/flowchart.html#styling-and-classes)). However it's not easy (possible at all?) to modify the style of a mermaid gantt chart.

It would be great if one could write its own CSS file and pass it as an argu

[2015-07-27 07:40] vnijs opened #116 "suggestions to plot decision tree?"
I added an interface in Radiant to [data.tree](https://github.com/gluc/data.tree) for decision trees. See link below (Decide > Decision tree) for an example. Click the `Calculate` button to see the output.

http://vnijs.rady.ucsd.edu:3838/quant/?SSUID=c4e9c5f289

I played around with the plotting code @gluc provided in his presentation at UseR (see link to image below). The labels are the main iss

[2015-07-27 20:14] vnijs commented on #116
Made some progress with mermaid in Diagrammer images below. Code also below.

http://vnijs.github.io/radiant/quant/dtree/mermaid-dtree-init.html
http://vnijs.github.io/radiant/quant/dtree/mermaid-dtree-final.html

Three questions:
1. Is it possible to remove the gray back-ground for the labels?
2. How to include ( ) in the labels. I tried putting them inside quotes as suggested in discussions in m

[2015-07-29 07:26] rich-iannone commented on #116
@vnijs sorry for the delay in getting to this, but, really great work! I think the parenthesis issue and the setting of the background color might be solved in newer versions of mermaid. So far, the specialized data frames are only for Graphviz. I do plan to implement mermaid as a render option for that.

I'd encourage you to try using the graph constructing functions with Graphviz as the render o

[2015-07-29 08:49] vnijs commented on #116
@rich-iannone Thanks for the suggestions. I actually just finished an initial implementation using DiagrammeR and mermaid :) See link below (press the `Calculate` button in Decide > Decision trees ? Plot). One thing I really like about mermaid is the kinked arrows that work quite well with long(ish) labels.

http://vnijs.rady.ucsd.edu:3838/quant/?SSUID=a3a383df34

The main thing I haven't been abl

[2015-07-29 09:37] vnijs commented on #116
An issue (possibly) related to saving plots is getting the plot in a knitry document. When I tried knitting the package vignette with the command below there are not DiagrammeR plots show. Am I missing something?

knit2html("~/Desktop/diagrammer.Rmd")

[2015-07-29 20:14] vnijs commented on #116
FYI I found a work-around to save a mermaid graph to pdf from Shiny using the browsers print dialog. You need and actionButton or actionLink (e.g., below).

[code]

[code]

[2015-08-06 13:55] acontent opened #117 "how to position nodes ?"
Hi,

I have this diagram, but I need the n node to appear below k (for conventional reasons). How can I do that ?  I tried "rank", "y", ... to no avail

Thanks in advance

digraph figure1 {
graph [rankdir=TB]
	  node [rank=same; shape = circle, fixedsize=true, fontname=helvetica, width=0.5]
	  theta
	  node [rank=same; shape = box, fontname = Times, style=filled, color='grey80']
	  n;
	  node [ran

[2015-08-07 10:00] #117 closed

[2015-08-10 13:53] tkivisik opened #118 "How to add several words to one node?"
I was trying to find a way to add several words to a node, but couldn't do it. Is it possible?

Thank you for developing the package.
Taavi

[2015-08-11 11:21] wbuchanan opened #119 "Graph not rendering in ioslides_presentation"
[code]

In the resulting HTML file the only thing displayed on the slide is:

Error: No such file or directory

Tried same code in a slide_presentation document and it rendered correctly without any issues.

[2015-08-11 16:17] rich-atp commented on #119
I get the same error on the page unfortunately. I'll look into this and see what's causing the error.

[2015-08-14 19:21] kmezhoud opened #120 "Shiny: use nodes/edges_df with renderGrViz"
Hi,
How can I use nodes and edges attributes from data frame in renderGrViz or renderDiagrammeR??

I would like to reproduce the following CODE with shiny.
there are two format the get shiny network:
********1
server.R
   output$diagram <- renderGrViz({
   grViz('
     digraph{
      size = "4,4";
       ABC1 [shape = box];
        ABC1 -> DCR3 [weight = 8];
     DCR3 -> KJH7;

     }
     ')

 })

[2015-08-17 15:39] kmezhoud opened #121 "DiagrammeROutput example"
Hi,
I am seeking for example that uses DiagrammeROutput function.
Thanks
Karim

[2015-08-17 17:50] kmezhoud commented on #120
Hi,
I need to set network out of grViz(' digraph{  HERE NETWORK SETTING }')   })
How can I include network setting on the fly from text or table or dataframe?

edges_df <- read.table(textConnection("
       ABCA1  ->          AOX1   [arrowhead = none]   ;
       ABCA1  ->         APOA1   [arrowhead = none]   ;
       ABCA1  ->      ARHGEF11   [arrowhead = none]   ;
       ABCA1  ->      ARHGEF12

[2015-08-18 20:36] kundeng commented on #75
This bug is still there!  Why is it close?

[2015-08-18 20:42] timelyportfolio commented on #75
likely related to https://github.com/ramnathv/htmlwidgets/issues/129

[2015-08-18 21:21] kundeng commented on #75
The fact that revealjs works fine suggests that it is an issue of ioslides?

[2015-08-20 18:39] kmezhoud commented on #120
Hi,
The solution is to use grViz () without  single-quote and reconstitute the graph object [digraph( dataframe)] independently.
Here an exmaple:
library(shiny)
library(DiagrammeR)

#GeneList <- c("TP53")
GeneList <- c("MYO6", "DKK3")

graph_obj <- function(ReactomeFI, GeneList){

  subset1 <- ReactomeFI[ReactomeFI$Gene1 %in% GeneList, ]
  subset2 <- ReactomeFI[ReactomeFI$Gene2 %in% GeneList, ]

[2015-08-20 18:55] kmezhoud opened #122 "Shiny: I can't display Node with 300 interaction. DiagrammeR has limited network size?"
Hi,
In biology, some important protein (cancer biomarker) can get more than 300 interactions as TP53.
In the following session, when I use proteins ("MYO6", "DKK3") with a few interactions (less than 100) I can display network in shiny App. But with I use TP53, I can not.
How can I set network (edge length, node size, layouts) to save space in grViz function?

Please Here a session with necessary

[2015-08-25 11:33] kmezhoud opened #123 "Edge attribute: dash line"
Hi,
How to set Edges wit Dash line?
Thanks

[2015-08-25 22:10] rich-iannone commented on #123
Hi @kmezhoud ! Sorry for not answering those last few questions before, I'll try to get to those soon. However, I've got an example for this one:

[code]
Let me know if this doesn't work for you.

[2015-08-25 22:10] #123 closed

[2015-08-25 22:19] rich-iannone commented on #118
Sorry for the delay on this. The key is to use a label attribute:

[code]

[2015-08-25 22:19] #118 closed

[2015-08-25 23:21] tkivisik commented on #118
Thanks.
Taavi

[2015-08-26 08:17] kmezhoud commented on #123
@rich-iannone
That works also with shiny without double quote,
Docs is missing this argument.
Thanks

[2015-08-28 21:12] kmezhoud commented on #122
Hi,
I can't identify the mistake? why this does not work?

server <- function(input, output){
output$diagram <- renderGrViz({
grViz('
digraph{
AKT1 ->   AKT2 [dir = forward,  arrowhead=normal, arrowsize=0.5,    penwidth= 1 ] ;
AKT1 ->   AKT3 [ dir = none,   reaction arrowsize=0.5,    penwidth= 1 ] ;
AKT1 -> PIK3CA [ dir = back, arrowtail = normal,     arrowhead=dot, arrowsize=0.5,    penwidth= 1 ]

[2015-08-29 08:27] kmezhoud commented on #122
Hi,
I think, it is possible to render a big network in shiny. But the graph comes too small (see Example 119 nodes and 348 interactions).

Example (119/348)
https://drive.google.com/file/d/0B9NOY9eukkEeOVE5T1d6TGZlNzQ/view?usp=sharing

[2015-08-29 11:46] kmezhoud commented on #122
Now I am sure, There is a limit to plot network with grVis(obj)
This two networks can to be, but can not together with this error message (93 nodes/436 interaction, [grViz_obj.txt](https://drive.google.com/drive/folders/0B9NOY9eukkEefmpIaHFVVmRSYmxDYWtaUGtEcVAtYmctWlRqSkVXcFBkNHVic3ZueE01aHc)).
[code]
[Network 1](https://drive.google.com/open?id=0B9NOY9eukkEeYVdsb2U2THQzc0E)
[Network 2](https://dr

[2015-08-29 12:08] kmezhoud commented on #122
Suggestion to better interact with big networks:
Maybe it will be interesting to add some utilities as zooming and selecting network.
Here [pkerpedjiev](https://gist.github.com/pkerpedjiev/0389e39fad95e1cf29ce)  or [this](http://emptypipes.org/2015/02/15/selectable-force-directed-graph/)  two examples.
Thanks

[2015-09-01 10:39] gd047 opened #124 "Non English characters do not appear"
An example:
- I have tried grViz(enc2utf8(...)) and grViz(iconv(..., to ="utf8")) without success.
What should I do in order to see multilingual text on DiagrammeR?

      grViz("
      digraph a_nice_graph {
      graph [compound = true, nodesep = .5, ranksep = .25,
      color = crimson]

      # node definitions with substituted label text
      node [fontname = Helvetica, fontcolor = darkslate

[2015-09-03 16:24] ThoDuyNguyen opened #125 "Error in example"
I used the sample code from the main page:
[code]

When I try to execute the code, there is an error
[code]

How could I fix it?

[2015-09-03 16:28] rich-iannone commented on #125
You might have a bad build. Could you try installing from GitHub with `devtools::install_github("rich-iannone/DiagrammeR")` and trying the code again? I ran the script successfully just now.

[2015-09-03 17:11] ThoDuyNguyen commented on #125
I update R to the newest version (3.2.2) and reinstall the package from CRAN and it fix the the problem.
So I think the issue could be closed.

[2015-09-03 18:05] rich-iannone commented on #125
@ThoDuyNguyen Okay, thanks for testing!

[2015-09-03 18:05] #125 closed

[2015-09-10 17:22] tinyheero opened #126 "Combine DiagrammeR Output with Other Plots (e.g. ggplot2)"
Hi there,

Is there a way to use the DiagrammeR output in some multipanel figure? For instance, after using grViz to generate a binary tree (for phylogenetic work) I would to combine this graph into a figure with plots made from ggplot.

The `plot_grid` function from the cowplot R package doesn't work with non ggplot/gtable objects. And the `multiplot` function (http://www.cookbook-r.com/Graphs/Mu

[2015-09-13 02:49] ivanhanigan opened #127 "How to do subgraph clustering?"
Thanks for the great product!  I have been looking through the document http://rich-iannone.github.io/DiagrammeR/graphs.html and trying to figure out how to group nodes in a graphviz subgraph cluster.  Can you help?

My first idea was to hack as below:

#### Code
    # use create_graph on separate nodes and edges data frames, one for each cluster
    # then access the dot codes for each
    gr1 <-

[2015-09-23 00:08] #116 closed

[2015-09-23 06:16] vnijs opened #129 "diagrammer (mermaid) plots in knitr document?"
Is there a way to get a mermaid plot to show in a knitr document? It works in rmarkdown. For example, when I try knitting the package vignette with the command below no DiagrammeR plots are shown. I looked at what rmarkdown does and tried including all the js and css files but still couldn't get it to work.

`knit2html("~/Desktop/diagrammer.Rmd")`

[2015-09-24 09:57] Gelu74 commented on #98
any updates to this? I am new to mermaid and I am trying to use it to create a gantt chart in R, I would like the axis to be in months rather than weeks, any pointers on how to achieve this would be more than welcomed.

[2015-09-24 11:21] timelyportfolio commented on #98
@Gelu74, is #77 helpful or completely incomprehensible?  I have not had a chance to work on making it smooth and painless.

[2015-09-24 19:54] Gelu74 commented on #98
Hi @timelyportfolio, not completely incomprehensible but not quite what I wanted, that code worked but it did just change the label from a week number into a MonthDayYear, I would like the tickmarks to appear only every month. In that code you "filter for Mondays or day of week = 1" is there any way to filter for first day of the month or, preferably, 15th of each month so the label is centered in

[2015-09-25 14:31] hrbrmstr commented on #119
I'm using a temporary workaround that may be useful to others (it won't meet all needs/cases):

[code]

That'll make an SVG that's usable in-pres

[2015-09-25 14:38] timelyportfolio commented on #119
This also significantly reduces the dependency load.

[2015-09-26 12:52] kmezhoud opened #130 "grViz and rotate triangle"
Hi,
I would like to get inverse triangle or pentagone.
type = lower does not inverse the head sector.
Thanks
Karim

[2015-09-29 02:39] jsta opened #131 "Save as Image error"
When I try to save DiagrammeR output in RStudio, the images are cut-off and include part of the console and source panes. The image below shows the result of Export -> "Save as Image" using the first example from the vignette.

![test](https://cloud.githubusercontent.com/assets/7844578/10154090/2f3592d0-6631-11e5-9e63-92452ab557d1.png)

R version 3.2.2 (2015-08-14)
Platform: x86_64-pc-linux-gnu (6

[2015-09-29 17:09] rich-iannone commented on #131
I've seen a problem like this before and have heard (to the best of my recollection) that RStudio effectively takes a screen grab of the image in that window. If the coordinates are not reported correctly (and there is not much you as a user can do about it) the captured image will be mapped to incorrect pixel coordinates.

I think I've had this problem in the past the few times I did this.

Solut

[2015-09-29 17:09] #131 closed

[2015-09-29 17:25] rich-iannone commented on #127
@ivanhanigan Sorry this took so outrageously long to get to... Thanks for the good words. I like your idea but I want to show you another method you may like:

[code]

[2015-10-01 11:36] sdc3 commented on #130
Hi,
What about shape = "invtriangle"?

[code]

[2015-10-01 12:06] kmezhoud commented on #130
Thanks, That works.
[code]

[2015-10-01 12:07] sdc3 commented on #129
Hi,
[This stackoverflow question](http://stackoverflow.com/questions/31645528/knit-dtdatatable-without-pandoc) may correspond to what you're looking for. The "render_with_widgets" function works on the DiagrammeR vignette.

[2015-10-01 12:22] sdc3 commented on #130
I haven't tried, but I think all the Graphviz nodes shapes can be used in DiagrammeR.
http://www.graphviz.org/doc/info/shapes.html

[2015-10-01 12:30] kmezhoud commented on #130
+1

[2015-10-01 17:38] sdc3 commented on #126
Do you want the final result to be rendered in html or as an image?

[2015-10-01 17:44] tinyheero commented on #126
Ideally, I want to be able to take some corresponding SVG (?) into something like Adobe Illustrator (or Affinity Designer) to make final edits for scientific publication.

So image? Sorry, I am not 100% clear what you mean by rendering in html or as image. Is it not the same?

[2015-10-01 17:48] timelyportfolio commented on #126
I would recommend using `render_graph` with `output='SVG'` and then use the new [`RSvgDevice`](https://github.com/mdecorde/RSvgDevice) for `svg` of the other graphics, such as `ggplot2`.  I'll try to work up an example.

[2015-10-01 17:54] sdc3 commented on #124
One solution is to use html codes.

[code]

[2015-10-01 17:55] tinyheero commented on #126
Thanks. I currently use `render_graph` with output=`SVG` for my diagrammer plot which from my understanding uses the V8 R package to export it. Didn't think about using RSvgDevice for ggplot2 though. Looking forward to an example.

On this note, the only issue I have with `render_graph` is that the width and height parameters are not respected in the final output:

[code]

The rendered tree is not

[2015-10-01 17:56] rich-iannone commented on #124
@sdc3 That's a really great solution... Now I'm wondering if there should be a unicode to html code translator in place to facilitate this.

[2015-10-01 18:15] timelyportfolio commented on #126
Unfortunately, you are correct.  The `width` and `height` are not respected, but since the `viewBox` attribute is nicely set on the `SVG`, we can manipulate the `width` and `height` to get the size we want.  This example will flow nicely into the more thorough example including `ggplot2`.

[code]

[2015-10-01 18:22] rich-iannone commented on #124
@gd047 @sdc3 @timelyportfolio

If you use the graph functions (really not that hard to use, once you get going on it), unicode characters are supported:

[code]

<img width="341" alt="unicode-graphviz" src="https://cloud.githubusercontent.com/assets/5612024/10229775/a4e94f9a-682e-11e5-95f4-eff0218024a7.png">

<img width="452" alt="unicode-visnetwork" src="https://cloud.githubusercontent.com/assets

[2015-10-02 08:17] #130 closed

[2015-10-03 04:00] ivanhanigan commented on #127
@rich-iannone Thanks again.
I like that approach.  However I am struggling to apply it for my work.  Below you can see an example of what I am trying to achieve.

[code]

# which gives this output

![suicide-drought](https://cloud.githubusercontent.com/assets/1305767/10261346/5753ff92-69d6-11e5-8c8d-78b16d020b87.png)

# following your approach I get a good thing too

[code]

[http://ivanhanigan.gi

[2015-10-03 04:07] rich-iannone commented on #127
@ivanhanigan this is great stuff and I do think that with a little work the clustering can be done effectively with the `visNetwork` rendering. I'm planning on looking into this tonight. I'll keep you posted!

[2015-10-03 08:57] haodong opened #133 "cannot output any DiagrammeR graph to a pdf file through knitr"
Hi, I am using DiagrammeR to make flow charts. Everything is fine on the environment of html output mode. But when I switch to pdf output, it could not be done. After some troubleshooting, the problem is derived from diagrammeR that its plots are html format.

[code]

[2015-10-05 16:29] wch opened #134 "Shiny apps that use DiagrammeR don't work when deployed on shinyapps.io or Shiny Server Pro"
This happens because Shiny Server inserts a `<base>` tag in the HTML body, which causes problems with some SVG elements, like arrowheads and gradients.

Fortunately, the latest version of mermaid.js has a fix for this (thanks to yours truly), so simply including the latest version should fix it for DiagrammeR. See knsv/mermaid#209 for more information about this problem.

[2015-10-06 17:00] rich-iannone commented on #134
@wch thanks very much for doing all this! I think @timelyportfolio added in the latest release of mermaid.js in a recent PR (and it was accepted). Kent: can you verify that that version was indeed the latest build?

[2015-10-06 17:14] wch commented on #134
I think the needed version of mermaid.js (0.5.2) was released 2 days ago, and your version is 0.5.1 (I found this by searching the mermaid.slim.min.js file for `version`).

[2015-10-06 18:12] rich-iannone commented on #134
@wch thanks again. The most recent version of mermaid.slim.min.js (0.5.3) is now part of the package (along with the updated mermaid.css file).

[2015-10-06 22:17] #134 closed

[2015-10-07 19:08] wch commented on #134
Great, thanks for updating it!

[2015-10-07 22:03] geneorama opened #135 "Examples not working for `render_graph`"
When I run the examples in `render_graph` I don't see any output in R Studio or the regular R GUI.

I have Graphviz installed.  Is this part of the `render_graph` example supposed to open something up in Graphviz or in R?

[code]

Thanks!

[code]

[2015-10-08 07:32] rich-iannone commented on #135
@geneorama my apologies but it wasn't working because of some changes I made to the `render_graph` function. It's been recently modified to work again (I've done some tests). Please download the latest build using `devtools::install_github("rich-iannone/DiagrammeR")`.

The standalone Graphviz application is not required for DiagrammeR to generate Graphviz diagrams.

[2015-10-08 07:32] #135 closed

[2015-10-08 08:21] #124 closed

[2015-10-08 08:21] #120 closed

[2015-10-08 08:22] #19 closed

[2015-10-08 08:22] #23 closed

[2015-10-08 08:22] #46 closed

[2015-10-08 15:14] pssguy commented on #46
So did you succeed or is it just not feasible?

[2015-10-09 18:33] dchiu911 commented on #133
I came across the same problem trying to embed flowchart in Beamer presentation (PDF).

[2015-10-09 21:34] rich-iannone commented on #133
@HalbertDong There's been a recent update that addresses this issue. Could you try again and report on whether the problem persists (or is solved)? Thanks!

[2015-10-09 22:19] dchiu911 commented on #133
`Error: Functions that produce HTML output found in document targeting beamer output.
Please change the output type of this document to HTML.`

[2015-10-11 11:02] HalbertDong commented on #133
@rich-iannone Hi, thank you for your update. I just tried and it's still not gonna work. Here are the log:

[code]

[2015-10-13 19:04] rmflight opened #136 "pie chart custom icons to replace nodes"
This may be a duplicate of #108 , but I'm not sure. Is it possible to replace nodes with a custom pie chart icon, with different nodes having different icons?

It would also be great in the documentation to have an example of using an `icon`, or did I miss that?

[2015-10-13 20:35] guiastrennec opened #137 "Disable SVG warnings"
Hello,
Exporting diagrams in SVG usually works fine but, I sometimes get a warning row, which then prevent web browser from rendering the diagram. If I edit the SVG code and remove the warning the diagram is then rendered properly. Is there any way to disable this type of warnings?

The usual warnings are :
[code]

I use the following command to generate the SVG files:
[code]

Thanks in advance

[2015-10-14 00:30] rich-iannone commented on #136
Here's an example that currently works best when the output option is `visNetwork`

[code]

[2015-10-14 21:22] Kenkleinman opened #138 "Implementation of rank when using functions?"
Here's a course sequence I threw together that makes use of the rank=same feature in graphviz.  I think that's absent in the functional approach to DiagrammeR (0.8.1).  Can you add it?  Would be great to have it!

grViz('digraph mine {
      rankdir = TB;
      node [shape = diamond];
      edge [color=white];
      "FALL #1" -> "SPRING #1" -> "FALL #2" -> "SPRING #2";
      node [shape = circle;

[2015-10-14 23:28] rich-iannone commented on #138
Ken, that looks really good! I think you're right in that there's no way currently to implement `rank=same` with the functional approach in DiagrammeR. But, I will work toward getting that in the package.

[2015-10-14 23:32] Kenkleinman commented on #138
Awesome, thanks, and thanks for the good work!

_______________________________________________________
_______________________________________________________
Ken Kleinman, ScD
Associate Professor, Department of Biostatistics and Epidemiology
School of Public Health and Health Sciences
University of Massachusetts, Amherst

Lecturer, Department of Population Medicine
Harvard Medical School

My blo

[2015-10-15 07:48] guiastrennec commented on #138
If it is of any help I am already using ```rank = same``` with DiagrammeR. I had edited the create_graph.R function, and all I did was to add the code below (create_graph has been edited since I made my edit but on the latest github version you would have to insert it somewhere around row 484).

[code]

[2015-10-15 08:08] rich-iannone commented on #138
That's great! Mind if I add that in? Or would you like to send a PR?

[2015-10-15 08:09] guiastrennec commented on #136
Not sure if it is what you are trying to achieve but Graphviz also allows the nodes to be ```wedged``` (when circles) or ```striped``` (when rectangles) and this can be achieved through DiagrammeR. All you need to do is:

1. Add a ```style``` column in your ```node_df``` in which you will use ```filled``` for regular nodes and either ``wedged``` or ```striped``` the ones where you want your charts

[2015-10-15 08:11] guiastrennec commented on #138
Please go ahead, I am still new with Github and trying to figure things out.

[2015-10-15 08:17] rich-iannone commented on #136
Thanks for verifying this works (and for the good explanation). The background documentation on how this works in Graphviz is here: http://www.graphviz.org/content/attrs

It's near the bottom of that page. Search for "wedged".

[2015-10-15 14:48] rmflight commented on #136
The motivation is to do nodes that look like Figure B [here](http://www.frontiersin.org/files/Articles/73104/fgene-05-00098-r2/image_m/fgene-05-00098-g004.jpg) in the viewer. Currently I connect to cytoscape, and may use cytoscape js, but having other options is good.

[2015-10-15 14:48] rmflight commented on #136
Awesome, both of the methods mentioned work. I may also try Graphviz label with html style labels and define the `img` attribute.

BTW @rich-iannone, you can also start up a python webserver and use `http://localhost:8000/path_to_fig` and it will work.

[2015-10-15 14:48] #136 closed

[2015-10-19 18:12] gluc opened #139 "Problem with pandoc / mermaid"
After updating to the latest DiagrammeR from CRAN, my vignette is not building any more, giving me the following error:

pandoc.exe: Could not fetch .\R\win-library\3.2\DiagrammeR\htmlwidgets\lib\mermaid\dist\#arrowhead

See here: https://gist.github.com/gluc/b385cf03eda6387b16d4

If I run the code in R (not in markdown), it does not produce an error, but the arrowheads are not displayed any more.

[2015-10-23 11:54] AndySouth opened #140 "engine argument in grVis seems not to be working (windows)"
I'm loving diagrammer, thankyou.

However with grVis I can't get anything other than the default dot layout.

I even took the neato example from the webpage (copied on the end of this) and that displays as dot layout.

Changing the engine argument has no effect, even when I change it to something spurious.

I have tried installing from both CRAN & Github.

Apologies if I'm missing something obviou

[2015-10-23 19:12] geneorama commented on #135
@rich-iannone Sorry, just testing.

Yep, it works (or, since it's been two weeks, should I say still works?)

Thanks!

[2015-10-26 19:18] vnijs opened #141 "example of using a tooltip in Mermaid plot?"
I see references to tooltips in the DiagrammeR code but haven't been able to find any examples of how to add a tooltip to a node in a mermaid plot. Is this possible?

[2015-10-27 09:31] sculptor3 commented on #133
@rich-iannone Any news regarding this issue? I get the same error when trying to embed the diagrammer graph in a pdf. I really like this package. Being able to embed the graphs in pdf would be most welcome. Thanks!

[2015-10-28 20:20] Auburngrads commented on #140
Second this...The engine argument seems to be ignored.  Ran the examples from the DiagrammeR website, like what  AndySouth showed, but I also tried nonsensical arguments like `engine = '#&^@*#'`.  This did not result in any errors.

[2015-10-28 20:41] rich-iannone commented on #140
Sorry for the late reply @AndySouth (and thanks for checking also, @Auburngrads). Obviously, this is broken and thus a bit terrible. I'm going to prioritize fixing this and I'll report back here when it's indeed fixed.

[2015-10-28 20:44] rich-iannone commented on #140
@AndySouth @Auburngrads in the meantime, you could use `graph [layout = neato]` within the graph spec in order to get the `neato` layout working:

[code]

[2015-10-28 21:26] rich-iannone commented on #140
Okay, this seems to be a problem with the new JS version of `viz.js`. It's ignoring the engine argument (everything is passed through to the htmlwidget `x` object as always, since nothing's changed).

I don't really know how to fix this in the near term. So, is the above workaround (specifying layout in the grViz spec) sufficient? If so, I could drop the `engine` argument and update the documentat

[2015-10-28 21:28] rich-iannone commented on #141
@vnijs I don't think this is possible with mermaid plots but it's possible with `Graphviz` and `visNetwork` plots. This may change as `mermaid.js` gets updated in the future.

[2015-10-28 21:28] #141 closed

[2015-10-28 22:18] vnijs commented on #141
Looks like it should be possible as of release 0.5.3 (see link below). Still not clear how to do it however. Could you point to an example using `Graphviz` or `vizNetwork` perhaps? Thanks

https://github.com/knsv/mermaid/releases/tag/0.5.3

[2015-10-28 23:02] Auburngrads commented on #140
Using `graph[layout = neato]` in the graph spec seems to work well for me.  Thanks for the fix!

[2015-10-29 08:39] AndySouth commented on #140
Thanks, yes adding the layout argument to graph works for me too.

On 28 October 2015 at 23:02, Jason Freels <notifications@github.com> wrote:

[2015-10-30 16:20] ericwatt commented on #140
Another confirmation that ```graph [layout = neato] ``` fixed the issue on windows. Thanks.

[2015-10-30 16:35] rich-iannone commented on #140
Thanks @ericwatt! It's perhaps preferred to included the layout information within the graph spec (it aligns better with existing Graphviz code). I'll close the issue now.

[2015-10-30 16:35] #140 closed

[2015-10-30 21:47] rich-iannone commented on #133
@HalbertDong @dchiu911 @sculptor3 Thanks for reporting (and I apologize for being late in getting to this). This issue, unfortunately, has been one of the more difficult ones to resolve.

@sculptor3 can you post a bit code that causes the error?

[2015-10-30 22:39] sculptor3 commented on #133
@rich-iannone Thank you for digging into it!

this is a piece of code that gives an error when trying to knit it as pdf in RStudio:

"---
title: "PDF document"
output:
  pdf_document:
    fig_caption: yes
    latex_engine: xelatex
    number_sections: yes
    toc: yes
    toc_depth: 3
  html_document:
    self_contained: yes
    theme: cerulean
    toc: yes
---

# test code

[code]

[2015-10-31 00:49] vnijs opened #142 "colors not showing in mermaid plot (0.8.1)"
After upgrading from 0.7 colors are no longer shown in circle nodes. Using one of the examples on the website I see the image below (Mac Yosemite, R3.2.2).

![image](https://cloud.githubusercontent.com/assets/2998956/10860933/46052ffa-7f2e-11e5-959b-c42f27f2bbca.png)

[code]

[2015-11-01 01:38] iwi opened #143 "delete_node fix"
I came across an issue with the current delete_node function. When a node in the graph has no edges, it gives the following error:

    Error in if (all(!(colnames(edges_df)[j] %in% c("edgetooltip", "headtooltip",  :
      missing value where TRUE/FALSE needed

It seems the problem is that edges_df is actually empty because the lines

[code]

produce an empty dataframe instead of keeping the origi

[2015-11-01 16:01] rich-iannone commented on #143
@iwi Thanks so much for fixing (and sending that PR)! Feel free to do so again, I really appreciate it.

[2015-11-01 16:01] #143 closed

[2015-11-01 21:44] iwi commented on #143
@rich-iannone thank you for creating DiagrammeR.
I started adding a test for this fix, but got into some issues, I'll PR when it works.

[2015-11-01 22:03] iwi opened #145 "keeping graph$edge_attrs and graph$node_attrs after delete_node or delete_edge"
I've seen that in the re-construction of the graph after deleting a node or an edge the process ignores the previous graph$edge_attrs and graph$node_attrs.

[Here](http://stackoverflow.com/questions/33445480/how-to-keep-edge-colours-after-delete-edge-in-diagrammer) a question I posted on stackoverflow the other day .

I've amended `delete_node` and `delete_edge` and for my needs they work, but bef

[2015-11-01 22:07] rich-iannone commented on #145
@iwi the non-retention of these attributes is not intentional. This was an oversight so if you have a PR you can deliver, it would be a great contribution.

[2015-11-01 22:10] rich-iannone commented on #143
Thanks @iwi. If you'd like to make regular contributions like this I can include you as a developer on the DiagrammeR website.

I do appreciate the help and so I'd like it to be recognized.

[2015-11-01 22:22] iwi commented on #143
As you wish @rich-iannone.
Maybe you should wait to see if I can really be a _regular_ contributor :).

But happy either way.

[2015-11-02 18:42] stephlocke commented on #139
+1
Getting this too in Windows, from CRAN version + github version

[2015-11-03 09:15] sculptor3 commented on #133
When I use

<pre><code>render_graph(graph)</code></pre>

the error is:

<pre><code>Error: Functions that produce HTML output found in document targeting latex output.
Please change the output type of this document to HTML. </pre></code>

and no pdf document is created, But when I change the render_graph code

into <pre><code>render_graph(graph, output="svg")</code></pre>

a pdf documented is creat

[2015-11-03 19:02] sculptor3 commented on #137
@quiastrennec Can you show how you construct the graph? When I use your code on my graph, nothing happens.

[2015-11-03 19:32] guiastrennec commented on #137
Thank you for looking into my issue. At the moment the SVG export feature has been removed from DiagrammeR (See commit here: <https://github.com/rich-iannone/DiagrammeR/commit/8ea70b00189eb50d4163fbc5ab47266c9cfa1746>). According to rich-iannone the feature will be back at some point.

[2015-11-03 19:37] #145 closed

[2015-11-03 19:44] rich-iannone commented on #137
@guiastrennec @sculptor3 I'm hoping that an external solution to the graphics export issue will materialize (e.g., htmlwidgets might offer support for export of graphics). The reason for the removal is that the feature relied on the `V8` package to work and CRAN didn't want that dependency in the package (it can result in installation problems across different system types).

A possible interim so

[2015-11-03 19:56] sculptor3 commented on #137
Thank you for your response. Good to know it will be back some time.
Op 3 nov. 2015 20:32 schreef "Benjamin" <notifications@github.com>:

[2015-11-03 20:02] sculptor3 commented on #137
@rich-iannone that sounds like a good idea!!

[2015-11-03 20:27] guiastrennec commented on #137
I also think it would be nice to have an option to export graphs at least on the github repository, in the wait of a permanent solution. I am not aware of any package to achieve this yet but given the interest to packages like ggvis I am sure that things will come out.

[2015-11-04 18:13] millerjef commented on #133
@rich-iannone  I suspect I'm having a similar issue, though with slightly different manifestations that I hope might track down the problem. I'm trying to export a flowchart graph to SVG or EMF but I'm getting empty files. I'm not getting any error messages.

When I use the devEMF package, an emf file is created (204 bytes). If I open it in powerpoint, the canvas size appears to be consistent with

[2015-11-05 02:41] millerjef commented on #133
@rich-iannone Is it possible that `dot` svg output is failing on quoted attributes/objects?

I'm not much of a programmer but I wanted to troubleshoot this. I generated `dot.gv` using the sample code on the project website. To debug things, I downloaded the graphviz port for OS X via homebrew. I tried running `dot -Tsvg dot.gv` from the command line. I got the following error:

    Error: dot.gv:

[2015-11-05 17:27] rich-iannone commented on #133
@millerjef SVG is only failing because the support for it had to be taken out (it will be re-implemented in a separate, GitHub-only package).

DiagrammeR does a few things behind the scenes to handle quoted IDs and attribute values. Strictly, these things should not have quotes as you have observed when using the native Graphviz binary.

[2015-11-05 18:15] sculptor3 commented on #133
@rich-iannone, for me this new GitHub-only package announcement is the best news of the week! :-). Please let me know if you need testers.

[2015-11-05 22:20] ajholguin commented on #137
+1 for restoring SVG export functionality.

[2015-11-06 07:52] dogamodel opened #148 "how to use image_icon function?"
i want to import a lot of icons instead of the node(i don't kown if the function is supported),can i use the image_icon funtion to doing that?or another way?

[2015-11-09 19:39] statwonk opened #149 "renderDiagrammeR / DiagrammeROutput broken"
I plan to dig in to see if I can solve it, but `renderDiagrammeR` and `DiagrammeROutput` currently appear broken to me (`DiagrammeR_0.8.1`).

I put a reprex together here: `runGist("https://gist.github.com/statwonk/623cebaab9da7d3938d9")`

That yields the errror: `'undefined' is not an object (evaluating 'x[0]')`

[2015-11-09 20:16] statwonk commented on #149
It looks like the error is thrown in `DiagrammeR.js` @ [L124](https://github.com/rich-iannone/DiagrammeR/blob/02c61929241bfe73397292e56cd2b78608f82465/inst/htmlwidgets/DiagrammeR.js#L124).

[2015-11-10 23:43] statwonk commented on #149
Ahh, I see this isn't an actual bug, I was just confused by the functionality of `renderDiagrammeR` and `DiagrammeROutput`, for example below works,

[code]

[2015-11-11 14:26] kmezhoud opened #150 "Layout: can't change engine = circo # dot | neato | twopi"
Hi all,
In the following example I can't change the engine option. It remains dot Layout.
Any suggestion?
Thanks
Karim
[code]

[2015-11-11 15:04] kmezhoud commented on #150
Same issue with example in docs
[code]

[2015-11-11 15:09] kmezhoud commented on #150
Sys.info()
[code]

 sessionInfo()
[code]

[2015-11-14 09:29] rich-iannone commented on #150
@kmezhoud try inserting `graph [rankdir = LR, layout = circo]` inside the graph definition. I don't think the value in the `engine` argument will be respected any more due to an update in the underlying `viz.js` library.

[2015-11-14 09:41] kmezhoud commented on #150
@rich-iannone Yes. that works. I will change my code for new update.
Thanks

[2015-11-15 08:18] #150 closed

[2015-11-17 10:10] ianjacobs commented on #139
Me also,
On Mac, from CRAN version and github version

Incidentally, arrowheads are not displaying when rendering mermaid diagrams within R scripts, could be a related issue?

[2015-11-22 02:46] Malabady opened #151 "grViz produces an “abort” message in the browser."
Hi there,
When I try to produce some graphs in RStudio  using grViz, it doesn’t produce any graphs. Instead, it shows the following errors in the browsers.

I am running RStudio on Mac OS X (10.11.1), latest release of RStudio and R.3.0.3

Any suggestions how to fix this problem!

Thanks.

abort() at bb@file:////var/folders/8_/f3kg92b93739frx2rpfnzsxm0000gn/T/RtmplKP9bh/viewhtmlb008bdddcfe/lib/viz

[2015-11-23 19:53] #139 closed

[2015-11-26 16:38] achubaty commented on #121
Hi @kmezhoud, I'm not sure if this is the place for help requests, so I'll assume you're asking for an example to be added to the documentation. Here is a quick example:

[code]

[code]

@rich-iannone, if this example is useful, feel free to use this as you see fit

[2015-11-26 21:12] kmezhoud commented on #121
@achubaty Many Thanks, I think the doc lacks this example.
I found a solution with grVis function. Now I am asking the question:
@rich-iannone  why DiagrammeR uses two functions grVis and mermaid that may have the same output? or what is the difference?
Thanks

[2015-11-29 17:18] ianagutierrez opened #153 "grViz will not produce graphics in RStudio viewer, but I can see them in Chrome"
Hi all,

When I use the grViz function in RStudio, it generates empty plots in the RStudio viewer. No error messages whatsoever. If I run "is_graph_empty" on the object created by grViz, RStudio returns "TRUE." However, if I click on the "show in new window" button in the RStudio viewer panel, it will route me to a Google Chrome browser window and correctly reproduce the graph there.

Here's an ex

[2015-11-30 12:03] sculptor3 commented on #133
@rich-iannone, I am very curious, any news regarding this topic?

[2015-11-30 19:48] rich-iannone commented on #153
Hi Ian, the above code snippet works in my RStudio Viewer so this is strange. Try getting a fresh build of DiagrammeR with `install_github` and try again. Also, try running the code samples on the README (just to see if those work).

By the way, the `is_graph_empty` function only works on graph objects (not objects created by `grViz`).

[2015-11-30 19:51] rich-iannone commented on #151
Hi, can you try running the examples in the README after a fresh install with `install_github`? Then submit the code you using to create a graph here.

[2015-11-30 20:20] Malabady commented on #151
When I try to install using install_github, it complains that the package "visNetwork" isn't available for R version 3.0.2, see this:

ERROR: dependency ‘visNetwork’ is not available for package ‘DiagrammeR’
* removing ‘/Library/Frameworks/R.framework/Versions/3.0/Resources/library/DiagrammeR’
Error: Command failed (1)
In addition: Warning message:
package ‘visNetwork’ is not available (for R vers

[2015-11-30 21:41] #121 closed

[2015-11-30 23:53] ianagutierrez commented on #153
The fresh build using install_github worked! Previous install has been via CRAN. Thank you for the help!

[2015-12-01 17:38] swiftsam opened #154 "example in create_subgraph_from_selection needs update"
The Examples in create_subgraph_from_selection include [this block](https://github.com/rich-iannone/DiagrammeR/blob/master/R/create_subgraph_from_selection.R#L35)

[code]

which needs to be updated to use the new select_nodes argument `search` as of [this commit](https://github.com/rich-iannone/DiagrammeR/commit/35f6ac6929072620dec325841c8317260e43a759)

Suggested:
[code]

Thanks for a great packa

[2015-12-01 19:11] rich-iannone commented on #154
Thanks very much for catching this and letting me know! It's now updated :)

[2015-12-01 19:11] #154 closed

[2015-12-02 00:08] rich-iannone commented on #151
Could you try once again? I've updated the minimum version of **visNetwork** that's required.

[2015-12-02 03:18] Puriney commented on #133
Thought an old issue. I came across this problem as well. Furthermore I cannot even export the PNG image.

[2015-12-02 18:18] rich-iannone commented on #137
@guiastrennec @sculptor3 @ajholguin

I apologize for the delay on this, but the separate package for exporting Graphviz diagrams in DiagrammeR is now available at: https://github.com/rich-iannone/DiagrammeRsvg. It contains a single function that performs the conversion of a `grViz` object to SVG text. A simple example is included in the help file for the function.

[2015-12-02 18:20] rich-iannone commented on #133
@Puriney I've put together a separate package for exporting Graphviz diagrams in DiagrammeR to SVG: https://github.com/rich-iannone/DiagrammeRsvg. It contains a single function that performs the conversion of a grViz object to SVG text. An example is included in the help file for the function.

[2015-12-02 18:46] sculptor3 commented on #137
@rich-iannone, please don't appologize! Thank you very much for this new package!  I will try it out as soon as possible.

[2015-12-02 21:23] sculptor3 commented on #133
@rich-iannone I haven't figured out yet how this new package can help me putting my graph  in a pdf. Taking into account my example earlier in this thread, how would you use `export_svg` function to render the graph in the pdf document? Or @Puriney can you give me a hint?

<pre><code>---
title: "PDF document"
output:
  pdf_document:
    fig_caption: yes
    latex_engine: xelatex
    number_section

[2015-12-03 10:21] guiastrennec commented on #137
Great, thank you very much for the follow up !

[2015-12-03 13:56] sculptor3 commented on #133
I tried this:

instead of

`render_graph(graph)`

I write:

`svg_file <- export_svg(render_graph(graph))
 cat(svg_file, file = "svg_file.svg",sep = "\n")
 cat("![](svg_file.svg)")`

this is the result:

`pandoc.exe: Unable to convert image `svg_file.svg':
Cannot load file
Jpeg Invalid marker used
PNG Invalid PNG file, signature broken
Bitmap Invalid Bitmap magic identifier
GIF Invalid Gif signatur

[2015-12-03 22:15] ianagutierrez commented on #153
Hmm, having this issue again, even when installing the package via devtools::install_github. Might it be something to do with another package I might be running? Why would the image render in Chrome but not RStudio? Something to do with html?

[2015-12-04 03:30] #153 closed

[2015-12-07 20:57] garyfeng opened #155 "edge_info.R error"
If you load both `ggplot2` and `diagrammeR`, and create a graph *without* a column named `rel` in your edge data frame, then you'd see an error message when you do `edge_info(graph)` telling you that you are trying to subset a function. As it turns out, `ggplot2` defines a function `rel`. So the following check in `edge_info.R`, line 82, will return True, and you end up subsetting the ggplot2 func

[2015-12-08 07:19] tinyheero commented on #71
This seems to have a weird effect when trying to using the subscript with greek letters, specifically \mu:

[code]

![image](https://cloud.githubusercontent.com/assets/3268173/11649913/e40e170c-9d38-11e5-8aa1-962b6af69701.png)

[2015-12-09 07:45] rich-iannone commented on #155
@garyfeng Thanks very much for spotting this and suggesting a fix. The function has now been modified!

[2015-12-09 07:45] #155 closed

[2015-12-09 21:51] sculptor3 commented on #133
Has anyone succeeded in including an DiagrammeR graph into a pdf document rendered by rmarkdown yet (and using the new DiagrammeRsvg package)? Please, help me with an example. Many, many thanks in advance!

[2015-12-16 02:18] yulijia commented on #139
Is there any way to bring arrowhead back to the package?
I am a new user of this package, I run some examples at [DiagrammeR website](http://rich-iannone.github.io/DiagrammeR/mermaid.html) , none of  arrowheads are displayed in the figures.

[2015-12-23 19:32] tydil opened #156 "plot graphs in new window using dev.new()"
Hello,

Is there a way to render graphs in new windows created using dev.new()? I am unable to get output into anything other than the Rstudio viewer.

Thank you for a great addition to R!

[2015-12-29 00:59] skanskan commented on #133
Could this package also be used to export ggvis plots?

[2016-01-04 11:05] fdabl commented on #91
yes, this is the killer feature for me! any progress update? great software, by the way :)

[2016-01-04 12:52] rdatasculptor commented on #91
maybe there is a possibility to add katexR features to DiagrammeR? Just a thought.
http://www.buildingwidgets.com/blog/2015/2/5/week-05-katex-in-r

[2016-01-04 16:10] rich-iannone commented on #91
@timelyportfolio , I'd forgotten about this awhile back but it looks like the perfect way to get equations and such into node labels. Do you think it could be feasible to implement? Perhaps the node attribute katex could be used and parsed by `render_graph()`.

[2016-01-04 16:14] rich-iannone commented on #91
And thank you @fdabl for bringing this to the fore and @rdatasculptor for the recommendation!

[2016-01-05 18:39] timelyportfolio commented on #91
I'll look into it this afternoon.

[2016-01-14 03:39] timelyportfolio commented on #91
Unfortunately, this is much trickier than I hoped.

[2016-01-14 05:46] rich-iannone commented on #91
@timelyportfolio thanks for trying! :)

[2016-01-25 12:37] benmarwick commented on #98
Agreed, a bit more flexibility with the time axis tick marks and labels would make this approach to Gnatt charting much more useful. Controlling the tick and label spacing would be really great feature.

[2016-01-30 02:53] happyshows opened #157 "set_graph_name not exported on CRAN version"
Hi,

Actually I found two issues:
1. the CRAN version does not support set_graph_name
2. when I tried to set a graph name inside create_graph function, it didn't work. Instead, it showed <title>%3</title>

I tried to install the latest dev version from Github, however it kept crashing

Error in fetch(key) :
  lazy-load database 'C:/R/Lib/DiagrammeR/help/DiagrammeR.rdb' is corrupt

[2016-01-30 02:59] happyshows commented on #149
@statwonk your example no longer works on CRAN 0.8.1

[2016-01-30 03:05] rich-iannone commented on #149
@happyshows @statwonk I'll get an 8.2 release of DiagrammeR out on CRAN right away. I'll test out this example to make sure it works as well.

[2016-01-30 03:08] rich-iannone commented on #157
I'll get a more recent version out on CRAN very soon. I'm a little surprised that `install_github` produces a non-working version. I'll look into that as well.

[2016-01-30 03:08] happyshows commented on #157
cool, look forward for your update :D

[2016-01-30 03:10] happyshows commented on #157
It's been a while since I decided to wait when you just released 0.6, almost my shiny app code stopped working, please retest them before the 0.8.2 release, appreciate it.

[2016-01-30 03:10] rich-iannone commented on #157
Thanks @happyshows ! I was supposed to do this awhile back but I've been so focused on documentation that it got pushed back. :/

[2016-01-30 15:12] happyshows commented on #122
@kmezhoud  for medium sized network (100<x<1000), I suggest you to use visNetwork directly if you insist the interactivity piece, for graph larger than that, I believe it's better to export the graph and render in Cytoscape. There's no point to render a network for documentation purpose for size like that.

[2016-01-30 15:22] happyshows commented on #149
@rich-iannone One more piece of info that might help your testing. I just tried renderGrViz + grVizOutput and confirmed they work. I think the problem with renderDiagrammeR+DiagrammeROutput is it somehow failed to translate the digraph codes into vis on shiny.

[2016-01-30 23:22] vnijs commented on #149
I assume this is related ... The example below works in Rstudio but nor from R using either the CRAN or the github version of DiagrammeR. Error: `t.getTransformToElement is not a function`

[code]

parse error with graph LR
 id1[ ] --- |Sign with Movie Company| id2(( ))
 id1[ ] --- |Sign with TV Network| id6(( ))
id2 --- |Small Box Office: 0.3| id3[$200,000]
id2 --- |Medium Box Office: 0.6| id4[$1

[2016-01-31 19:16] slowkow commented on #133
@sculptor3 This is how I found I could include a Graphviz plot in my PDF rendered by rmarkdown:

### Installation

First, make sure you have the `dot` command. You need to install `graphviz` (I use homebrew):

[code]

Now I have `dot` installed:

[code]

### temp.Rmd

This is what my `.Rmd` file contains:

    ---
    title: "Untitled"
    author: "Kamil Slowikowski"
    date: "January 31, 2016"

[2016-01-31 22:01] sculptor3 commented on #133
Dear Kamil,

Thank you for your solution! I will try it.

I had another idea the other day. Jeroen Ooms came up with another
brilliant package: https://www.opencpu.org/posts/svg-release/

Since this package rsvg is able to convert svg to png or jpg, and Richards
new github only package is able to convert r diagrammer objects to svg,
this chain should be possible in theory: let an r chunk render a

[2016-02-01 00:02] skanskan commented on #133
Can the svg or the graphviz solutions be used on Windows?

[2016-02-01 03:18] rich-iannone commented on #133
@sculptor3 @haodong @millerjef @slowkow @Puriney : thanks for your patience on this issue. I think I've got a workaround thanks to the great information within this thread (thanks @sculptor3 for the tip on **rsvg**!).

Here's a pretty ugly way of getting a graph (with **Graphviz**-type output) into a PNG file in the working directory. (I'll make this more functional in **DiagrammeR** proper but, f

[2016-02-01 12:24] skanskan commented on #133
@rich-iannone   Hello,  I had to install many things but it works perfectly. (tried with R 3.2.3)
Could you please tell me how to use it to include diagrammer diagrams with knitr Rnw files (latex), please.
It would be even better if I knew how to embed the diagrams directly in svg format  in the pdf.

Regards.

[2016-02-01 16:12] MarkEdmondson1234 commented on #151
Hi @rich-iannone I got a similar error in DiagrammeR 0.8.1 trying to graph a big matrix:

[code]

I guess its memory but just checking in here in case its not, my graph is 115600 obs...

[code]

[2016-02-01 18:37] rich-iannone commented on #151
@MarkEdmondson1234 It's definitely memory. The graphviz rendering c/o `viz.js` doesn't handle all that many nodes, so, `render_graph` blows up. With `render_graph(graph, output = "visNetwork")` more nodes/edges may be displayed but it's slow. For large graphs then, it's probably best to visualize small parts of the graph using subgraphs

[2016-02-01 19:07] rich-iannone commented on #122
@kmezhoud There are functions to select nodes and to create a subgraph from the selection. So, that could limit what is rendered. But I do agree with @happyshows about the option to export the DOT code and import the graph in Cytoscape or Gephi.

[2016-02-01 19:07] #122 closed

[2016-02-01 19:09] #137 closed

[2016-02-01 20:56] happyshows opened #158 "plaintext as node shape did not seem to work"
Hi,

Could you please check?

[2016-02-01 21:03] rich-iannone commented on #158
@happyshows

It does work for me. I used:

[code]

<img width="563" alt="plaintext_nodes" src="https://cloud.githubusercontent.com/assets/5612024/12731079/d8c86204-c8e3-11e5-9379-409b5df6ec75.png">

There's a new version of **DiagrammeR** on **CRAN** (version 0.8.2). If this code snippet doesn't work, could you try again with the latest version?

[2016-02-01 21:20] happyshows commented on #158
somehow CRAN only release 0.81, will wait for a few hours and try again.

[2016-02-01 22:30] happyshows commented on #158
@rich-iannone I figured out the issue, in my case, shape = plainText got overriden by style = 'filled'. should I set the style column to NA?

[2016-02-01 23:16] happyshows commented on #8
@rich-iannone   Is there any progress on user interactivity? Sorry I lost track after 0.6....
My use case is: I'd like to click on the diagram and fetch value to grab the node/edge info for further action. rAmCharts did very well on this piece, check this https://github.com/DataKnowledge/rAmCharts/search?utf8=%E2%9C%93&q=addlistener

[2016-02-02 02:21] #151 closed

[2016-02-02 16:46] happyshows opened #159 "error when sending tbl_df object (as nodes_df, edges_df) into create_graph"
since the classes of ndf,edf are "tbl_df"     "tbl"        "data.frame"

It will cause a failure in below if clause
[code]

Can this be changed to %in% instead of ==?

[2016-02-02 16:54] timelyportfolio commented on #159
`inherits(edges_df,"data.frame")` probably best way to handle.

[2016-02-03 00:09] ramnathv commented on #159
I have had really bad experiences using code that resembles `class(x) == "foo"`. Always use `inherits(x, "foo")`.

[2016-02-03 08:31] #73 closed

[2016-02-03 08:32] #109 closed

[2016-02-03 08:43] rich-iannone commented on #70
@vbakella @stephlocke @jjallaire @cboettig @ramnathv @timelyportfolio @wch
This is an old issue, but finally solved thanks to the availability of the **rsvg** package. A new **DiagrammeR** function `export_graph` allows for exporting a graph to a few different image file formats. An example:

[code]

Other file types include `png`, `svg`, and `ps`. Try it out!

[2016-02-03 18:32] cboettig commented on #70
very nice, thanks for the note!

[2016-02-03 18:36] puterleat commented on #70
This is great, although I can't see a way to use it for graph created from a dot file - is that possible?

[2016-02-03 18:54] rich-iannone commented on #70
@puterleat

It's a bit manual because not wrapped in an explicit function, but:

[code]

The dot file I used (most valid ones will work):

[code]

I'll try to make this work better. One obvious improvement is adding DOT import in the `import_graph` function.

[2016-02-03 19:47] puterleat commented on #70
That's nice... at present, if it's useful to anyone else, this is what I'm doing:

[code]

![Model caption \label{fig:model}](model.pdf)
[code]

[2016-02-04 18:27] happyshows opened #161 "Graph Nodes Alignment"
Hi,

I noticed that when the graph canvas size becomes big, the graph is centered in the canvas.

Is there a way to specify the first nodes should start from left or right.

The reason is I'm dynamically generating the graph and canvas size on shiny, however when canvas size becomes unnecessarily big, user always needs to scroll to the middle of canvas.

[2016-02-05 01:44] rich-iannone commented on #158
@happyshows it's not ideal but try setting the appropriate field in the `style` column to `""`.

[2016-02-05 01:45] #157 closed

[2016-02-05 13:58] happyshows commented on #158
sure, that's what I did later on

[2016-02-05 13:58] #158 closed

[2016-02-09 18:21] happyshows opened #163 "Nodes alpha attributes"
Hi Rich,

Please provide a minimal example on how to setup the alpha as part of color column.
I tried to follow the doc below but keep getting errors.
color — provide an X11 or hexadecimal color (append 2 digits to hex for alpha)

[2016-02-12 08:18] #126 closed

[2016-02-18 09:16] stephlocke commented on #159
I just forked the repo to do this - will submit a PR request in the next day

[2016-02-23 22:35] rachwhatsit opened #165 "Deploying Shiny Site"
Hi all,

I'm working on an shiny app that has an interactive mind map bit. I'm working in Rstudio, and I can run an app locally with DiagrammeR no problem. The trouble is that when I deploy, all of a sudden I get this:
ERROR: could not find function "grVizOutput"

ui.R
`shinyUI(fluidPage(
  titlePanel("censusVis"),

  sidebarLayout(
    sidebarPanel(
      helpText("Here goes nothing...")

    ),

[2016-02-23 23:05] rich-iannone commented on #165
@rachwhatsit I'm having difficulty deploying because I'm doing it from the development machine (a different error occurs, not related to yours). I can check this on a different machine but this will take just a bit longer.

[2016-02-23 23:14] rachwhatsit commented on #165
ARRRRGH, rookie mistake. I created and added a global.R file and it's good to go. I refuse to admit how long troubleshooting that took.

Thanks for making a neat package. I have a very cool (er...IMHO) interactive Bayesian network loose on the internet now.

[2016-02-23 23:16] rich-iannone commented on #165
@rachwhatsit thanks for the nice words (and for using the package!). Keep making cool stuff! Let me know if there are any other questions.

[2016-02-23 23:16] #165 closed

[2016-02-25 00:17] GitChub opened #166 "DOT code is constant, but the generated graph flips between 2 very different-looking graphs"
This is very strange.  This problem occurs in a Shiny app.  I noticed that the graphs being rendered were sometimes correct and sometimes incorrect.  So, to remove all the possible sources of error in my code, I even changed the renderGrViz code to use *constant* DOT code for the graph.  Even then, it *still* flips (primarily) between two different outputs.

One clue is that (even in the minimal S

[2016-02-25 06:48] #159 closed

[2016-02-25 06:50] #70 closed

[2016-02-25 08:44] cderv opened #167 "Error with set_op arg"
Hi,

When using `select_nodes`, I tried to use `r set_op = "intersection"` as mentionned in the help page.
It get me an error : 'nodes_combined' was not found.

The reason is that in the code, tests for `set_op` is not on `"intersection"` but `"intersect"` so 'nodes_combined' was not created.

[code]

[2016-02-25 23:07] GitChub commented on #166
I found a fix for this in my own code.  You may have noticed that the edges portion of the DOT code was included within the subgraph curly braces.  It's a long story, but that's a consequence of the method I was using to generate the subgraphs and stitch together their DOT code. While GraphViz seemed to be able to handle that, it occurred to me that that's probably not the preferred structure; the

[2016-02-25 23:10] rich-iannone commented on #166
Thanks @GitChub ! You solved the issue faster than I could. And... the Graphviz codebase is not entirely clean and modular so there are all sorts of oddities from heuristics interacting with each other in strange ways.

[2016-02-25 23:11] GitChub commented on #166
Thanks for looking into this Rich.  And, I should have said at the outset:  Great work on DiagrammeR!

[2016-02-25 23:12] #166 closed

[2016-02-25 23:12] rich-iannone commented on #166
@GitChub Aww, thanks! I am glad that it's useful.

[2016-02-26 00:04] GitChub commented on #127
@ivanhanigan I just found that in my application it's useful to keep the edges separate from the subgraph clusters in the DOT code.  You can see an example in my 2nd comment on this issue:
https://github.com/rich-iannone/DiagrammeR/issues/166

[2016-02-26 01:13] ivanhanigan commented on #127
@GitChub thanks for this.  Can I just clarify though, you are recommending I change the structure of the dot code (keeping edges sep from subgraph clusters) for improvements/stability in `graphviz` rendering, but not to solve the `visNetwork` rendering issue I was having?   Or can your solution somehow solve the issue of adding structure to the `visNetwork` output too?

The code below shows that m

[2016-02-26 01:27] rich-iannone commented on #127
@ivanhanigan The reason it does not work for `visNetwork` output is because it doesn't use `DOT` code but instead the data frames within the `dgr_graph` object. The effect of clusters with `visNetwork` can be achieved by providing different `type` values to nodes of a particular grouping.

[2016-02-26 01:32] GitChub commented on #127
@ivanhanigan Yes, I was only mentioning that for improvements/stability in `graphviz` rendering and not to solve the `visNetwork` rendering issue, which it appears Rich has just illuminated.

[2016-02-26 01:46] rich-iannone commented on #127
@GitChub ah, okay. I think a helper function for creating clusters might be useful. That way, the dot code won't have to be extracted and modified. Then the graph could be further modified via functions and rendered with `render_graph`. What do you think?

[2016-02-26 02:05] ivanhanigan commented on #127
@rich-iannone @GitChub thanks for this.  I will probably not use visNetwork as much as graphviz for this work, so I reckon the solution to my issue is to manipulate the dot_code using @GitChub approach.
I'm happy to close this issue now, and happy to test if/when any cluster_helper_function is developed in the future.
Kind regards,
Ivan.

[2016-02-26 02:05] #127 closed

[2016-02-26 02:18] GitChub commented on #127
@rich-iannone A helper function for creating clusters sounds like a good idea at first blush. I should mention that, in my particular situation, I am also modifying the DOT code to include other GraphViz subgraph attributes such as "label" and "labelloc".  I suspect that other users of subgraph clusters would also be inclined to assign subgraph attributes.  I'm guessing, however, that subgraph att

[2016-02-28 05:41] #138 closed

[2016-02-28 05:45] #72 closed

[2016-03-02 19:49] rich-iannone commented on #167
@cderv This caused general confusion for myself as well (and that has crept into the examples). Thank you for bringing this up and providing some solutions. I will address this very soon.

[2016-03-02 19:51] rich-iannone commented on #163
@happyshows sorry for the delay in responding. I believe this may have worked well at one point but is slightly broken now. I'll get it working again very soon and provide documentation on how to use.

[2016-03-02 19:52] rich-iannone commented on #161
@happyshows there must be a way! I think it may have something to do with making a cluster and then aligning that cluster. I'll have to dig into the Graphviz docs to find out more, however.

[2016-03-02 20:00] timelyportfolio commented on #161
Most likely has to do with these [lines](https://github.com/rich-iannone/DiagrammeR/blob/master/inst/htmlwidgets/grViz.js#L19-L27) which provides the nice benefits of responsiveness but also likely results in the behavior @happyshows mentions.  We could make this optional, but would also have to put a lot of extra effort into other methods of sizing and positioning.

[2016-03-07 15:19] AndreWal opened #170 "Include Moderators in Graph"
Hi,

Thank you for providing the great package diagrammer.

One question:

Is it possible to create an edge that points from a node to another edge? Similar to a moderator/intervening variable?

Best,
André

[2016-03-19 02:09] FrissAnalytics opened #171 "using diagrammeR based layout coordinates in visNetwork"
Hi,

great package! I was wondering, is it possible to create a network layout based on the neato, twopi and/or circo engines, say constructed from a dataframe, and use the corresponding coordinates of the layout to construct a visNetwork chart?

Currently in visNetwork you can switch between force based layouts and (more static) igraph based layouts (see [here](http://dataknowledge.github.io/visN

[2016-03-22 03:19] rich-iannone commented on #171
Hi Herman,

Thanks for the nice words and for using the package! I think it is possible to do this and I vaguely recall doing a few experiments on this quite a while back. My approach was to create an SVG and parse that file for coordinate information and then associate those coordinates with the node ID values. I think that would do it. A small issue is the requirement for the DiagrammerSVG packa

[2016-03-22 03:50] timelyportfolio commented on #171
I had done this.  Will try to dig it up in the morning.

[2016-03-22 04:22] rich-iannone commented on #171
Thanks Kenton! That would be great.

[2016-03-22 09:35] FrissAnalytics commented on #171
that would be great!

[2016-03-23 20:15] michsvob opened #172 "Multiline labels"
I can't find a possibility to split long label over multiple lines - is this even supported?
Thanks

My code:
library(DiagrammeR)
dataNodes<-as.list(read.csv(file.path("/nodes.csv"),header=FALSE,sep=";"))
dataEdges<-as.list(read.csv(file.path("/edges.csv"),header=FALSE,sep=";"))

nodes <-create_nodes(
	nodes=dataNodes$V1,
	label = dataNodes$V2,
	shape=dataNodes$V3,
	color=dataNodes$V4,
	fontcolor=

[2016-03-24 13:58] timelyportfolio commented on #171
Here is a quick, ugly way of accomplishing this.  Sorry it took me a little while to get started on it.  We export the graph to `SVG` with `export_svg` and then parse the coordinates.  We change the graph nodes `x` and `y` to use these parsed coordinates.

[code]

[2016-03-24 14:24] timelyportfolio commented on #171
This gets close, but I'm still missing something. I'll keep trying.

[2016-03-24 16:18] FrissAnalytics commented on #171
Hi!

thanks for the update! I tried the code but on my windows machine I get an error at approx this line:

[code]

Is there anything I should do here?

[2016-03-24 16:36] timelyportfolio commented on #171
hmmm, I made a bunch of changes in the same message, so first, might need to refresh issue/clear cache.  With the newest set of code, this should not happen, but it does highlight the lack of robustness.  I'll try to add a layer of robustness quickly that might help.

[2016-03-24 16:38] FrissAnalytics commented on #171
great!

[2016-03-24 17:35] timelyportfolio commented on #171
Ok, the lack of robustness is caused by my reliance on `shape='circle'`.  I could expand the code to include all sorts of shapes but then it would get quite complicated.  Try the below with `shape='circle'` for all nodes.

[code]

then if you want to change the shape to one of those available in `?visNodes`, you can manually change like below

[code]

and hopefully you'll see an assortment of shap

[2016-04-03 10:47] stephlocke commented on #149
I just got the same as @vnijs - works locally (Windows) but did not work via Travis
https://github.com/stephlocke/RMSFTDP/blob/master/vignettes/RMicrosoft.Rmd
outputs to
http://stephlocke.github.io/RMSFTDP/RMicrosoft.html

with error message:
`t.getTransformToElement is not a function`

[2016-04-03 11:20] vnijs commented on #129
Thanks @ghost. Got it working.

[2016-04-03 11:20] #129 closed

[2016-04-03 11:21] vnijs commented on #142
Works not with the updated version of mermaid.js in the github version

[2016-04-03 11:21] #142 closed

[2016-04-03 11:22] vnijs commented on #149
@stephlocke Have you tried the version on github? Seems to work fine on windows and mac although there are some issues with the css (see https://github.com/rich-iannone/DiagrammeR/pull/160)

[2016-04-03 11:47] stephlocke commented on #149
Using dev version adds a .section class with an opacity of 0.2 that affects my whole doc
http://stephlocke.github.io/RMSFTDP/RMicrosoft.html

[2016-04-04 13:36] michsvob commented on #172
I found the way - splitting each label by inserting \n into the string to be split. Though it might be better to add newline somehow automatically when reaching the width of the node element.

[2016-04-08 03:56] rich-iannone commented on #172
@michsvob sorry for the delay, but yeah, it's `\n` to force a line break. What you're suggesting about the automatic line break is interesting and I think would be a great enhancement! I'll make a separate issue and label it as an **enhancement** to remind myself to work on it.

[2016-04-08 03:56] #172 closed

[2016-04-08 03:58] rich-iannone opened #173 "Add automatic line breaks for text within a fixed-width node"
It would be nice to have text automatically create newlines for at least those nodes that have a width set. Not sure this would be simple to implement but it might be fun trying.

[2016-04-08 04:01] rich-iannone commented on #171
@FrissAnalytics @timelyportfolio I'm late as usual to this discussion, but, very nice suggestion and solution! Would it be okay if I incorporate your code into the package? Might take awhile but it would be a nice enhancement.

[2016-04-08 04:25] timelyportfolio commented on #171
Absolutely, do with it whatever you like.  Let me know if I can help.

[2016-04-08 09:04] stephlocke opened #174 "export_graph does not work with mermaid"
If I try using the latest dev version of DiagrammeR to do
[code]
I get `Error in file.exists(diagram) : invalid 'file' argument`. If I use the other diagram engine things work fine:
[code]

## If it's a bug
Can we fix it?

## If it's not a bug but a limitation
It would be helpful if there was validation on the function export_graph() to provide a more informative error message, and the documentati

[2016-04-08 17:21] FrissAnalytics commented on #171
I thought about a few more things. In order have some more layout options it would be nice for tree like networks to use d3.js layouts. These would be nice for radial layouts, see for instance the [radial dendrogram](https://bl.ocks.org/mbostock/4739610f6d96aaad2fb1e78a72b385ab)  and [radial tidy tree](https://bl.ocks.org/mbostock/2e12b0bd732e7fe4000e2d11ecab0268) examples. In addition, we could u

[2016-04-22 08:05] scizmeli commented on #94
Any advances with this? I could not find any reference to Neo4j in the current code & documentation.

[2016-04-22 10:51] scizmeli opened #177 "Catching mouse events in Shiny?"
Hi,

Congratulations for the wonderful package. It looks very well made and is very promising.

My question is : Can we catch mouse events if we display a graph in a Shiny App so that we can build an interactive application around it?
Could not find any information about it neither in the documentation nor on the web.
Thanks

[2016-04-24 09:29] tbates opened #178 "example csv files missing?"
[home page example](https://github.com/rich-iannone/DiagrammeR) uses calls like:

    system.file("examples/contributors.csv", package = "DiagrammeR")

These files appear to be missing, and `ls(/Library/Frameworks/R.framework/Versions/3.2/Resources/library/DiagrammeR/examples
)` tells me that examples is empty. Are the csvs supposed to ship with the package?

An alternative would be to move these

[2016-04-26 00:45] tbates opened #179 "Diagram renders in graphviz.app but gives error in .js"
This .gv file [tsls.txt](https://github.com/rich-iannone/DiagrammeR/files/235661/tsls.txt) (renamed for upload with .txt suffix) renders thus in graphviz.app on mac:
![tsls](https://cloud.githubusercontent.com/assets/736156/14803317/5347ff68-0b50-11e6-9757-dc5b5e32e9e8.png)

Drawn by Diagrammer() it gives the error below in the browser. Other models are drawing fine (which is fabulous!).

This is

[2016-04-26 07:31] rich-iannone commented on #178
@tbates There are indeed supposed to be CSV files shipping with the package for the purpose of demonstrating some examples. I thought that `system.file` used the `/inst` folder as root, but I guess I was mistaken.

Putting the data in the `data` folder does seem sensible though, so, I'll do that. Thanks for letting me know about this!

[2016-04-26 07:37] rich-iannone commented on #179
I am experiencing the same error. Seems like it could be a bug in the version of *Graphviz* that *viz.js* is using. It's hard to pin down what's causing the error. Using `{rank = same; qtl X}` instead of `{rank = same; qtl X Y}` shows the drawing (of course `qtl`, `X`, and `Y` are no longer in the same rank because of this). Also, removing the label statement from `X -> Y [dir=both, label="-0.8"]`

[2016-04-26 22:38] tbates commented on #179
Thanks for looking into this. Here's another one if it helps to compare.

Pretty basic SEM model (from umx package) which renders in graphviz on mac (Version 2.39 (2.39.20141129.0545)), but fails in the viz.js library in browser render.

[AQ.txt](https://github.com/rich-iannone/DiagrammeR/files/237631/AQ.txt)

[2016-04-30 17:52] CW214 opened #181 "Tooltip doesn't Export to webpage"
First, this is a fantastic package.

When using tooltip (I want to show additional data than the node name within the shape) it works on the diagram within RStudio.  When I export (Save as Webpage in RStudio), the diagram is exported but the tooltip is now only the title in the shape, thus the node name.

[2016-04-30 18:12] CW214 opened #182 "Title on graph"
I would like to add a visible title to the diagram.  I have tried a number of different things. It could just be me but I could not find a solution after searching the different sources.

If this is already possible, could this be put into the documentation on the website.

I want to make multiple diagrams in one go and a title on each of them would be helpful.

[2016-05-27 14:31] chelliusbee commented on #174
Just piping up to confirm this, I get the same error with mermaid and export_graph.

[2016-05-28 09:31] CW214 commented on #181
Looked into it further. It seems to work on Chrome Version 50.0.2661.102. But not IE11 or Edge 25

[2016-06-06 02:28] rich-iannone commented on #167
@crderv Finally modified the help files associated with all functions that have the `set_op` arg. Thanks again for filing this issue.

[2016-06-06 02:28] #167 closed

[2016-06-06 02:30] #99 closed

[2016-06-08 20:45] smeme commented on #71
Is it possible to add both - supersciprts and subscripts? The following snippet adds extra spaces for the subscripts:

    grViz("
     digraph dot {
     node [shape = square,
          color = black,
          label = '&sigma;@^{i,j}@_{k,l}']
     sigma
     }
    ", engine = "dot")

[2016-06-11 19:57] rich-iannone commented on #174
Sorry for the long wait on this. This is currently a limitation but I will work on making 'export_graph()' produce graphical output files with mermaid and Graphviz graph definitions. This is high priority and the next feature to add.

[2016-06-11 23:49] rich-iannone commented on #174
@timelyportfolio not sure if you have time for this, but `mermaid.js` does have SVG support. I just don't know how to expose it with `V8` in the `export_svg()` function (that currently creates SVG text for Graphviz). What might take me hours might take you much less than one, so, if you're interested, your help here would be appreciated.

[2016-07-03 23:27] ablazko commented on #165
Hi @rachwhatsit !

I'm going through the same problem that you've mentioned. The message `ERROR: could not find function "grVizOutput"` is really annoying me! But I didn't follow how did you get this work.
Could you please walk me through your solution using global.R?

Even sometimes when I run local I get this error. :/

I appreciate a lot! ;)
Thanks

[2016-07-04 00:41] ablazko commented on #165
Hi @rachwhatsit !

I've figure it out the solution, which was very simple after all!

**Solution**: just write a call of `library(Diagrammer)` in the ui.R file!

;-)

[2016-07-04 15:49] rachwhatsit commented on #165
@ablazko Do you have a global.R file that loads all the packages you're using in your Shiny site? That's what did it for me.

Full code of my example here: https://github.com/rachwhatsit/summer-decision-net

[2016-07-07 21:19] gaborcsardi opened #183 "grViz html widget does not work in Rcloud"
We have added htmlwidgets support to Rcloud, but unfortunately `grViz` does not work, because it suppresses the viewer.

Looks like the intent was to avoid some old RStudio versions, but the current way also avoids other viewers, like the one we defined for Rcloud.

Would you be open to incorporate a simple fix that results the same behaviour is RStudio, but allows other viewers? E.g. something li

[2016-07-07 21:51] rich-iannone commented on #183
Gábor,

Good to hear from you! I’d love for the Graphviz-based visualizations in DiagrammeR to work with Rcloud.

Would you be able to send a quick PR with the change? It’s not so much that I’m lazy to do this, it’s more that I’d like to make sure it works without problems and, more importantly, I’d be honoured to have you in my list of contributors!

[2016-07-07 22:12] gaborcsardi commented on #183
Haha, thanks, submitted a PR!